<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/template1.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">
        <script type="text/javascript">
            function start() {
                PF('dlgPreparandoZip').show();
            }

            function stop() {
                PF('dlgPreparandoZip').hide();
            }
        </script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAD5nMObbgwCOQVy8NBXnVCvn61Enn0DD0" type="text/javascript"></script>
        <script type="text/javascript" src="#{externalContext.requestContextPath}/resources/javascript/jquery.scannerdetection.js"></script>
        <script type="text/javascript">
            $(document).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                ignoreIfFocusOn: '.scanOff',
                onKeyDetect: function (event) {
//                    console.log(event.which + " --> " + String.fromCharCode(event.which));
                    if (event.which === 13) {
                        return;
                    }
                    return false;
                },
                onComplete: function (barcode, qty) {

                    $('#scanInput').val(barcode);
                    remoteCommand();
                }
            });
        </script>

        <h:form id="fMain" >           
            <p:remoteCommand name="onload" actionListener="#{pinParteBacking.setPaginaActual('acredito')}" process="@this" autoRun="true" update="acreditoPanel botones"/>
            <p:panel id="acreditoPanel" header="Gestión de Acreditos" style="width:39.8rem;margin:1.2rem auto;" >

                <p:panelGrid id="panelPrincipal" columns="1" styleClass="noborder">                      
                    <p:panelGrid columns="3" columnClasses="nopadding-left arriba,nopadding-left arriba,nopadding-left arriba">
                        
                        <p:panelGrid columns="1" columnClasses="noborder nopadding-left">
      
                                <p:panelGrid columns="2" columnClasses="nopadding izquierda t70, nopadding derecha t130">
                                    <p:outputLabel id="tipoInforme" value="#{pinParteBacking.tipoInforme}" /> 
                                    <p:outputLabel value="#{pinParteBacking.selectedParte.idParte gt 0 ? pinParteBacking.selectedParte.unidad.nombre : ''}" style="color:blue;" />
                                </p:panelGrid>

                                <p:inputText id="numAcredito" label="Número acredito" 
                                             value="#{pinParteBacking.selectedParte.numParteFormateado}"
                                             readonly="true" 
                                             style="width: 14rem;font-size: x-large;text-align: center"/>
 
                        </p:panelGrid>

                        <p:panelGrid columns="1" columnClasses="nopadding-left">
                            <p:outputLabel value="F. Registro" for="fechaRegistro"/>
                            <p:calendar id="fechaRegistro" label="Fecha Registro"
                                        value="#{empty pinParteBacking.selectedParteChecked ? '' : pinParteBacking.selectedParte.fechaRegistro}"
                                        size="17" readonly="true" locale="es"
                                        showOn="none" 
                                        title="Fecha de registro del acredito"
                                        pattern="dd-MM-yyyy HH:mm"/>

                            <p:outputLabel value="F. Expedición" for="fechaAcredito" />
                            <p:calendar id="fechaAcredito" label="Fecha Acredito"
                                        value="#{pinParteBacking.selectedParte.fechaSuceso}"
                                        size="17" readonly="true" locale="es"
                                        showOn="none" 
                                        title="Fecha de hecho referenciado en el acredito"
                                        pattern="dd-MM-yyyy HH:mm"/>
                        </p:panelGrid>

                        <p:panelGrid columns="1" columnClasses="nopadding-left">
                                <p:outputLabel value="Firmante" for="firmante"/>
                                <p:inputText id="firmante" label="Firmante" 
                                             value="#{pinParteBacking.selectedParte.denunciante}"
                                             style="width: 9.5rem" readonly="true"/>

                        </p:panelGrid>

                    </p:panelGrid>

                    <p:outputLabel value="Lugar" for="lugar"/>
                    <p:inputText id="lugar" label="Lugar" style="margin-bottom: 1rem;width: 36rem"
                                 value="#{pinParteBacking.selectedParte.lugar}"
                                 readonly="true"/>

                    <p:outputLabel value="Solicitante" for="solicitante"/>
                    <p:inputText id="solicitante" label="Solicitante" style="margin-bottom: 1rem;width: 36rem"
                                 value="#{pinParteBacking.selectedParte.personas[0].numDocumento} - #{pinParteBacking.selectedParte.personas[0].nombre}"
                                 readonly="true"/>

                    <p:outputLabel value="Asunto" for="asunto"/>
                    <p:inputText id="asunto" label="Asunto" style="margin-bottom: 1rem;width: 36rem"
                                 value="#{pinParteBacking.selectedParte.asuntoCompleto}"
                                 readonly="true"/>

                    <p:outputLabel value="Texto de la acreditación" for="acredito" />
                    <p:inputTextarea id="acredito" label="Texto de la acreditación"
                                     value="#{pinParteBacking.selectedParte.informe}"
                                     style="width: 36rem" rows="7" readonly="true" autoResize="false"  scrollHeight="5"/>

                </p:panelGrid>                   

            </p:panel>

            <p:panelGrid  columns="1" styleClass="noborder" style="width: 115em; margin: 1rem auto;">        
                <p:panelGrid id="botones" columns="15" styleClass="border">
                    <p:commandLink title="Abrir un acredito por su número" styleClass="fa fa-folder-open-o"
                                   style="font-size:1rem"
                                   disabled="#{!user.consultas}"
                                   update="abrirAcredito botones"
                                   actionListener="#{pinParteBacking.resetPatronBusqueda()}"
                                   oncomplete="PF('dlgAbrirAcredito').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-search"
                                   style="font-size:1rem"
                                   disabled="#{!user.consultas}"
                                   oncomplete="PF('dlgBuscarAcredito').show();"/>

                    <p:commandLink title="Recargar última búsqueda" styleClass="fa fa-refresh"
                                   style="font-size:1rem"
                                   disabled="#{!user.consultas}"
                                   update="fMain:acreditoPanel :fMain:tAcredito"
                                   actionListener="#{pinParteBacking.search(false, true, false)}"/>

                    <p:commandLink title="Crear un nuevo acredito" styleClass="fa fa-plus"
                                   style="font-size:1rem"
                                   disabled="#{!pinParteBacking.canAdd}"  
                                   update="fMain:acreditoPanel :fMain:tAcredito :editarAcredito botones"  
                                   actionListener="#{pinParteBacking.crearAcredito()}"                                 
                                   oncomplete="PF('dlgEditarAcredito').show();" />

                    <p:commandLink title="Modificar el acredito seleccionado" styleClass="fa fa-pencil"
                                   style="font-size:1rem"
                                   disabled="#{!pinParteBacking.canEditOrdenanza}"  
                                   update="fMain:acreditoPanel :fMain:tAcredito :editarAcredito"  
                                   actionListener="#{pinParteBacking.editarAcredito()}"                                 
                                   oncomplete="PF('dlgEditarAcredito').show();" />

                    <p:commandLink disabled="#{!pinParteBacking.canDeleteAcredito}" 
                                   oncomplete="PF('dlgBorrarAcredito').show();" update=":borrarAcredito"
                                   styleClass="fa fa-trash" style="font-size:1.4em"
                                   title="Anular el acredito seleccionado" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink disabled="#{!pinParteBacking.canPrint}"  
                                   styleClass="fa fa-print" style="font-size:1.4em"
                                   title="Imprimir el acredito seleccionado" 
                                   update="verParte"
                                   actionListener="#{pinParteBacking.generateReport()}"
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();" />

                    <p:commandLink title="Descargar documentos asociados al acredito" styleClass="fa fa-download"
                                   style="font-size:1rem"
                                   disabled="#{empty pinParteBacking.selectedParte.adjuntos}" onclick="PrimeFaces.monitorDownload(start, stop);"
                                   ajax="false"> <!-- Es necesario deshabilitar ajax porque fileDownload requiere un refresco de la página completo -->
                        <p:fileDownload value="#{pinParteBacking.zipFile}" />
                    </p:commandLink>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink styleClass="fa fa-history" style="font-size:1rem"
                                   title="Ver historico de visualización/impresión del acredito" 
                                   update="historicoImpresion"
                                   disabled="#{pinParteBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerHistoricoImpresion').show();" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel rendered="#{!empty pinParteBacking.msgAmbito}" value="ÁMBITO: #{pinParteBacking.msgAmbito}" style="color: red;font-size: 1.4em;"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif" height="17"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tAcredito" 
                             var="acredito" emptyMessage="Realice una búsqueda para ver acreditos" 
                             rowKey="#{acredito.idParte}" 
                             selection="#{pinParteBacking.selectedParteChecked}"
                             paginator="true" rows="15" style="min-height: 20rem;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinParteBacking.lazyResultadoBusqueda}" lazy="true"
                             styleClass="myTable" rowIndexVar="rowIndex"
                             rowStyleClass="#{acredito.anulado ? 'anulado' : 'normal'}">

                    <p:ajax event="rowSelect" update=":fMain:acreditoPanel fMain:botones editarAcredito" listener="#{pinParteBacking.selectRow()}"  />
                    <p:ajax event="rowUnselect" update=":fMain:acreditoPanel fMain:botones editarAcredito" listener="#{pinParteBacking.selectRow()}" />
                    <p:ajax event="rowSelectCheckbox" update=":fMain:acreditoPanel fMain:botones editarAcredito" listener="#{pinParteBacking.selectRow()}"/>
                    <p:ajax event="rowUnselectCheckbox" update=":fMain:acreditoPanel fMain:botones editarAcredito" listener="#{pinParteBacking.selectRow()}"/>
                    <p:ajax event="toggleSelect" update=":fMain:acreditoPanel fMain:botones" listener="#{pinParteBacking.selectRow()}" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" selectionMode="multiple" style="width:1rem;text-align:center" />
                            <p:column rowspan="2" headerText="Número" style="width: 5rem" styleClass="centro" />

                            <p:column colspan="2" headerText="Fechas"  style="width: 12rem" />

                            <p:column rowspan="2" headerText="Firmante" style="width: 5rem" styleClass="centro" />
                            <p:column rowspan="2" headerText="Asunto" style="width: 20rem" styleClass="izquierda" />
                            <p:column rowspan="2" headerText="Unidad" style="width: 8rem" styleClass="izquierda" />

                            <p:column rowspan="2" headerText="Estado" style="width: 16rem" />
                        </p:row>

                        <p:row>
                            <p:column headerText="Registro" styleClass="centro" />
                            <p:column headerText="Expedición" styleClass="centro" />
                        </p:row>
                    </p:columnGroup>

                    <p:column selectionMode="multiple"  style="width:1rem;text-align:center"/>

                    <p:column style="width: 5rem" styleClass="centro">
                        <h:outputText value="#{acredito.numParteFormateado}"  />
                        <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{acredito.motivoAnulacion}" rendered="#{!empty acredito.motivoAnulacion}"/>
                    </p:column>

                    <p:column style="width: 6rem" styleClass="centro">
                        <h:outputText value="#{acredito.fechaRegistro}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>     

                    <p:column style="width: 6rem" styleClass="centro">
                        <h:outputText value="#{acredito.fechaSuceso}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>   


                    <p:column style="width: 5rem" styleClass="centro">
                        <h:outputText value="#{acredito.listaActuantes}" />
                    </p:column>  

                    <p:column style="width: 20rem" styleClass="izquierda">
                        <h:outputText value="#{acredito.asuntoCompleto}" />
                    </p:column>  

                    <p:column style="width: 8rem" styleClass="izquierda">
                        <h:outputText value="#{acredito.unidad.nombre}" />
                    </p:column>  

                    <p:column styleClass="izquierda">
                        <h:outputText value="#{acredito.estadoActual.estado.nombre}" />
                    </p:column>  
                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la apertura de acreditos  -->
        <ui:include src="dialogs/acreditos/dlgAbrirAcredito.xhtml" />

        <!-- Dialog-box para las búsquedas de acreditos -->
        <ui:include src="dialogs/acreditos/dlgBuscar.xhtml" />

        <!-- Dialog-box para editar un acredito-->
        <ui:include src="dialogs/acreditos/dlgEditarAcredito.xhtml" />

        <!-- Dialog-box para eliminar acreditos-->
        <ui:include src="dialogs/acreditos/dlgBorrarAcredito.xhtml" />   

        <!-- Dialog-box para imprimir acreditos-->
        <ui:include src="dialogs/acreditos/dlgImprimiendo.xhtml" /> 
        <ui:include src="dialogs/acreditos/dlgVerParte.xhtml" /> 
        <ui:include src="dialogs/acreditos/dlgVerImagen.xhtml" /> 

        <!-- Dialog-box para añadir un nuevo actuante-->
        <ui:include src="dialogs/acreditos/dlgAnadirFirmante.xhtml" />
        <ui:include src="dialogs/acreditos/dlgAnadirPersona.xhtml" />


        <!-- Dialog-box para añadir un nuevo documento adjunto-->
        <ui:include src="dialogs/acreditos/dlgAnadirAdjunto.xhtml" />
        <ui:include src="dialogs/acreditos/dlgUploadingFile.xhtml" />
        <ui:include src="dialogs/acreditos/dlgPreparandoZip.xhtml" />

        <!-- Dialog-box para ver situaciones e historico de impresion-->
        <ui:include src="dialogs/acreditos/dlgVerHistoricoImpresion.xhtml" /> 
    </ui:define>

</ui:composition> 