<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">

        <h:form id="fMain" prependId="false">
            <p:defaultCommand target="btnBuscar" />
            <p:panel header="Listados" style="margin-top: 20px;" styleClass="largefont">

                <h:panelGrid columns="14" style="margin:20px 0 0 0" cellpadding="5">
                    <p:outputLabel for="tipo" value="Tipo de listado" />
                    <p:selectOneMenu id="tipo" value="#{pinListadosBacking.tipo}" style="width: 15em">
                        <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                        <f:selectItem itemLabel="Asunto" itemValue="#{Constants.LISTADO_ASUNTOS}" />
                        <f:selectItem itemLabel="Categoría actuante" itemValue="#{Constants.LISTADO_CATEGORIAS}" />
                        <f:selectItem itemLabel="Destinatario" itemValue="#{Constants.LISTADO_DESTINATARIOS}" />    
                        <f:selectItem itemLabel="Estado tramitación" itemValue="#{Constants.LISTADO_ESTADOS_TRAMITACION}" />  

                        <p:ajax listener="#{pinListadosBacking.onSelectTipo()}" partialSubmit="true" update="chkIncluirBorradores filtro btnBuscar" />
                    </p:selectOneMenu>

                    <p:outputLabel for="filtro" value="Filtro" />
                    <p:selectOneMenu id="filtro" value="#{pinListadosBacking.subtipo}" disabled="#{pinListadosBacking.tipo eq '-1'}" style="width: 22em;">
                        <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                        <f:selectItems value="#{pinListadosBacking.subtipos}" var="subtipo" itemValue="#{subtipo}" itemLabel="#{subtipo}" />
                        <p:ajax update="btnBuscar" />
                    </p:selectOneMenu>

                    <p:spacer width="20"/>

                    <p:selectBooleanCheckbox id="chkIncluirBorradores" 
                                             value="#{pinListadosBacking.incluirBorradores}" 
                                             itemLabel="Incluir borradores" 
                                             disabled="#{pinListadosBacking.tipo eq Constants.LISTADO_ESTADOS_TRAMITACION}"/>

                    <p:spacer width="20"/>

                    <p:outputLabel for="fecha_desde" value="Sucecido entre" />
                    <p:calendar id="fecha_desde" label="Desde"
                                value="#{pinListadosBacking.fechaDesde}"
                                size="15" readonly="false" locale="es"
                                pagedate="#{pinListadosBacking.hoy}"
                                title="Fecha de inicio de la búsqueda"  
                                placeholder="dd-MM-aaaa"
                                pattern="dd-MM-yyyy">
                        <p:ajax event="dateSelect" update="btnBuscar"/>
                        <p:ajax event="keyup" update="btnBuscar"/>
                    </p:calendar>

                    <p:outputLabel for="fecha_hasta" value="y" />
                    <p:calendar id="fecha_hasta" label="Hasta"
                                value="#{pinListadosBacking.fechaHasta}"
                                size="15" readonly="false" locale="es"
                                pagedate="#{pinListadosBacking.hoy}"
                                title="Fecha de finalización de la búsqueda"
                                placeholder="dd-MM-aaaa" maxdate="#{pinListadosBacking.hoy}"
                                pattern="dd-MM-yyyy">
                        <p:ajax event="dateSelect" update="btnBuscar"/>
                        <p:ajax event="keyup" update="btnBuscar"/>
                    </p:calendar>

                    <p:commandLink id="btnBuscar" title="Buscar" 
                                   actionListener="#{pinListadosBacking.generateReport()}"
                                   disabled="#{(pinListadosBacking.tipo eq '-1')  or (!pinListadosBacking.group and empty pinListadosBacking.subtipo) or (pinListadosBacking.subtipo eq '-1') or (empty pinListadosBacking.fechaDesde) or (empty pinListadosBacking.fechaHasta)}"
                                   update="pdfObject" >
                        <i class="fa fa-search" style="font-size:1.4em" />
                    </p:commandLink>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>

                </h:panelGrid>

                <p:panel id="pdfObject" styleClass="noborder centro" style="min-height: 650px">
                    <p:media value="#{pinListadosBacking.stream}" player="pdf" width="1300" height="650" id="pdf" rendered="#{pinListadosBacking.pdfFileName ne null}" >  
                        Su navegador no puede mostrar archivos PDF, <h:outputLink value="#{pinListadosBacking.pdfFileName}">click aquí</h:outputLink> para descargar el documento.  
                    </p:media>  
                </p:panel>
            </p:panel>

        </h:form>

    </ui:define>
</ui:composition> 