<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/template1.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">
        <script type="text/javascript" src="#{externalContext.requestContextPath}/resources/javascript/jquery.scannerdetection.js"></script>
        <script type="text/javascript">
            $(document).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                ignoreIfFocusOn: '.scanOff',
                onKeyDetect: function (event) {
//                    console.log(event.which + " --> " + String.fromCharCode(event.which));
                    if (event.which === 13) {
                        return;
                    }
                    return false;
                },
                onComplete: function (barcode, qty) {

                    $('#scanInput').val(barcode);
                    remoteCommand();
                }
            });
        </script>

        <h:form id="fMain"> 
            <p:panel id="objetoPanel" header="Gestión de Objetos" style="width:60em;margin:1em auto;" >

                <p:panelGrid columns="2" styleClass="noborder" columnClasses="arriba, arriba">  
                    <p:panelGrid id="datos" style="border:1px solid lightgray !important;padding: 5px;margin-bottom:5px; border: 0px !important; ">
                        <p:row>
                            <p:column>
                                <p:panelGrid columns="2" columnClasses="nopadding izquierda t80, nopadding derecha t170" style="margin: 0px">
                                    <p:outputLabel value="Objeto ID" />
                                    <p:outputLabel rendered="#{pinObjetoBacking.idObjeto ne Constants.EMPTY_STR}" value="#{pinObjetoBacking.selectedObjeto.parte.unidad.nombre}" style="color:blue;" />
                                </p:panelGrid>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="F. Entrada" />
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Tipo" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column rowspan="3" styleClass="arriba">
                                <p:inputText id="idObjeto" label="Objeto ID" 
                                             value="#{pinObjetoBacking.selectedObjeto.idObjeto le 0 ? Constants.EMPTY_STR : pinObjetoBacking.selectedObjeto.idObjeto}"
                                             readonly="true" 
                                             style="height: 32px;width: 215px;font-size: x-large;text-align: center"/>
                            </p:column>
                            <p:column>
                                <p:calendar id="fechaRegistro" label="Fecha Registro"
                                            value="#{empty pinObjetoBacking.selectedObjetoChecked ? '' : pinObjetoBacking.selectedObjeto.parte.fechaRegistro}"
                                            size="17" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de entrada del objeto"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="tipo" label="Tipo"
                                             value="#{pinObjetoBacking.selectedObjeto.tipo.nombre}"
                                             readonly="true" size="20" />
                            </p:column>

                        </p:row>

                        <p:row>
                            <p:column />
                            <p:column>
                                <p:outputLabel value="Identificador" for="identificador"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column />
                            <p:column>
                                <p:inputText id="identificador" label="Identificador"
                                             value="#{pinObjetoBacking.selectedObjeto.numObjeto}"
                                             readonly="true" size="20"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="Descripción" for="descripcion"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="3">
                                <p:inputText id="descripcion" label="Descripcion" 
                                             value="#{pinObjetoBacking.selectedObjeto.nota}"
                                             size="85" readonly="true"/>
                            </p:column>
                        </p:row>

                    </p:panelGrid>
                </p:panelGrid>

            </p:panel>

            <p:panelGrid  columns="1" styleClass="noborder" style="width: 90em; margin: 1em auto;">        
                <p:panelGrid id="botones" columns="13" styleClass="border">
                    <p:commandLink title="Abrir una objeto por su número de identificación" styleClass="fa fa-folder-open-o"
                                   style="font-size:1.4em"
                                   disabled="#{!user.consultas}"
                                   update="abrirObjeto"
                                   actionListener="#{pinObjetoBacking.resetSearchFields()}"
                                   oncomplete="PF('dlgAbrirObjeto').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-search"
                                   style="font-size:1.4em"
                                   disabled="#{!user.consultas}"
                                   oncomplete="PF('dlgBuscarObjeto').show();"/>

                    <p:commandLink title="Recargar última búsqueda" styleClass="fa fa-refresh"
                                   style="font-size:1.4em"
                                   disabled="#{!user.consultas}"
                                   update=":fMain"
                                   actionListener="#{pinObjetoBacking.search(true)}"/>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />


                    <p:commandLink styleClass="fa fa-history" style="font-size:1.4em"
                                   title="Ver historico de situaciones del objeto" 
                                   update="historicoObjeto"
                                   disabled="#{pinObjetoBacking.selectedObjeto.idObjeto le 0}"
                                   oncomplete="PF('dlgHistoricoObjeto').show();" />

                    <p:commandLink disabled="#{!pinObjetoBacking.canPrint}"  
                                   styleClass="fa fa-tag" style="font-size:1.4em"
                                   title="Ver/Imprimir la etiqueta del objeto seleccionado" 
                                   update="verEtiqueta dialogImprimiendo"
                                   actionListener="#{pinObjetoBacking.generateEtiquetaReport()}"  
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();" />

                    <p:commandLink disabled="#{!pinObjetoBacking.canPrint}"  
                                   styleClass="fa fa-print" style="font-size:1.4em"
                                   title="Ver/Imprimir el documento en el que se hizo entrega del objeto seleccionado" 
                                   update="verParte dialogImprimiendo"
                                   actionListener="#{pinObjetoBacking.generateParteReport()}"  
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel rendered="#{!empty pinObjetoBacking.msgAmbito}" value="ÁMBITO: #{pinObjetoBacking.msgAmbito}" style="color: red;font-size: 1.4em;"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif" height="17"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tObjeto" 
                             var="objeto" emptyMessage="Realice una búsqueda para ver objetos entregados" 
                             rowKey="#{objeto.idObjeto}" 
                             selection="#{pinObjetoBacking.selectedObjetoChecked}"
                             paginator="true" rows="15" style="min-height: 35em;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinObjetoBacking.lazyResultadoBusqueda}"  lazy="true"
                             styleClass="myTable" rowIndexVar="rowIndex">

                    <p:ajax event="rowSelect" update=":fMain:datos :fMain:botones" listener="#{pinObjetoBacking.selectRow}"  />
                    <p:ajax event="rowUnselect" update=":fMain:datos :fMain:botones" listener="#{pinObjetoBacking.selectRow}" />
                    <p:ajax event="rowSelectCheckbox" update=":fMain:datos :fMain:botones" listener="#{pinObjetoBacking.selectRow}"/>
                    <p:ajax event="rowUnselectCheckbox" update=":fMain:datos :fMain:botones" listener="#{pinObjetoBacking.selectRow}"/>
                    <p:ajax event="toggleSelect" update=":fMain:datos  :fMain:botones" listener="#{pinObjetoBacking.selectRow}" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" selectionMode="multiple"  style="width:1.2em;text-align:center" />
                            <p:column rowspan="2" headerText="Número" style="width: 10em" />
                            <p:column rowspan="2" headerText="Tipo" style="width: 10em" />
                            <p:column rowspan="2"  headerText="Identificador" sortBy="#{objeto.tipo}" style="width:10em" styleClass="centro" />
                            <p:column colspan="3" headerText="Documento de referencia" style="width:30em" styleClass="centro" />

                        </p:row>
                        <p:row>
                            <p:column headerText="Número" sortBy="#{objeto.parte.numParteFormateado}" styleClass="centro" />
                            <p:column headerText="Fecha" sortBy="#{objeto.parte.fechaRegistro}" styleClass="centro" /> 
                            <p:column headerText="Unidad" sortBy="#{objeto.parte.unidad}"  styleClass="centro" />
                        </p:row>
                    </p:columnGroup>

                    <p:column selectionMode="multiple"/>

                    <p:column  sortBy="#{objeto.idObjeto}"  styleClass="centro">
                        <h:outputText value="#{objeto.idObjeto}" />    
                    </p:column>

                    <p:column sortBy="#{objeto.tipo}">
                        <h:outputText value="#{objeto.tipo.nombre}"  />                       
                    </p:column>

                    <p:column sortBy="#{objeto.numObjeto}"  styleClass="centro">
                        <h:outputText value="#{objeto.numObjeto}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column sortBy="#{objeto.parte.numParteFormateado}" styleClass="centro">
                        <h:outputText value="#{objeto.parte.numParteFormateado}" />
                    </p:column>  

                    <p:column sortBy="#{objeto.parte.fechaRegistro}" styleClass="centro">
                        <h:outputText value="#{objeto.parte.fechaRegistro}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column >                         
                        <h:outputText value="#{objeto.parte.unidad.nombre}" />
                    </p:column>  
                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la apertura del objeto seleccionado por su número -->
        <ui:include src="dialogs/objetos/dlgAbrirObjeto.xhtml" />

        <!-- Dialog-box para las búsquedas de objetos -->
        <ui:include src="dialogs/objetos/dlgBuscar.xhtml" />

        <!-- Dialog-box para ver el histórico de movimiento del objeto seleccionado-->
        <ui:include src="dialogs/objetos/dlgHistoricoObjeto.xhtml" /> 
        <ui:include src="dialogs/objetos/dlgAnadirSituacionObjeto.xhtml" /> 

        <!-- Dialog-box para ver la etiqueta de un objeto o su parte-->
        <ui:include src="dialogs/objetos/dlgVerParte.xhtml" /> 
        <ui:include src="dialogs/objetos/dlgVerEtiqueta.xhtml" /> 
        <ui:include src="dialogs/objetos/dlgImprimiendo.xhtml" /> 
    </ui:define>

</ui:composition> 