<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/template1.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">
        <script type="text/javascript" src="#{externalContext.requestContextPath}/resources/javascript/jquery.scannerdetection.js"></script>
        <script type="text/javascript">
            $(document).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                ignoreIfFocusOn: '.scanOff',
                onKeyDetect: function (event) {
//                    console.log(event.which + " --> " + String.fromCharCode(event.which));
                    if (event.which === 13) {
                        return;
                    }
                    return false;
                },
                onComplete: function (barcode, qty) {

                    $('#scanInput').val(barcode);
                    remoteCommand();
                }
            });
        </script>


        <h:form id="fMain"> 
            <p:panel id="ordenPanel" header="Gestión de Órdenes de Servicio" style="width:71.5rem;margin:1rem auto;" >

                <p:panelGrid columns="2" styleClass="noborder" columnClasses="arriba, arriba">  
                    <p:panelGrid id="datos" style="border:0.1rem solid lightgray !important;padding: 0.5rem;margin-bottom:0.5rem; border: 0 !important; ">
                        <p:row>
                            <p:column>
                                <p:panelGrid columns="2" columnClasses="nopadding izquierda t80, nopadding derecha t180" style="margin: 0">
                                    <p:outputLabel value="Orden Servicio" />
                                    <p:outputLabel rendered="#{pinOrdenServicioBacking.selectedOrdenServicio.idOrdenTrabajo gt 0}" value="#{pinOrdenServicioBacking.selectedOrdenServicio.unidad.nombre}" style="color:blue;" />
                                </p:panelGrid>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="F. Registro" />
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Vigente desde" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column rowspan="3" styleClass="arriba">
                                <p:inputText id="rfaInterna" label="Orden Servicio" 
                                             value="#{pinOrdenServicioBacking.selectedOrdenServicio.referenciaInternaFormateada}"
                                             readonly="true" 
                                             style="height: 1rem;width: 12rem;font-size: x-large;text-align: center"/>
                            </p:column>
                            <p:column>
                                <p:calendar id="fechaRegistro" label="Fecha Registro"
                                            value="#{empty pinOrdenServicioBacking.selectedOrdenServicioChecked ? '' : pinOrdenServicioBacking.selectedOrdenServicio.fechaRegistro}"
                                            size="17" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro de la orden de servicio"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:column>
                            <p:column>
                                <p:calendar id="fechaDesde" label="Vigente desde"
                                            value="#{empty pinOrdenServicioBacking.selectedOrdenServicioChecked ? '' : pinOrdenServicioBacking.selectedOrdenServicio.fechaDesde}"
                                            size="17" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha inicio de la validez de la orden de servicio"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:column>

                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="Rfª. Externa" for="rfaExterna"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Vigente hasta" for="fechaHasta"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:inputText id="rfaExterna" label="Rfª. Externa"
                                             value="#{pinOrdenServicioBacking.selectedOrdenServicio.referenciaExterna}"
                                             style="width: 8rem"
                                             readonly="true" />
                            </p:column>

                            <p:column>
                                <p:calendar id="fechaHasta" label="Vigente hasta"
                                            value="#{empty pinOrdenServicioBacking.selectedOrdenServicioChecked ? '' : pinOrdenServicioBacking.selectedOrdenServicio.fechaHasta}"
                                            size="17" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha fin de la validez de la orden de servicio"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="Procedencia" for="procedencia"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="3">
                                <p:inputText id="procedencia" label="Procedencia" 
                                             value="#{pinOrdenServicioBacking.selectedOrdenServicio.origen.nombre}"
                                             style="width: 35rem" readonly="true"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="Contenido" for="contenido"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="3">

                                <p:inputTextarea id="contenido" label="Contenido del parte"
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.contenido}"
                                                 style="width: 35rem" rows="7" readonly="true" autoResize="false"  scrollHeight="5"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:panelGrid columns="2" styleClass="noborder" style="margin-left: -0.8rem">
                                    <p:outputLabel value="Vigente" for="enviado" style="padding-bottom: 0.5rem"/>
                                    <p:inputSwitch id="enviado" value="#{pinOrdenServicioBacking.selectedOrdenServicio.vigente}" onLabel="Sí" offLabel="No" disabled="true"/>                        
                                </p:panelGrid>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:panelGrid style="border:0.1rem solid lightgray !important;padding: 0.1rem;margin-bottom:0.5rem; border: 0 !important; " >
                        <p:accordionPanel id="accordion" widgetVar="accordion" styleClass="noborder" activeIndex="#{pinOrdenServicioBacking.activeIndex}" dynamic="true" style="width:30rem;">
                            <p:ajax event="tabChange" listener="#{pinOrdenServicioBacking.resetSelectedParte()}" update=":fMain:accordion:informesPanel :fMain:accordion:partesPanel "/>
                            <p:tab title="INFORMES (#{empty pinOrdenServicioBacking.selectedOrdenServicio.informes ? 0 : pinOrdenServicioBacking.selectedOrdenServicio.informes.size()})">
                                <p:panelGrid id="informesPanel" columns="1" styleClass="noborder">
                                    <p:commandLink disabled="#{!pinOrdenServicioBacking.canPrint}"  
                                                   styleClass="fa fa-print" 
                                                   style="font-size:1rem" 
                                                   title="Imprimir el documento seleccionado" 
                                                   update="verParte"
                                                   actionListener="#{pinOrdenServicioBacking.generateParteReport()}"
                                                   onclick="PF('dlgImprimiendo').show();"
                                                   oncomplete="PF('dlgImprimiendo').hide();"
                                                   onerror="PF('dlgImprimiendo').hide();" />
                                    <p:dataTable id="tInforme" 
                                                 var="informe" emptyMessage="No hay informes relativos a esta orden de servicio" 
                                                 rowKey="#{informe.idParte}" selectionMode="single"
                                                 paginator="true" rows="15" 
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 paginatorAlwaysVisible="false" paginatorPosition="bottom"
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.informes}"
                                                 selection="#{pinOrdenServicioBacking.selectedParte}">

                                        <p:column headerText="Número" sortFunction="#{informe.sortByNumParte}" sortBy="#{informe.numParteFormateado}" style="width: 5rem" styleClass="centro">
                                            <h:outputText value="#{informe.numParteFormateado}"  />
                                            <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{informe.motivoAnulacion}" rendered="#{!empty informe.motivoAnulacion}"/>
                                        </p:column>

                                        <p:column headerText="F. Suceso" sortBy="#{informe.fechaSuceso}" style="width: 5rem" styleClass="centro">
                                            <h:outputText value="#{informe.fechaSuceso}" >
                                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                            </h:outputText>
                                        </p:column>    

                                        <p:column headerText="Policía" style="width: 5rem" styleClass="centro">
                                            <h:outputText value="#{informe.listaActuantes}" />
                                        </p:column>  

                                    </p:dataTable>
                                </p:panelGrid>
                            </p:tab>

                            <p:tab title="PARTES (#{empty pinOrdenServicioBacking.selectedOrdenServicio.partes ? 0 : pinOrdenServicioBacking.selectedOrdenServicio.partes.size()})" >
                                <p:panelGrid id="partesPanel" columns="1" styleClass="noborder">
                                    <p:commandLink id="btnVerParte" disabled="#{!pinOrdenServicioBacking.canPrint}"  
                                                   styleClass="fa fa-print" style="font-size:1rem"
                                                   title="Imprimir el documento seleccionado" 
                                                   update="verParte"
                                                   actionListener="#{pinOrdenServicioBacking.generateParteReport()}"
                                                   onclick="PF('dlgImprimiendo').show();"
                                                   oncomplete="PF('dlgImprimiendo').hide();"
                                                   onerror="PF('dlgImprimiendo').hide();" />
                                    <p:dataTable id="tParte" 
                                                 var="parte" emptyMessage="No hay partes informativos relativos a esta orden de servicio" 
                                                 rowKey="#{parte.idParte}" selectionMode="single"
                                                 paginator="true" rows="15" 
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 paginatorAlwaysVisible="false" paginatorPosition="bottom" 
                                                 selection="#{pinOrdenServicioBacking.selectedParte}"
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.partes}">
                                        <p:ajax event="rowSelect" update=":fMain:accordion:btnVerParte" />
                                        <p:ajax event="rowUnselect" update=":fMain:accordion:btnVerParte" />

                                        <p:column headerText="Número" sortFunction="#{parte.sortByNumParte}" sortBy="#{parte.numParteFormateado}" style="width: 5rem" styleClass="centro">
                                            <h:outputText value="#{parte.numParteFormateado}"  />
                                            <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{parte.motivoAnulacion}" rendered="#{!empty parte.motivoAnulacion}"/>
                                        </p:column>

                                        <p:column headerText="F. Suceso" sortBy="#{parte.fechaSuceso}" style="width: 5rem" styleClass="centro">
                                            <h:outputText value="#{parte.fechaSuceso}" >
                                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                            </h:outputText>
                                        </p:column>    

                                        <p:column headerText="Policía" style="width: 5rem" styleClass="centro">
                                            <h:outputText value="#{parte.listaActuantes}" />
                                        </p:column>  
                                    </p:dataTable>
                                </p:panelGrid>
                            </p:tab>
                        </p:accordionPanel>
                    </p:panelGrid>
                </p:panelGrid>

            </p:panel>

            <p:panelGrid  columns="1" styleClass="noborder" style="width: 115em; margin: 1em auto;">        
                <p:panelGrid id="botones" columns="13" styleClass="border">
                    <p:commandLink title="Abrir una orden de servicio por su número" styleClass="fa fa-folder-open-o"
                                   style="font-size:1rem"
                                   disabled="#{!user.consultas}"
                                   update="abrirOrden"
                                   actionListener="#{pinOrdenServicioBacking.resetSearchFields()}"
                                   oncomplete="PF('dlgAbrirOrden').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-search"
                                   style="font-size:1rem"
                                   disabled="#{!user.consultas}"
                                   oncomplete="PF('dlgBuscarOrden').show();"/>

                    <p:commandLink title="Recargar última búsqueda" styleClass="fa fa-refresh"
                                   style="font-size:1rem"
                                   disabled="#{!user.consultas}"
                                   update=":fMain:datos :fMain:accordion :fMain:botones tOrdenServicio"
                                   actionListener="#{pinOrdenServicioBacking.search(true)}"/>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" /> 

                    <p:commandLink title="Añadir orden de servicio" styleClass="fa fa-plus"
                                   style="font-size:1rem"
                                   disabled="#{!pinOrdenServicioBacking.canAdd}"  
                                   actionListener="#{pinOrdenServicioBacking.resetSelectedOrdenTrabajo()}"
                                   update="anadirOrdenTrabajo"                                  
                                   oncomplete="PF('dlgAnadirOrdenServicio').show();" />

                    <p:commandLink title="Modificar la orden de servicio seleccionada" styleClass="fa fa-pencil"
                                   style="font-size:1rem"
                                   disabled="#{!pinOrdenServicioBacking.canEdit}"  
                                   update=":anadirOrdenTrabajo"                                 
                                   actionListener="#{pinOrdenServicioBacking.editar()}"
                                   oncomplete="PF('dlgAnadirOrdenServicio').show();" />

                    <p:commandLink disabled="#{!pinOrdenServicioBacking.canDelete}" 
                                   oncomplete="PF('dlgBorrarOrdenTrabajo').show();" update=":borrarOrdenTrabajo"
                                   styleClass="fa fa-trash" style="font-size:1rem"
                                   title="Anular la orden de servicio seleccionada" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink disabled="#{(pinOrdenServicioBacking.selectedOrdenServicio.idOrdenTrabajo == 0) or (!user.modificaciones)}"  
                                   styleClass="fa fa-print" style="font-size:1rem"
                                   title="Imprimir el documento seleccionado" 
                                   update="verOrdenTrabajo dialogImprimiendo"
                                   actionListener="#{pinOrdenServicioBacking.generateOrdenTrabajoReport()}"  
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel rendered="#{!empty pinOrdenServicioBacking.msgAmbito}" value="ÁMBITO: #{pinOrdenServicioBacking.msgAmbito}" style="color: red;font-size: 1rem;"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif" height="17"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tOrdenServicio" 
                             var="orden" emptyMessage="Realice una búsqueda para ver órdenes de servicio" 
                             rowKey="#{orden.idOrdenTrabajo}" 
                             selection="#{pinOrdenServicioBacking.selectedOrdenServicioChecked}"
                             paginator="true" rows="15" style="min-height: 35em;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinOrdenServicioBacking.lazyResultadoBusqueda}"  lazy="true"
                             styleClass="myTable" rowIndexVar="rowIndex">

                    <p:ajax event="rowSelect" update=":fMain:datos :fMain:accordion :fMain:botones :anadirOrdenTrabajo" listener="#{pinOrdenServicioBacking.selectRow}"  />
                    <p:ajax event="rowUnselect" update=":fMain:datos :fMain:accordion :fMain:botones :anadirOrdenTrabajo" listener="#{pinOrdenServicioBacking.selectRow}" />
                    <p:ajax event="rowSelectCheckbox" update=":fMain:datos :fMain:accordion :fMain:botones :anadirOrdenTrabajo" listener="#{pinOrdenServicioBacking.selectRow}"/>
                    <p:ajax event="rowUnselectCheckbox" update=":fMain:datos :fMain:accordion :fMain:botones :anadirOrdenTrabajo" listener="#{pinOrdenServicioBacking.selectRow}"/>
                    <p:ajax event="toggleSelect" update=":fMain:datos  :fMain:accordion :fMain:botones" listener="#{pinOrdenServicioBacking.selectRow}" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" selectionMode="multiple"  style="width:1rem;text-align:center" />
                            <p:column colspan="2" headerText="Referencias" style="width: 12rem" />
                            <p:column colspan="3" headerText="Fechas" style="width: 18rem" />
                            <p:column  rowspan="2" headerText="Procedencia"  style="width:10rem" styleClass="centro" />
                            <p:column  rowspan="2" headerText="Vigente"  style="width:3rem" styleClass="centro" />
                            <p:column  rowspan="2" headerText="Unidad"  style="width:8rem" styleClass="centro" />
                        </p:row>
                        <p:row>
                            <p:column headerText="Orden Servicio" styleClass="centro" />
                            <p:column headerText="Externa"  styleClass="centro" /> 
                            <p:column headerText="Registro" styleClass="centro" />
                            <p:column headerText="Vgt. desde"  styleClass="centro" />
                            <p:column headerText="Vgt. hasta"  styleClass="centro" />
                        </p:row>
                    </p:columnGroup>

                    <p:column selectionMode="multiple"/>

                    <p:column  styleClass="centro">

                        <p:graphicImage rendered="#{not empty orden.adjuntos}"  styleClass="fa fa-paperclip" style="margin-right: 0.5rem;"/>
                        <h:outputText value="#{orden.referenciaInternaFormateada}"  />    

                    </p:column>

                    <p:column  styleClass="centro">
                        <h:outputText value="#{orden.referenciaExterna}"  />                       
                    </p:column>

                    <p:column  styleClass="centro">
                        <h:outputText value="#{orden.fechaRegistro}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column styleClass="centro">
                        <h:outputText value="#{orden.fechaDesde}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column styleClass="centro">
                        <h:outputText value="#{orden.fechaHasta}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  


                    <p:column>
                        <h:outputText value="#{orden.origen.nombre}" />
                    </p:column>  

                    <p:column style="text-align: center">
                        <h:graphicImage rendered="#{orden.vigente}" styleClass="fa fa-check" style="font-size:1rem;color:green" />
                        <h:graphicImage rendered="#{!orden.vigente}" styleClass="fa fa-times" style="font-size:1rem;color:red" />
                    </p:column>  

                    <p:column >                         
                        <h:outputText value="#{orden.unidad.nombre}" />
                    </p:column>  
                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la apertura de órdenes de servicio -->
        <ui:include src="dialogs/ordenes/dlgAbrirOrden.xhtml" />

        <!-- Dialog-box para las búsquedas de órdenes de servicio -->
        <ui:include src="dialogs/ordenes/dlgBuscar.xhtml" />

        <!-- Dialog-box para añadir un orden de servicio-->
        <ui:include src="dialogs/ordenes/dlgAnadir.xhtml" />

        <!-- Dialog-box para añadir un documento adjunto-->
        <ui:include src="dialogs/ordenes/dlgAnadirAdjunto.xhtml" />

        <!-- Dialog-box para eliminar orden de servicio-->
        <ui:include src="dialogs/ordenes/dlgBorrar.xhtml" />   

        <!-- Dialog-box para ver la orden de servicio-->
        <ui:include src="dialogs/ordenes/dlgVerOrdenServicio.xhtml" /> 
        <ui:include src="dialogs/ordenes/dlgVerParte.xhtml" /> 
        <ui:include src="dialogs/ordenes/dlgVerImagen.xhtml" /> 
        <ui:include src="dialogs/ordenes/dlgImprimiendo.xhtml" /> 
    </ui:define>

</ui:composition> 