<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/template1.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">
        <script type="text/javascript">
            function start() {
                PF('dlgPreparandoZip').show();
            }

            function stop() {
                PF('dlgPreparandoZip').hide();
            }
        </script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAD5nMObbgwCOQVy8NBXnVCvn61Enn0DD0" type="text/javascript"></script>
        <script type="text/javascript" src="#{externalContext.requestContextPath}/resources/javascript/jquery.scannerdetection.js"></script>
        <script type="text/javascript">
            $(document).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                ignoreIfFocusOn: '.scanOff',
                onKeyDetect: function (event) {
//                    console.log(event.which + " --> " + String.fromCharCode(event.which));
                    if (event.which === 13) {
                        return;
                    }
                    return false;
                },
                onComplete: function (barcode, qty) {

                    $('#scanInput').val(barcode);
                    remoteCommand();
                }
            });
        </script>

        <h:form id="fMain" >           
            <p:remoteCommand name="onload" actionListener="#{pinParteBacking.setPaginaActual('ordenanza')}" process="@this" autoRun="true" update="ordenanzaPanel botones"/>
            <p:panel id="ordenanzaPanel" header="Gestión de Ordenanzas Municipales" style="width:101em;margin:1em auto;" >
                <p:panelGrid columns="2" styleClass="noborder" columnClasses="arriba,arriba">

                    <p:panelGrid id="panelPrincipal" columns="1" styleClass="noborder">                      
                        <p:panelGrid columns="4" columnClasses="nopadding nomargin">
                            <p:panelGrid columns="1" style="height: 40px;" columnClasses="nopadding">
                                <p:panelGrid columns="2" columnClasses="nopadding izquierda t70, nopadding derecha t160" style="margin-bottom: 6px">
                                    <p:outputLabel id="tipoInforme" value="#{pinParteBacking.tipoInforme}" /> 
                                    <p:outputLabel value="#{pinParteBacking.selectedParte.idParte gt 0 ? pinParteBacking.selectedParte.unidad.nombre : ''}" style="color:blue;" />
                                </p:panelGrid>

                                <p:inputText id="numOrdenanza" label="Número ordenanza" 
                                             value="#{pinParteBacking.selectedParte.numParteFormateado}"
                                             readonly="true" styleClass="centro"
                                             style="height: 32px;width: 220px;font-size: x-large;"/>
                            </p:panelGrid>

                            <p:spacer width="10"/>

                            <p:panelGrid columns="1" style="height: 90px;" columnClasses="noborder">
                                <p:outputLabel value="F. Registro" for="fechaRegistro"/>
                                <p:calendar id="fechaRegistro" label="Fecha Registro"
                                            value="#{empty pinParteBacking.selectedParteChecked ? '' : pinParteBacking.selectedParte.fechaRegistro}"
                                            size="17" readonly="true" locale="es"
                                            showOn="none" 
                                            title="Fecha de registro del parte"
                                            pattern="dd-MM-yyyy HH:mm"/>

                                <p:outputLabel value="F. Denuncia" for="fechaDenuncia" />
                                <p:calendar id="fechaDenuncia" label="Fecha Denuncia"
                                            value="#{pinParteBacking.selectedParte.fechaSuceso}"
                                            size="17" readonly="true" locale="es"
                                            showOn="none" 
                                            title="Fecha de hecho referenciado en el parte"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:panelGrid>

                            <p:panelGrid columns="1" style="height: 90px;" columnClasses="noborder">
                                <p:outputLabel value="Denunciante" for="denunciante"/>
                                <p:inputText id="denunciante" label="Denunciante" 
                                             value="#{pinParteBacking.selectedParte.denunciante}"
                                             size="15" readonly="true"/>

                                <p:outputLabel value="Nº Acta" for="numActa"/>
                                <p:inputText id="numActa" label="Orden de servicio" 
                                             value="#{pinParteBacking.selectedParte.referenciaOrigen}"
                                             size="15" readonly="true"/>
                            </p:panelGrid>

                        </p:panelGrid>

                        <p:outputLabel value="Lugar" for="lugar"/>
                        <p:inputText id="lugar" label="Lugar" style="margin-bottom: 10px"
                                     value="#{pinParteBacking.selectedParte.lugar}"
                                     size="85" readonly="true"/>

                        <p:outputLabel value="Denunciado" for="denunciado"/>
                        <p:inputText id="denunciado" label="Denunciado" style="margin-bottom: 10px"
                                     value="#{pinParteBacking.selectedParte.denunciado.nombre}"
                                     size="85" readonly="true"/>

                        <p:outputLabel value="Asunto" for="asunto"/>
                        <p:inputText id="asunto" label="Asunto" style="margin-bottom: 10px"
                                     value="#{pinParteBacking.selectedParte.asuntoCompleto}"
                                     size="85" readonly="true"/>

                        <p:outputLabel value="Infracción" for="infraccion" />
                        <p:inputTextarea id="infraccion" label="Infracción denunciada"
                                         value="#{pinParteBacking.selectedParte.informe}"
                                         cols="85" rows="7" readonly="true" autoResize="false"  scrollHeight="5"/>

                    </p:panelGrid>

                    <p:gmap center="#{pinParteBacking.center}" 
                            zoom="#{pinParteBacking.zoom}"  type="MAP" style="height: 37em; min-width: 39em;margin-top: 10px;" 
                            model="#{pinParteBacking.mapModel}" navigationControl="true">
                        <p:ajax event="overlaySelect" listener="#{pinParteBacking.onMarkerSelect}" />
                        <p:gmapInfoWindow id="infoWindow">
                            <p:outputPanel style="text-align: left; display: block; margin: auto">
                                <h:outputText value="Accidente #{pinParteBacking.selectedParte.numeroParte}" style='font-size: xx-small'/>
                                <br/>
                                <h:outputText value="Asunto: #{pinParteBacking.selectedParte.asuntoCompleto}" style='font-size: xx-small'/>
                                <br/>
                                <h:outputText value="Actuante: #{pinParteBacking.selectedParte.actuantes.toString()}" style='font-size: xx-small'/>                                
                            </p:outputPanel>
                        </p:gmapInfoWindow>
                    </p:gmap>

                </p:panelGrid>
            </p:panel>

            <p:panelGrid  columns="1" styleClass="noborder" style="width: 115em; margin: 1em auto;">        
                <p:panelGrid id="botones" columns="15" styleClass="border">
                    <p:commandLink title="Abrir una reseña de ordenanza por su número" styleClass="fa fa-folder-open-o"
                                   style="font-size:1.4em"
                                   disabled="#{!user.consultas}"
                                   update="abrirOrdenanza"
                                   actionListener="#{pinParteBacking.resetPatronBusqueda()}"
                                   oncomplete="PF('dlgAbrirOrdenanza').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-search"
                                   style="font-size:1.4em"
                                   disabled="#{!user.consultas}"
                                   oncomplete="PF('dlgBuscarOrdenanza').show();"/>

                    <p:commandLink title="Recargar última búsqueda" styleClass="fa fa-refresh"
                                   style="font-size:1.4em"
                                   disabled="#{!user.consultas}"
                                   update="fMain:ordenanzaPanel :fMain:tOrdenanza"
                                   actionListener="#{pinParteBacking.search(false, true, false)}"/>

                    <p:commandLink title="Crear nueva reseña de ordenanza" styleClass="fa fa-plus"
                                   style="font-size:1.4em"
                                   disabled="#{!pinParteBacking.canAdd}"  
                                   update="fMain:ordenanzaPanel :fMain:tOrdenanza :editarOrdenanza"  
                                   actionListener="#{pinParteBacking.crearOrdenanza()}"                                 
                                   oncomplete="PF('dlgEditarOrdenanza').show();" />

                    <p:commandLink title="Modificar el documento seleccionado" styleClass="fa fa-pencil"
                                   style="font-size:1.4em"
                                   disabled="#{!pinParteBacking.canEditOrdenanza}"  
                                   update="fMain:ordenanzaPanel :fMain:tOrdenanza :editarOrdenanza"  
                                   actionListener="#{pinParteBacking.editarOrdenanza}"                                 
                                   oncomplete="PF('dlgEditarOrdenanza').show();" />

                    <p:commandLink disabled="#{!pinParteBacking.canDelete}" 
                                   oncomplete="PF('dlgBorrarOrdenanza').show();" update=":borrarOrdenanza"
                                   styleClass="fa fa-trash" style="font-size:1.4em"
                                   title="Anular el documento seleccionado" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink disabled="#{!pinParteBacking.canPrint}"  
                                   styleClass="fa fa-print" style="font-size:1.4em"
                                   title="Imprimir el documento seleccionado" 
                                   update="verParte"
                                   actionListener="#{pinParteBacking.verSelectedAdjunto(true)}"
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();" />

                    <p:commandLink title="Descargar documentos asociados" styleClass="fa fa-download"
                                   style="font-size:1.4em"
                                   disabled="#{empty pinParteBacking.selectedParte.adjuntos}" onclick="PrimeFaces.monitorDownload(start, stop);"
                                   ajax="false"> <!-- Es necesario deshabilitar ajax porque fileDownload requiere un refresco de la página completo -->
                        <p:fileDownload value="#{pinParteBacking.zipFile}" />
                    </p:commandLink>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />


                    <p:commandLink styleClass="fa fa-th-list" style="font-size:1.4em"
                                   title="Ver historico de situaciones de la reseña" 
                                   update="situaciones"
                                   disabled="#{pinParteBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerHistorico').show();" />

                    <p:commandLink styleClass="fa fa-history" style="font-size:1.4em"
                                   title="Ver historico de visualización/impresión del parte" 
                                   update="historicoImpresion"
                                   disabled="#{pinParteBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerHistoricoImpresion').show();" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel rendered="#{!empty pinParteBacking.msgAmbito}" value="ÁMBITO: #{pinParteBacking.msgAmbito}" style="color: red;font-size: 1.4em;"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif" height="17"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tOrdenanza" 
                             var="parte" emptyMessage="Realice una búsqueda para ver documentos" 
                             rowKey="#{parte.idParte}" 
                             selection="#{pinParteBacking.selectedParteChecked}"
                             paginator="true" rows="15" style="min-height: 35em;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinParteBacking.lazyResultadoBusqueda}" lazy="true"
                             styleClass="myTable" rowIndexVar="rowIndex"
                             rowStyleClass="#{parte.anulado ? 'anulado' : 'normal'}">

                    <p:ajax event="rowSelect" update=":fMain:ordenanzaPanel :fMain:botones editarOrdenanza" listener="#{pinParteBacking.selectRow}"  />
                    <p:ajax event="rowUnselect" update=":fMain:ordenanzaPanel :fMain:botones editarOrdenanza" listener="#{pinParteBacking.selectRow}" />
                    <p:ajax event="rowSelectCheckbox" update=":fMain:ordenanzaPanel :fMain:botones editarOrdenanza" listener="#{pinParteBacking.selectRow}"/>
                    <p:ajax event="rowUnselectCheckbox" update=":fMain:ordenanzaPanel :fMain:botones editarOrdenanza" listener="#{pinParteBacking.selectRow}"/>
                    <p:ajax event="toggleSelect" update=":fMain:ordenanzaPanel :fMain:botones" listener="#{pinParteBacking.selectRow}" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" selectionMode="multiple" style="width:16px;text-align:center" />
                            <p:column rowspan="2" headerText="Número" style="width: 8em" styleClass="centro" />

                            <p:column colspan="2" headerText="Fechas"  style="width: 22em" />

                            <p:column rowspan="2" headerText="Nº Acta" style="width: 8em" styleClass="centro" />
                            <p:column rowspan="2" headerText="Policía" style="width: 8em" styleClass="centro" />
                            <p:column rowspan="2" headerText="Asunto" style="width: 25em" styleClass="izquierda" />
                            <p:column rowspan="2" headerText="Unidad" style="width: 10em" styleClass="izquierda" />

                            <p:column colspan="4" headerText="Situación" style="width: 23em" />
                        </p:row>

                        <p:row>
                            <p:column headerText="Registro" styleClass="centro" />
                            <p:column headerText="Suceso" styleClass="centro" />

                            <p:column headerText="Oficina" styleClass="centro" />
                            <p:column headerText="Archivo" styleClass="centro" />
                            <p:column headerText="Estafeta" styleClass="centro" />
                            <p:column headerText="Destino" styleClass="centro" />
                        </p:row>
                    </p:columnGroup>

                    <p:column selectionMode="multiple"  style="width:16px;text-align:center"/>

                    <p:column style="width: 8em" styleClass="centro">
                        <h:outputText value="#{parte.numParteFormateado}"  />
                        <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{parte.motivoAnulacion}" rendered="#{!empty parte.motivoAnulacion}"/>
                    </p:column>

                    <p:column style="width: 8em" styleClass="centro">
                        <h:outputText value="#{parte.fechaRegistro}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>     

                    <p:column style="width: 8em" styleClass="centro">
                        <h:outputText value="#{parte.fechaSuceso}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>   

                    <p:column style="width: 8em" styleClass="centro">
                        <h:outputText value="#{parte.referenciaOrigen}" />
                    </p:column>  

                    <p:column style="width: 7em" styleClass="centro">
                        <h:outputText value="#{parte.listaActuantes}" />
                    </p:column>  

                    <p:column style="width: 25em" styleClass="izquierda">
                        <h:outputText value="#{parte.asuntoCompleto}" />
                    </p:column>  

                    <p:column style="width: 10em" styleClass="izquierda">
                        <h:outputText value="#{parte.unidad.nombre}" />
                    </p:column>  

                    <p:column headerText="En Oficina" style="width: 3em" styleClass="centro">
                        <h:graphicImage rendered="#{parte.enviadoOficina}" styleClass="fa fa-check" style="font-size:1.6em;color:green" />
                        <h:graphicImage rendered="#{!parte.enviadoOficina}" styleClass="fa fa-times" style="font-size:1.6em;color:red" />
                    </p:column>  

                    <p:column headerText="Archivado" style="width: 4em" styleClass="centro">
                        <h:graphicImage rendered="#{parte.archivado}" styleClass="fa fa-check" style="font-size:1.6em;color:green" />
                        <h:graphicImage rendered="#{!parte.archivado}" styleClass="fa fa-times" style="font-size:1.6em;color:red" />
                    </p:column> 

                    <p:column headerText="En Estafeta" style="width: 3em" styleClass="centro">
                        <h:graphicImage rendered="#{parte.listoTramitar}" styleClass="fa fa-check" style="font-size:1.6em;color:green" />
                        <h:graphicImage rendered="#{!parte.listoTramitar}" styleClass="fa fa-times" style="font-size:1.6em;color:red" />
                    </p:column> 

                    <p:column headerText="En Destino" style="width: 3.5em" styleClass="centro">
                        <h:graphicImage rendered="#{parte.tramitado}" styleClass="fa fa-check" style="font-size:1.6em;color:green" />
                        <h:graphicImage rendered="#{!parte.tramitado}" styleClass="fa fa-times" style="font-size:1.6em;color:red" />
                    </p:column> 

                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la apertura de partes e informes -->
        <ui:include src="dialogs/ordenanzas/dlgAbrirOrdenanza.xhtml" />

        <!-- Dialog-box para las búsquedas de partes -->
        <ui:include src="dialogs/ordenanzas/dlgBuscar.xhtml" />

        <!-- Dialog-box para editar un parte-->
        <ui:include src="dialogs/ordenanzas/dlgEditarOrdenanza.xhtml" />

        <!-- Dialog-box para eliminar partes-->
        <ui:include src="dialogs/ordenanzas/dlgBorrarOrdenanza.xhtml" />   

        <!-- Dialog-box para imprimir partes-->
        <ui:include src="dialogs/ordenanzas/dlgImprimiendo.xhtml" /> 
        <ui:include src="dialogs/ordenanzas/dlgVerParte.xhtml" /> 
        <ui:include src="dialogs/ordenanzas/dlgVerImagen.xhtml" /> 

        <!-- Dialog-box para añadir un nuevo actuante-->
        <ui:include src="dialogs/ordenanzas/dlgAnadirActuante.xhtml" />
        <ui:include src="dialogs/ordenanzas/dlgAnadirPersona.xhtml" />


        <!-- Dialog-box para añadir un nuevo documento adjunto-->
        <ui:include src="dialogs/ordenanzas/dlgAnadirAdjunto.xhtml" />
        <ui:include src="dialogs/ordenanzas/dlgUploadingFile.xhtml" />
        <ui:include src="dialogs/ordenanzas/dlgPreparandoZip.xhtml" />

        <!-- Dialog-box para las búsquedas de vías -->
        <ui:include src="dialogs/ordenanzas/dlgBuscarVia.xhtml" />       
        <ui:include src="dialogs/ordenanzas/dlgSeleccionarCoordenadas.xhtml" />

        <!-- Dialog-box para ver situaciones e historico de impresion-->
        <ui:include src="dialogs/ordenanzas/dlgVerHistorico.xhtml" /> 
        <ui:include src="dialogs/ordenanzas/dlgVerHistoricoImpresion.xhtml" /> 
    </ui:define>

</ui:composition> 