<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui">           
    <ui:define name="appData">
        <h:form id="fMain" style="min-height: 65em"> 
             <p:panelGrid columns="1" style="margin:10px auto; width: 60%; text-align: center" styleClass="noborder">                
                <p:outputLabel value="Gestión del Registro de la Unidad" style="font-size: xx-large" />
                <p:spacer height="20" />
                <p:graphicImage library="images" name="under_construction.png" />
            </p:panelGrid>
        </h:form>

 
    </ui:define>
</ui:composition> 