<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">
        <h:form id="fMain"> 
            <p:panel id="datosRegistro" header="Registro de Jefatura" style="width:90em;margin:1em auto;" >
                <p:panelGrid columns="1" styleClass="noborder">

                    <p:panelGrid columns="2" columnClasses="nopadding" style="min-height: 14em;">
                        <p:panelGrid columns="2" columnClasses="nopadding" style="min-height: 14em;">
                            <p:outputLabel value="Núm. registro" for="numregistro"/>
                            <p:panelGrid columns="3" columnClasses="nopadding">
                                <p:inputText id="numregistro" label="Núm. Registro" 
                                             value="#{regRegistroJefaturaBacking.selectedRegistro.numRegistroFormateado}"
                                             size="12" readonly="true" />
                                <p:outputLabel value="Fecha entrada" for="fecha"/>
                                <p:calendar id="fecha" label="Fecha entrada"
                                            value="#{regRegistroJefaturaBacking.selectedRegistro.fechaRegistro}"
                                            size="12" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro"
                                            pattern="dd-MM-yyyy"/>

                            </p:panelGrid>

                            <p:outputLabel value="Núm. expte." for="numexpte"/>
                            <p:panelGrid columns="3" columnClasses="nopadding">
                                <p:inputText id="numexpte" label="Núm. expediente" 
                                             value="#{regRegistroJefaturaBacking.selectedRegistro.numExpediente}"
                                             size="15" readonly="true"/>
                                <p:outputLabel value="Fecha expte." for="fechaexpte"/>
                                <p:calendar id="fechaexpte" label="Fecha expediente"
                                            value="#{regRegistroJefaturaBacking.selectedRegistro.fechaExpediente}"
                                            size="11" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro"
                                            pattern="dd-MM-yyyy"/>
                            </p:panelGrid>

                            <p:outputLabel value="Estado" for="estado"/>
                            <p:inputText id="estado" label="Estado" 
                                         value="#{regRegistroJefaturaBacking.selectedRegistro.clasificacionRegistro}"
                                         size="15" readonly="true"/>
                            <p:outputLabel value="Entrada por" for="entradapor"/>
                            <p:inputText id="entradapor" label="Entrada por" 
                                         value="#{regRegistroJefaturaBacking.selectedRegistro.procedencia}"
                                         size="45" readonly="true"/>
                        </p:panelGrid>

                        <p:panelGrid columns="2" columnClasses="nopadding" style="vertical-align: top;">
                            <p:outputLabel value="Solicitante" for="solicitante"/>
                            <p:inputText id="solicitante" label="Solicitante" 
                                         value="#{regRegistroJefaturaBacking.selectedRegistro.nombre}"
                                         size="59" readonly="true"/>
                            <p:outputLabel value="Dirección" for="direccion"/>
                            <p:inputText id="direccion" label="Dirección" 
                                         value="#{regRegistroJefaturaBacking.selectedRegistro.domicilio}"
                                         size="59" readonly="true"/>
                            <p:outputLabel value="Jdo. destino" for="juzgadodestino"/>
                            <p:panelGrid columns="2" columnClasses="nopadding">
                                <p:inputText id="juzgadodestino" label="Juzgado destino" 
                                             value="#{regRegistroJefaturaBacking.selectedRegistro.juzgadoDestino}"
                                             size="35" readonly="true"/>
                                <p:inputText id="localidadjuzgado"
                                             value="#{regRegistroJefaturaBacking.selectedRegistro.localidadJuzgado}"
                                             size="20" readonly="true"/>
                            </p:panelGrid>

                            <p:outputLabel value="Diligencias" for="diligencias"/>
                            <p:inputText id="diligencias" label="Tipo diligencias" 
                                         value="#{regRegistroJefaturaBacking.selectedRegistro.tipoAuto}"
                                         size="59" readonly="true"/>

                            <p:outputLabel value="Asunto" for="asunto"/>
                            <p:inputText id="asunto" label="Asunto" 
                                         value="#{regRegistroJefaturaBacking.selectedRegistro.asunto}"
                                         size="59" readonly="true"/>
                        </p:panelGrid>
                    </p:panelGrid>

                    <p:panelGrid columns="2" columnClasses="nopadding" style="vertical-align: top;">
                        <p:panelGrid columns="1" columnClasses="nopadding">
                            <p:outputLabel value="Extracto" for="extracto"/>
                            <p:inputTextarea id="extracto" label="Extracto" 
                                             value="#{regRegistroJefaturaBacking.selectedRegistro.extractoEntrante}"
                                             cols="80" rows="7" readonly="true"/>
                        </p:panelGrid>
                        <p:panelGrid columns="1" columnClasses="nopadding">
                            <p:outputLabel value="Destinatarios" />
                            <p:dataTable id="registro" var="gatDestino" style="width:31em" 
                                         scrollable="true" scrollHeight="70" 
                                         emptyMessage=""
                                         rowKey="#{gatDestino.idDes}"
                                         editable="true" value="#{regRegistroJefaturaBacking.selectedRegistro.destinos}" >
                                <p:column headerText="Destino"  filterStyle="height: 0.5em; float: right">
                                    <h:outputText value="#{gatDestino.destino}"/>
                                </p:column> 
                                <p:column headerText="Recogido" style="width: 4em" styleClass="centro">
                                    <h:graphicImage rendered="#{gatDestino.estado.toUpperCase() eq  Constants.REGISTRO_ESTADO_EN_TRAMITE}" styleClass="fa fa-times" style="font-size:1.6em;color:red"  title="Registro pendiente de importar" />
                                    <h:graphicImage rendered="#{gatDestino.estado.toUpperCase() eq Constants.REGISTRO_ESTADO_FINALIZADO}" styleClass="fa fa-check" style="font-size:1.6em;color:green" title="Registro ya importado" />  
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>
                    </p:panelGrid>
                </p:panelGrid>
            </p:panel>

            <p:panelGrid columns="1" styleClass="noborder" style="width: 91em; margin: 1em auto;">        
                <p:panelGrid id="botonesRegistro" columns="9" styleClass="noborder">
                    <p:commandLink title="Buscar registros" styleClass="fa fa-search"
                                   oncomplete="PF('dlgBuscarRegistro').show();"/>
                    <p:commandLink title="Recargar la última consulta" styleClass="fa fa-refresh"
                                   actionListener="#{regRegistroJefaturaBacking.search()}"
                                   disabled="#{not regRegistroJefaturaBacking.hayConsulta}" 
                                   update="@form"/>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink title="Recoger los registros seleccionados" styleClass="fa fa-hand-o-down"
                                   disabled="#{regRegistroJefaturaBacking.selectedRegistroChecked.isEmpty() or regRegistroJefaturaBacking.selectedRegistroChecked == null}"
                                   oncomplete="PF('dlgConfirmarImportacion').show();"/>

                    <p:ajaxStatus style="height: 20px">
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tRegistro" styleClass="border" 
                             var="registro" emptyMessage="Realice una búsqueda para ver los registros de Jefatura" 
                             rowKey="#{registro.idReg}" sortBy="#{registro.fechaEntrada}"
                             selection="#{regRegistroJefaturaBacking.selectedRegistroChecked}"
                             paginator="true" rows="15" style="min-height: 62em;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{regRegistroJefaturaBacking.resultadoBusqueda}">
                    <p:ajax event="rowSelectCheckbox" update="fMain" listener="#{regRegistroJefaturaBacking.comprobarCheck}"/>
                    <p:ajax event="rowUnselectCheckbox" update="fMain" listener="#{regRegistroJefaturaBacking.comprobarCheck}"/>
                    <p:ajax event="rowSelect" update="fMain" listener="#{regRegistroJefaturaBacking.comprobarCheck}" /> 
                    <p:ajax event="toggleSelect" update="fMain" listener="#{regRegistroJefaturaBacking.comprobarCheck}" />

                    <p:column selectionMode="multiple"  style="width:16px;text-align:center"/>

                    <p:column headerText="Núm. registro" sortBy="#{registro.numRegistroFormateado}" style="width: 5em" styleClass="centro">
                        <h:outputText value="#{registro.numRegistroFormateado}"/>
                    </p:column>

                    <p:column headerText="Fecha entrada" sortBy="#{registro.fechaEntrada}" style="width: 5em" styleClass="centro">
                        <h:outputText value="#{registro.fechaEntrada}">
                            <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Asunto" sortBy="#{registro.asunto}" style="width: 10em" >
                        <h:outputText value="#{registro.asunto}" />
                    </p:column>

                    <p:column headerText="Procedencia" sortBy="#{registro.procedencia}" style="width: 12em">
                        <h:outputText  value="#{registro.procedencia}"/>                            
                    </p:column>

                    <p:column headerText="Recogido" sortBy="#{registro.destino.estado}" style="width: 3em" styleClass="centro">
                        <h:graphicImage rendered="#{registro.destino.estado.toUpperCase() eq  Constants.REGISTRO_ESTADO_EN_TRAMITE}" styleClass="fa fa-times" style="font-size:1.6em;color:red" title="Registro pendiente de importar" />
                        <h:graphicImage rendered="#{registro.destino.estado.toUpperCase() eq Constants.REGISTRO_ESTADO_FINALIZADO}" styleClass="fa fa-check" style="font-size:1.6em;color:green" title="Registro ya importado" />  
                    </p:column>

                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la búsqueda de registros-->
        <ui:include src="dialogs/registro_jefatura/dlgBuscar.xhtml" />    
        <!-- Dialog-box para confirmar la importación de registros-->
        <ui:include src="dialogs/registro_jefatura/dlgConfirmarImportacion.xhtml" />    
    </ui:define>
</ui:composition> 