<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">                     
    <ui:define name="appData">
        <h:form id="fMain"> 
            <p:panel id="datosRegistro" header="Registro de #{regRegistroUnidadBacking.unidad.nombre} " style="width:92em;margin:1em auto;" >
                <p:panelGrid columns="1" styleClass="noborder">
                    <p:panelGrid columns="2" columnClasses="nopadding" style="min-height: 14em;">
                        <p:panelGrid columns="2" columnClasses="nopadding" style="min-height: 14em;">
                            <p:outputLabel value="Reg. unidad" for="registrounidad"/>
                            <p:panelGrid columns="3" columnClasses="nopadding">
                                <p:inputText id="registrounidad" label="Registro unidad" 
                                             value="#{regRegistroUnidadBacking.selectedRegistro.numInterno}"
                                             size="15" readonly="true" />
                                <p:outputLabel value="Fecha recogida" for="fechaRecogida"/>
                                <p:calendar id="fechaRecogida" label="Fecha recogida"
                                            value="#{regRegistroUnidadBacking.selectedRegistro.fechaInterno}"
                                            size="14" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro"
                                            pattern="dd-MM-yyyy"/>

                            </p:panelGrid>

                            <p:outputLabel value="Núm. registro" for="numRegistro"/>
                            <p:panelGrid columns="3" columnClasses="nopadding">
                                <p:inputText id="numRegistro" label="Núm. Registro" 
                                             value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.numRegistroFormateado}"
                                             size="15" readonly="true" />
                                <p:outputLabel value="Fecha entrada" for="fechaEntrada"/>
                                <p:calendar id="fechaEntrada" label="Fecha entrada"
                                            value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.fechaRegistro}"
                                            size="15" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro"
                                            pattern="dd-MM-yyyy"/>

                            </p:panelGrid>

                            <p:outputLabel value="Núm. expte." for="numexpte"/>
                            <p:panelGrid columns="3" columnClasses="nopadding">
                                <p:inputText id="numexpte" label="Núm. expediente" 
                                             value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.numExpediente}"
                                             size="15" readonly="true"/>
                                <p:outputLabel value="Fecha expte." for="fechaExpte"/>
                                <p:calendar id="fechaExpte" label="Fecha expediente"
                                            value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.fechaExpediente}"
                                            size="16" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro"
                                            pattern="dd-MM-yyyy"/>
                            </p:panelGrid>

                            <p:outputLabel value="Asunto" for="asunto"/>
                            <p:inputText id="asunto" label="Asunto" 
                                         value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.asunto}"
                                         size="61" readonly="true"/>

                            <p:outputLabel value="Entrada por" for="entradapor"/>
                            <p:inputText id="entradapor" label="Entrada por" 
                                         value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.procedencia}"
                                         size="61" readonly="true"/>

                            <p:outputLabel value="Extracto" for="extracto"/>
                            <p:inputTextarea id="extracto" label="Extracto" 
                                             value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.extractoEntrante}"
                                             cols="60" rows="7" readonly="true"/>
                        </p:panelGrid>

                        <p:panelGrid columns="1" columnClasses="nopadding" style="vertical-align: top;">
                            <p:panelGrid columns="2" columnClasses="nopadding">
                                <p:outputLabel value="Solicitante" for="solicitante"/>
                                <p:inputText id="solicitante" label="Solicitante" 
                                             value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.nombre}"
                                             size="54" readonly="true"/>

                                <p:outputLabel value="Domicilio" for="domicilio"/>
                                <p:inputText id="domicilio" label="Domicilio" 
                                             value="#{regRegistroUnidadBacking.selectedRegistro.registroOriginal.domicilio}"
                                             size="54" readonly="true"/>
                            </p:panelGrid>

                            <p:panelGrid columns="1" columnClasses="nopadding" style="margin-top: 3em;">
                                <p:panelGrid id="botonesMovimiento" columns="9" styleClass="noborder">

                                    <p:outputLabel value="Movimientos" style="margin-left: -10px;"/>

                                    <p:commandLink title="Añadir movimiento" styleClass="fa fa-file-text-o"
                                                   disabled="#{regRegistroUnidadBacking.selectedRegistro eq null}" 
                                                   oncomplete="PF('dlgAnadirMovimiento').show()"
                                                   actionListener="#{regRegistroUnidadBacking.createMovement()}"
                                                   update=":formAnadirMovimiento"/>

                                    <p:commandLink title="Editar/ver movimiento" styleClass="fa fa-pencil-square-o"
                                                   disabled="#{regRegistroUnidadBacking.selectedMovimiento eq null}" 
                                                   onclick="PF('dlgEditarMovimiento').show()"
                                                   update=":formEditarMovimiento"/>

                                    <p:commandLink title="Borrar movimiento" styleClass="fa fa-trash"
                                                   disabled="#{regRegistroUnidadBacking.selectedMovimiento eq null}" 
                                                   onclick="PF('dlgConfirmarBorrado').show();"
                                                   update="@form"/>

                                    <p:ajaxStatus style="height: 20px">
                                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                                    </p:ajaxStatus>
                                </p:panelGrid> 

                                <p:dataTable id="movimiento" var="gatMovimiento" style="width:42em" 
                                             scrollable="true" scrollHeight="130" 
                                             emptyMessage=""
                                             selection="#{regRegistroUnidadBacking.selectedMovimiento}"
                                             sortBy="#{gatMovimiento.idRegistroHistorico}"
                                             rowKey="#{gatMovimiento.idRegistroHistorico}"
                                             selectionMode="single"
                                             editable="true" value="#{regRegistroUnidadBacking.selectedRegistro.movimientos}" >

                                    <p:ajax event="rowUnselect" update="fMain" listener="#{regRegistroUnidadBacking.resetUnselectedMovement()}"/>
                                    <p:ajax event="rowSelect" update="fMain"  /> 
                                    <p:ajax event="toggleSelect" update="fMain" />

                                    <p:column headerText="Acción"  style="width: 8em">
                                        <h:outputText value="#{gatMovimiento.accion.nombre}"/>
                                    </p:column> 
                                    <p:column headerText="Asignacion"  style="width: 5em" styleClass="centro">
                                        <h:outputText value="#{gatMovimiento.fechaAsignacion}">
                                            <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Devolución"  style="width: 5em" styleClass="centro">
                                        <h:outputText value="#{gatMovimiento.fechaDevolucion}">
                                            <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Indicativo" style="width: 5em" styleClass="centro">
                                        <h:outputText value="#{gatMovimiento.indicativo}" />
                                    </p:column>
                                </p:dataTable>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:panelGrid>
                </p:panelGrid>
            </p:panel>

            <p:panelGrid columns="1" styleClass="noborder" style="width: 91em; margin: 1em auto;">        
                <p:panelGrid id="botonesRegistro" columns="9" styleClass="noborder">
                    <p:commandLink title="Buscar registros" styleClass="fa fa-search"
                                   oncomplete="PF('dlgBuscarRegistro').show();"/>
                    <p:commandLink title="Recargar la última consulta" styleClass="fa fa-refresh"
                                   actionListener="#{regRegistroUnidadBacking.search()}"
                                   disabled="#{not regRegistroUnidadBacking.hayConsulta}" 
                                   update="@form"/>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink title="Ver/imprimir documento" styleClass="fa fa-eye"
                                   disabled="#{regRegistroUnidadBacking.selectedRegistroChecked.isEmpty() or regRegistroUnidadBacking.selectedRegistroChecked == null  or regRegistroUnidadBacking.selectedRegistroChecked.size() > 1 or !user.administrador}"
                                   update=":verDocumento"
                                   oncomplete="PF('dlgVerDocumento').show();"/>

                    <p:commandLink title="Movimientos" styleClass="fa fa-history"
                                   disabled="#{regRegistroUnidadBacking.selectedRegistroChecked.isEmpty() or regRegistroUnidadBacking.selectedRegistroChecked == null  or regRegistroUnidadBacking.selectedRegistroChecked.size() > 1 or !user.administrador}"
                                   update=":historicoMovimientos"
                                   oncomplete="PF('dlgVerHistorico').show();"/>

                    <p:ajaxStatus style="height: 20px">
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tRegistro" styleClass="border" 
                             var="registro" emptyMessage="Realice una búsqueda para ver los registros de Jefatura" 
                             rowKey="#{registro.idRegistro}" sortBy="#{registro.fechaInterno}"
                             selection="#{regRegistroUnidadBacking.selectedRegistroChecked}"
                             paginator="true" rows="15" style="min-height: 62em;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{regRegistroUnidadBacking.resultadoBusqueda}">
                    <p:ajax event="rowSelectCheckbox" update="fMain" listener="#{regRegistroUnidadBacking.comprobarCheck}"/>
                    <p:ajax event="rowUnselectCheckbox" update="fMain" listener="#{regRegistroUnidadBacking.comprobarCheck}"/>
                    <p:ajax event="rowSelect" update="fMain" listener="#{regRegistroUnidadBacking.comprobarCheck}" /> 
                    <p:ajax event="toggleSelect" update="fMain" listener="#{regRegistroUnidadBacking.comprobarCheck}" />

                    <p:column selectionMode="multiple"  style="width:16px;text-align:center"/>

                    <p:column headerText="Núm. registro" sortBy="#{registro.registroOriginal.numRegistroFormateado}" style="width: 5em" styleClass="centro">
                        <h:outputText value="#{registro.registroOriginal.numRegistroFormateado}"/>
                    </p:column>

                    <p:column headerText="Fecha entrada" sortBy="#{registro.registroOriginal.fechaRegistro}" style="width: 5em" styleClass="centro">
                        <h:outputText value="#{registro.registroOriginal.fechaRegistro}">
                            <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Asunto" sortBy="#{registro.registroOriginal.asunto}" style="width: 10em" >
                        <h:outputText value="#{registro.registroOriginal.asunto}" />
                    </p:column>

                    <p:column headerText="Procedencia" sortBy="#{registro.registroOriginal.procedencia}" style="width: 12em">
                        <h:outputText  value="#{registro.registroOriginal.procedencia}"/>                            
                    </p:column>


                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la búsqueda de registros-->
        <ui:include src="dialogs/registro_unidad/dlgBuscar.xhtml" />    
        <!-- Dialog-box para añadir movimiento-->
        <ui:include src="dialogs/registro_unidad/dlgAnadirMovimiento.xhtml" />  
        <!-- Dialog-box para modificar movimiento-->
        <ui:include src="dialogs/registro_unidad/dlgEditarMovimiento.xhtml" />  
        <!-- Dialog-box para la eliminación de movimientos-->
        <ui:include src="dialogs/registro_unidad/dlgConfirmarBorrado.xhtml" />  
        <!-- Dialog-box para confirmar la importación de registros-->
        <ui:include src="dialogs/registro_unidad/dlgConfirmarImportacion.xhtml" /> 
        <!-- Dialog-box para ver el histórico de movimientos-->
        <ui:include src="dialogs/registro_unidad/dlgVerHistorico.xhtml" /> 
        <!-- Dialog-box para ver la vista previa del documento asociado al registro seleccionado-->
        <ui:include src="dialogs/registro_unidad/dlgVerDocumento.xhtml" /> 

    </ui:define>
</ui:composition> 