<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">           
    <ui:define name="appData">
        <script type="text/javascript">
            function start() {
                PF('dlgPreparandoZip').show();
            }

            function stop() {
                PF('dlgPreparandoZip').hide();
            }
        </script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAD5nMObbgwCOQVy8NBXnVCvn61Enn0DD0" type="text/javascript"></script>
        <script type="text/javascript" src="#{externalContext.requestContextPath}/resources/javascript/jquery.scannerdetection.js"></script>
        <script type="text/javascript">
            $(document).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                ignoreIfFocusOn: '.scanOff',
                onKeyDetect: function (event) {
//                    console.log(event.which + " --> " + String.fromCharCode(event.which));
                    if (event.which === 13) {
                        return;
                    }
                    return false;
                },
                onComplete: function (barcode, qty) {

                    $('#scanInput').val(barcode);
                    if ($('#abrirParte').is(':visible')) {
                        remoteCommand();
                    }
                }
            });
        </script>

        <h:form id="fMain"> 
            <p:panel id="tramitarPanel" header="Bandeja de Salida" style="width:65rem;margin:1rem auto;" >
                <p:panelGrid columns="2" styleClass="noborder"  columnClasses="arriba noborder nopadding,arriba noborder nopadding">

                    <p:panelGrid columns="1" styleClass="noborder">                      
                        <p:panelGrid columns="3" columnClasses="nopadding,nopadding,nopadding">
                            <p:panelGrid columns="1" style="height: 4rem;" columnClasses="nopadding">
                                <p:panelGrid columns="2" columnClasses="nopadding izquierda t5rem, nopadding derecha t12rem" style="margin-bottom: 0.3rem">
                                    <p:outputLabel id="tipoInforme" value="#{pinOficinaBacking.tipoInforme}" style="width: 5rem;"/> 
                                    <p:outputLabel value="#{pinOficinaBacking.selectedParte.idParte gt 0 ? pinOficinaBacking.selectedParte.unidad.nombre : ''}" style="width: 12.5rem;color:blue;" />
                                </p:panelGrid>
                                <p:inputText id="numParte" label="Número parte" 
                                             value="#{pinOficinaBacking.selectedParte.numParteFormateado}"
                                             readonly="true" styleClass="centro"
                                             style="height: 2rem;width: 17rem;font-size: x-large;"/>
                            </p:panelGrid>

                            <p:panelGrid columns="1" style="height: 7rem;margin-left:0.8rem" columnClasses="nopadding">
                                <p:outputLabel value="F. Registro" for="fechaRegistro" style="margin-bottom: 0.3rem"/>
                                <p:calendar id="fechaRegistro" label="Fecha Registro"
                                            value="#{empty pinOficinaBacking.selectedParteChecked ? '' : pinOficinaBacking.selectedParte.fechaRegistro}"
                                            size="16" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de registro del parte"
                                            pattern="dd-MM-yyyy HH:mm"/>

                                <p:outputLabel value="F. Suceso" for="fechaSuceso" style="margin-bottom: 0.3rem"/>
                                <p:calendar id="fechaSuceso" label="Fecha Suceso"
                                            value="#{pinOficinaBacking.selectedParte.fechaSuceso}"
                                            size="16" readonly="true" locale="es"
                                            showOn="none"
                                            title="Fecha de hecho referenciado en el parte"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:panelGrid>

                            <p:panelGrid columns="1">
                                <p:outputLabel value="Actuantes" for="actuantes" style="margin-bottom: 0.3rem"/>
                                <p:orderList id="actuantes" value="#{pinOficinaBacking.selectedParte.actuantes}" 
                                             var="actuante" controlsLocation="none" converter="PinActuanteConverter"
                                             itemLabel="#{actuante.indicativo}" itemValue="#{actuante}" 
                                             styleClass="agentes" />
                            </p:panelGrid>

                        </p:panelGrid>

                        <p:outputLabel value="Orden servicio" for="orden"/>
                        <p:inputText id="orden" label="Orden servicio" style="width: 17rem;margin-bottom: 0.6rem"
                                     value="#{pinOficinaBacking.selectedParte.ordenServicio.referenciaInternaFormateada}"
                                     readonly="true"/>

                        <p:outputLabel value="Lugar" for="lugar"/>
                        <p:inputText id="lugar" label="Lugar" style="width: 37rem;margin-bottom: 0.6rem"
                                     value="#{pinOficinaBacking.selectedParte.lugar}"
                                     readonly="true"/>


                        <p:outputLabel value="Asunto" for="asunto"/>
                        <p:inputText id="asunto" label="Asunto" style="width: 37rem;margin-bottom: 0.6rem"
                                     value="#{pinOficinaBacking.selectedParte.asuntoCompleto}"
                                     readonly="true"/>

                        <p:outputLabel value="Contenido del parte" for="contenido"/>
                        <p:inputTextarea id="contenido" label="Contenido del parte"
                                         value="#{pinOficinaBacking.selectedParte.informe}"
                                         style="width: 37rem;"
                                         cols="85" rows="7" readonly="true" autoResize="false"  scrollHeight="5"/>

                        <p:panelGrid columns="2" columnClasses="nopadding">
                            <p:outputLabel value="Estado" for="estado"/>
                            <p:inputText id="estado" label="Estado del parte"
                                             value="#{pinOficinaBacking.selectedParte.estadoActual.estado.nombre}"
                                             style="width: 34rem;background-color: salmon;color:white"
                                             readonly="true"/>
                        </p:panelGrid>  
                    </p:panelGrid>

                    <p:gmap center="#{pinOficinaBacking.center}" 
                            zoom="#{pinOficinaBacking.zoom}"  type="MAP" style="height: 30rem; min-width: 23rem;margin-top: 0.9rem;padding-left: 0;" 
                            model="#{pinOficinaBacking.mapModel}" navigationControl="true">
                        <p:ajax event="overlaySelect" listener="#{pinOficinaBacking.onMarkerSelect}" />
                        <p:gmapInfoWindow id="infoWindow">
                            <p:outputPanel style="text-align: left; display: block; margin: auto">
                                <h:outputText value="Accidente #{pinOficinaBacking.selectedParte.numeroParte}" style='font-size: xx-small'/>
                                <br/>
                                <h:outputText value="Asunto: #{pinOficinaBacking.selectedParte.asuntoCompleto}" style='font-size: xx-small'/>
                                <br/>
                                <h:outputText value="Actuante: #{pinOficinaBacking.selectedParte.actuantes.toString()}" style='font-size: xx-small'/>                                
                            </p:outputPanel>
                        </p:gmapInfoWindow>
                    </p:gmap>

                </p:panelGrid>
            </p:panel>

            <p:panelGrid columns="1" styleClass="noborder" style="width: 10rem; margin: 1rem auto;">       
                <p:panelGrid id="botones"  columns="20" styleClass="border">
                    <p:commandLink title="Abrir un parte o informe por su número" styleClass="fa fa-folder-open-o"
                                   style="font-size:1rem"
                                   disabled="#{not user.consultas}"
                                   update="abrirParte"
                                   actionListener="#{pinOficinaBacking.resetPatronBusqueda()}"
                                   oncomplete="PF('dlgAbrirParte').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-search"
                                   style="font-size:1rem"
                                   disabled="#{not user.consultas}"
                                   oncomplete="PF('dlgBuscarParte').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-refresh"
                                   style="font-size:1rem"
                                   disabled="#{not user.consultas}"
                                   update=":fMain"
                                   actionListener="#{pinOficinaBacking.search(false, true, true)}"/>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink title="Tramitar" styleClass="fa fa-gears"
                                   style="font-size:1rem"
                                   disabled="#{not user.modificaciones or empty pinOficinaBacking.selectedParteChecked}"
                                   update=":fMain tramitarParte"
                                   actionListener="#{pinOficinaBacking.tramitar()}"
                                   oncomplete="PF('dlgTramitarParte').show();"/>

                    <p:commandLink title="Modificar situación de objetos" styleClass="fa fa-soccer-ball-o"
                                   style="font-size:1rem"
                                   disabled="#{not user.modificaciones or empty pinOficinaBacking.selectedParte.objetos}"
                                   update=":fMain situacionObjetos"
                                   actionListener="#{pinOficinaBacking.tramitar()}"
                                   oncomplete="PF('dlgSituacionObjetos').show();"/>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink title="Abrir una relación de novedades existente por su código de barras" 
                                   disabled="#{not user.consultas}" 
                                   update="abrirNovedades"
                                   actionListener="#{pinOficinaBacking.resetPatronBusqueda()}"
                                   oncomplete="PF('dlgAbrirRelacionNovedades').show();" >
                        <i class="fa fa-barcode" style="font-size:1.8em" />
                    </p:commandLink>

                    <p:commandLink title="Crear una Relación de Novedades o ver una existente" styleClass="fa fa-file-text-o"
                                   style="font-size:1rem"
                                   disabled="#{not user.modificaciones or empty pinOficinaBacking.selectedParteChecked}"
                                   update=":fMain novedades novedadesWarning"
                                   actionListener="#{pinOficinaBacking.novedades()}" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink title="Ver el documento seleccionado" styleClass="fa fa-eye" 
                                   style="font-size:1rem"
                                   update=":fMain :editarParteAlta"  
                                   disabled="#{pinOficinaBacking.selectedParte.idParte le 0}"  
                                   actionListener="#{pinOficinaBacking.updateOrdenesServicio()}"
                                   oncomplete="PF('dlgEditarParte').show();" />

                    <p:commandLink disabled="#{(pinOficinaBacking.selectedParte.idParte eq 0) or (not user.modificaciones) or (pinOficinaBacking.selectedParte.anulado)}"  
                                   styleClass="fa fa-print"                                    
                                   style="font-size:1rem"
                                   title="Imprimir el documento seleccionado" 
                                   update="verParte"
                                   actionListener="#{pinOficinaBacking.generateReport()}"
                                   onclick="PF('dlgImprimiendoParte').show();" 
                                   oncomplete="PF('dlgImprimiendoParte').hide();"
                                   onerror="PF('dlgImprimiendoParte').hide();" />

                    <p:commandLink title="Descargar documentos adjuntos" styleClass="fa fa-download"
                                   style="font-size:1rem"
                                   disabled="#{empty pinOficinaBacking.selectedParte.adjuntos}" onclick="PrimeFaces.monitorDownload(start, stop);"
                                   ajax="false"> <!-- Es necesario deshabilitar ajax porque fileDownload requiere un refresco de la página completo -->
                        <p:fileDownload value="#{pinOficinaBacking.zipFile}" />
                    </p:commandLink>

                    <p:commandLink styleClass="fa fa-clock-o" 
                                   style="font-size:1rem"
                                   title="Ver historico de impresión del parte" 
                                   update="historicoImpresion"
                                   disabled="#{pinOficinaBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerHistoricoImpresion').show();" />

                    <p:commandLink styleClass="fa fa-history"
                                   style="font-size:1rem"
                                   title="Ver historico de situaciones del parte" 
                                   update="destinatarios"
                                   disabled="#{pinOficinaBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerDestinatario').show();" />


                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel rendered="#{not empty pinOficinaBacking.msgAmbito}" value="ÁMBITO: #{pinOficinaBacking.msgAmbito}" style="color: red;"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif" height="15"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>


                </p:panelGrid> 

                <p:dataTable id="tParte" 
                             var="parte" emptyMessage="Realice una búsqueda para lpartes" 
                             rowKey="#{parte.idParte}" 
                             selection="#{pinOficinaBacking.selectedParteChecked}"
                             paginator="true" rows="15" style="min-height: 25rem;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinOficinaBacking.lazyResultadoBusqueda}" lazy="true"
                             styleClass="myTable" rowIndexVar="rowIndex"
                             rowStyleClass="#{parte.anulado ? 'anulado' : 'normal'}">

                    <p:ajax event="rowSelect" update=":fMain:tramitarPanel fMain:botones" listener="#{pinOficinaBacking.selectRow}"  />
                    <p:ajax event="rowUnselect" update=":fMain:tramitarPanel fMain:botones" listener="#{pinOficinaBacking.selectRow}" />
                    <p:ajax event="rowSelectCheckbox" update=":fMain:tramitarPanel fMain:botones" listener="#{pinOficinaBacking.selectRow}"/>
                    <p:ajax event="rowUnselectCheckbox" update=":fMain:tramitarPanel fMain:botones" listener="#{pinOficinaBacking.selectRow}"/>
                    <p:ajax event="toggleSelect" update=":fMain:tramitarPanel fMain:botones" listener="#{pinOficinaBacking.selectRow}" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" selectionMode="multiple" style="width:0.9rem;text-align:center" />
                            <p:column rowspan="2" headerText="" style="width: 5rem" styleClass="centro" />
                            <p:column rowspan="2" headerText="Número" style="width: 8rem" styleClass="centro" />

                            <p:column colspan="3" headerText="Fechas"  style="width: 20rem" />

                            <p:column rowspan="2" headerText="Policía" style="width: 8rem" styleClass="centro" />
                            <p:column rowspan="2" headerText="Asunto" style="width: 15rem" styleClass="izquierda" />
                            <p:column rowspan="2" headerText="Unidad" style="width: 8rem" styleClass="izquierda" />

                            <p:column rowspan="2" headerText="Estado" style="width: 8rem" />
                        </p:row>

                        <p:row>
                            <p:column headerText="Registro" styleClass="centro" />
                            <p:column headerText="Suceso" styleClass="centro" />
                            <p:column headerText="Impresión" styleClass="centro" />
                        </p:row>
                    </p:columnGroup>

                    <p:column selectionMode="multiple"/>

                    <p:column styleClass="centro">
                        <p:graphicImage rendered="#{not empty parte.personas}"  styleClass="fa fa-user" />
                        <p:graphicImage rendered="#{not empty parte.objetos}"  styleClass="fa fa-futbol-o" style="margin-left: 0.3rem;"/>
                        <p:graphicImage rendered="#{not empty parte.adjuntos}"  styleClass="fa fa-paperclip" style="margin-left: 0.3rem;"/>
                    </p:column>

                    <p:column styleClass="centro">
                        <h:outputText value="#{parte.numParteFormateado}"  />
                        <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{parte.motivoAnulacion}" rendered="#{not empty parte.motivoAnulacion}"/>
                    </p:column>

                    <p:column styleClass="centro" style="width: 7rem">
                        <h:outputText value="#{parte.fechaRegistro}">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>     

                    <p:column styleClass="centro" style="width: 7rem">
                        <h:outputText value="#{parte.fechaSuceso}">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column  styleClass="centro" style="width: 7rem">
                        <h:outputText value="#{parte.fechaImpresion}">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column styleClass="centro" >
                        <h:outputText value="#{parte.listaActuantes}" />
                    </p:column>  

                    <p:column>
                        <h:outputText value="#{parte.asuntoCompleto}" />
                    </p:column>  

                    <p:column >
                        <h:outputText value="#{parte.unidad.nombre}" />
                    </p:column>  

                    <p:column styleClass="izquierda">
                        <h:outputText value="#{parte.estadoActual.estado.nombre}" />
                    </p:column> 

                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la apertura de partes e informes -->
        <ui:include src="dialogs/bandeja_salida/dlgAbrirParte.xhtml" />
        <ui:include src="dialogs/bandeja_salida/dlgAbrirRelacionNovedades.xhtml" />

        <!-- Dialog-box para las búsquedas de partes -->
        <ui:include src="dialogs/bandeja_salida/dlgBuscar.xhtml" />

        <!-- Dialog-box para editar un parte-->
        <ui:include src="dialogs/bandeja_salida/dlgEditar.xhtml" />

        <!-- Dialog-box para la tramitación de partes -->
        <ui:include src="dialogs/bandeja_salida/dlgTramitarParte.xhtml" />

        <!-- Dialog-box para añadir un nuevo destinatario-->
        <ui:include src="dialogs/bandeja_salida/dlgAnadirDestinatario.xhtml" />

        <!-- Dialog-box para añadir un nuevo documento adjunto-->
        <ui:include src="dialogs/bandeja_salida/dlgAnadirAdjunto.xhtml" />

        <!-- Dialog-box para ver históricos-->
        <ui:include src="dialogs/bandeja_salida/dlgVerDestinatario.xhtml" /> 
        <ui:include src="dialogs/bandeja_salida/dlgVerHistoricoImpresion.xhtml" /> 

        <!-- Dialog-box para imprimir partes-->
        <ui:include src="dialogs/bandeja_salida/dlgImprimiendo.xhtml" /> 
        <ui:include src="dialogs/bandeja_salida/dlgVerParte.xhtml" />  
        <ui:include src="dialogs/bandeja_salida/dlgVerImagen.xhtml" /> 
        <ui:include src="dialogs/bandeja_salida/dlgVerOrdenServicio.xhtml" /> 

        <!-- Dialog-box para imprimir etiquetas de objetos-->
        <ui:include src="dialogs/bandeja_salida/dlgVerEtiqueta.xhtml" /> 

        <!-- Dialog-box para confirmar los partes a incluir en las novedades del día-->
        <ui:include src="dialogs/bandeja_salida/dlgNovedades.xhtml" /> 
        <ui:include src="dialogs/bandeja_salida/dlgNovedadesWarning.xhtml" /> 

        <!-- Dialog-box para actualizar la situación de los objetos entregados-->
        <ui:include src="dialogs/bandeja_salida/dlgSituacionObjetos.xhtml" /> 
        <ui:include src="dialogs/bandeja_salida/dlgAnadirSituacionObjeto.xhtml" />

        <ui:include src="dialogs/bandeja_salida/dlgPreparandoZip.xhtml" /> 
    </ui:define>
</ui:composition> 