#contenedor {
    width: 100%;
    margin: 1% auto;
}

#conexion {
    text-align: right;
    font-size: 0.8em;
    font-family: Helvetica;
    color: #000549;
}

#cabecera {
    height: 100%;
    border-style: none;
    background: url('../images/fondo_cabecera.png') repeat-x;
}

#pie {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;

    clear: both;
   /* background-color: #e1e1e1;*/
   border: none;
    border-top: 1px solid #ccc;
   
    color: #000549;
    font-size: 0.8em;
    padding: 1px 5px;
    text-align: right;
    margin-bottom: 5px;
    padding: 0.3%;
}

#conexion { text-align: right; }

#menuAplicacion {float: left; /* width:15%;*/ }

#contenidoAplicacion { margin-left: 1%; min-height: 50em; }

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin-bottom: 10px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

