body {
    background-color: #ffffff;
    font-size: 0.7em;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {color: #045491; font-weight : bold; text-decoration: none;}

a:link:hover, a:visited:hover  {color: #045491; font-weight : bold; text-decoration : underline;}

#pie a {color: #000459; text-decoration: none;}

#conexion input{border: 0; text-align: right; font-size: 0.9em; font-family: Helvetica; color: #000549; width: 250px;}

#conexion input:disabled {background-color: transparent;}

.sombra {box-shadow: 0 0 50px 10px #888; -webkit-box-shadow: 0 0 50px 10px #888;}

.nosombra {box-shadow: none;}

.sombra_photo {box-shadow: 0 0 40px 3px #888; -webkit-box-shadow: 0 0 40px 3px #888;}

.login {margin:190px auto; width: 30%;}

.panelCentrado {margin: 7% auto; width:30%;}

.panelCentrado2 {margin: auto; width:50%;}

.panelCentrado3 {margin: auto; width:60%; text-align: left; }

.izquierda {text-align: left;}

.derecha {text-align: right;}

.float_izquierda {float: left;}

.float_derecha {float: right;}

.centro {text-align: center;}

.arriba {vertical-align: top;}

.medio {vertical-align: middle;}

.abajo {vertical-align: bottom;}

.tituloUnidad {font-family: serif; font-size: xx-large; font-weight:  bold; color: #888; }

.ancho_fijo {width: 25px;}

.largefont {font-size: large;}

.mediumfont {font-size: medium;}

.negrita {font-weight: bolder;}

.smallIcon {vertical-align: top; }

.aviso {background: orange !important; color: black; }

.fontAviso {font-size: 1.1em !important; color:red}

.cambiofuturo {background-color: rgb(192,230,116) !important; color: blue !important}

.baja {background-color: #FFFF66 !important; color: blue !important}

.inactivo {background-color: #FFA48D !important; color: blue !important}

.t35{width: 40px;}

.t70{width: 70px;}

.t80{width: 80px;}

.t100{width:100px;}

.t120{width:120px;}

.t130{width:130px;}

.t140{width:140px;}

.t150{width:150px;}

.t160{width:160px;}

.t170{width:170px;}

.t180{width:180px;}

.t200{width:200px;}

.t230{width: 230px;}

.t280{width: 280px;}

.t460{width: 460px;}

.t40p {width:40%;}

.t50p {width:50%}

.t60p {width:60%}

.t5rem {
    width: 5rem;
}

.t12rem {
    width: 12.5rem;
}

.bold {font-weight: bolder;}

.noborder, .noborder tr, .noborder td {border:0 !important;}

.border tr td, .border tr, .border td {border:inherit !important;}

.marco {border:1px solid !important;}

.nopadding {padding: 0px !important;}

.nopadding-left {padding-left: 0 !important;}

.nomargin {margin: 0px !important;}

.nopadding.ui-panelgrid td { padding: 2px 5px 0 0 !important;}

.nopadding2.ui-panelgrid tr td{padding-right: 0 !important}

.topAlign tr {vertical-align: top;}

.transparent.ui-widget {background: transparent}

.hide-column-names table thead tr { display: none;}

.lista .ui-orderlist-list{width:25em; height: 26em;}

.miembros .ui-orderlist .ui-orderlist-list{width:30em; height: 25em; padding: 1em}

.miembros .ui-grid-12 .ui-md-10 {width: auto; margin-left: 5em}

.selectedMiembro {width: 40em;}

.agentes .ui-orderlist-list{width:16em; height: 7em; margin-left: -5px; margin-top: -10px;}

.margen15 {margin: 15px 0;}

.azul {color: #370d96}

.anulado {color: orange !important;
          text-decoration: line-through;}

.normal {color: inherit;
         text-decoration: inherit;}

.blinking{
    animation:blinkingText .75s linear infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.vertical-spacer {
    position: relative; bottom: -2px;background-color: lightgray;  margin-left: 2px;margin-right: 2px;
}

.unidad_derecha {
    width: 300px;
    padding: 0px !important;
    text-align: right;
    font-size: large;
    color: blue;
}

.barraBotones {
    width: 78rem !important;
    margin-left: 1rem !important;
}

.scanOff{}

.botonesActuantes {
    width: 100px !important;
    padding-right: 0 !important;
    text-align: right !important;
}