/* 
    Document   : override
    Created on : 06-oct-2012, 10:57:19
    Author     : jjcamacho
    Description: Sobre carga de clases ya definidas en el tema principal del sitio.
*/

/*.ui-datalist .ui-datalist-content{
    width:425px !important;
    border:0;
    padding: 0 !important;
}*/

.ui-datalist-data {
    padding: 0 !important;
}

.ui-menu{
    float:none !important;
    background: #DEEDF7 50% 50% repeat-x !important;
}

.ui-layout-unit {
    visibility: hidden !important;
}

.ui-tree .ui-tree-container {
    height:98% !important;
}

.ui-panel .ui-panel-content {
    padding: 0.2em !important;
}

.read-only {
    background-color: #A58C8C !important;
    color: #D4D4D4 !important;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.menu-menuitem-text .ui-menuitem-text {
    font-size: 0.9em !important;
    color:rgb(79,79,79) !important;
}

.menu-menuitem-selected .ui-menuitem-text {
    font-size: 1.2em !important;
    font-weight: bolder !important;
    color: red;
}

.ui-inputswitch,ui-state-disabled {
    opacity: 100 !important;
}

.ui-datalist-content,ui-widget-content {
    min-height: 70px !important;
}

.ui-autocomplete {
    position: relative !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
    height: 28px;
}

.ui-tabs.ui-tabs-left>.ui-tabs-nav li{
    margin:0px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px !important;
}

.ui-inputswitch-off {
    background-color: red;
    color: white;
}

::-webkit-input-placeholder { color: #D3D3D3; }
::-moz-placeholder {color: #D3D3D3; }
:-ms-input-placeholder { color: #D3D3D3; } 
:-o-input-placeholder { color: #D3D3D3; } 

.grayedPanel tr {
         background: #F1F1F1 !important;
         border-color: gray !important;
}

.ui-chkbox .ui-chkbox-label {
    margin-top:3px !important;
}

.ui-commandlink.fa {
    font-family: FontAwesome !important;
    text-decoration: none !important;
}

.ui-button-text-icon-left .ui-icon.fa {
    margin-top: -6px !important; 
}