<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <p:panelGrid columns="1" style="border:1px solid lightgray !important;padding: 0px;margin-bottom:5px;">
        <p:panelGrid >
            <p:row>
                <p:column>
                    <p:panelGrid columns="2" columnClasses="nopadding izquierda t80, nopadding derecha t180" style="margin: 0 20px 0px 0">
                        <p:outputLabel value="Orden Servicio" />
                        <p:outputLabel rendered="#{pinOrdenServicioBacking.selectedOrdenServicio.idOrdenTrabajo gt 0}" value="#{pinOrdenServicioBacking.selectedOrdenServicio.unidad.nombre}" style="color:blue;" />
                    </p:panelGrid>
                </p:column>
                <p:column>
                    <p:outputLabel value="F. Registro" />
                </p:column>
                <p:column>
                    <p:outputLabel value="Vigente desde" />
                </p:column>
            </p:row>

            <p:row>
                <p:column rowspan="3" styleClass="arriba">
                    <p:inputText id="rfaInterna" label="Orden Servicio" 
                                 readonly="true"
                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.referenciaInterna eq null ? '' : pinOrdenServicioBacking.selectedOrdenServicio.referenciaInternaFormateada}"
                                 style="height: 50px;width: 250px;font-size: x-large; text-align: center; color:white; #{pinOrdenServicioBacking.selectedOrdenServicio.referenciaInterna eq null ?  'background-color:salmon' : 'background-color:green'}"/>
                </p:column>
                <p:column>
                    <p:calendar id="fechaRegistro" label="Fecha Registro"
                                value="#{pinOrdenServicioBacking.selectedOrdenServicio.fechaRegistro}"
                                size="17" readonly="true" locale="es" converter="TimestampConverter"
                                showOn="none" 
                                title="Fecha de registro de la orden de servicio"
                                pattern="dd-MM-yyyy HH:mm" />
                </p:column>
                <p:column>
                    <p:calendar id="fechaDesde" label="Vigente desde"
                                value="#{pinOrdenServicioBacking.selectedOrdenServicio.fechaDesde}"
                                size="17" locale="es" converter="TimestampConverter"
                                showOn="focus" showButtonPanel="true" showTodayButton="true"
                                title="Fecha inicio de la validez de la orden de servicio"
                                pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm">
                        <p:ajax update="vigente :fAnadirOrdenTrabajo:botones" />
                    </p:calendar>
                </p:column>

            </p:row>

            <p:row>
                <p:column>
                    <p:outputLabel value="Rfª. Externa" for="rfaExterna"/>
                </p:column>
                <p:column>
                    <p:outputLabel value="Vigente hasta" for="fechaHasta"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column>
                    <p:inputText id="rfaExterna" label="Rfª. Externa"
                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.referenciaExterna}"
                                 size="17">
                        <p:ajax event="keyup" update=":fAnadirOrdenTrabajo:botones" />
                    </p:inputText>
                </p:column>

                <p:column>
                    <p:calendar id="fechaHasta" label="Vigente hasta"
                                value="#{pinOrdenServicioBacking.selectedOrdenServicio.fechaHasta}"
                                size="17" locale="es" converter="TimestampConverter"
                                showOn="focus" showButtonPanel="true" showTodayButton="true"
                                title="Fecha fin de la validez de la orden de servicio"
                                pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm">
                        <p:ajax update="vigente  :fAnadirOrdenTrabajo:botones" />
                    </p:calendar>
                </p:column>
            </p:row>

            <p:row>
                <p:column>
                    <p:outputLabel value="Procedencia" for="procedencia"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column colspan="2">
                    <p:selectOneMenu id="procedencia" label="Procedencia"
                                     value="#{pinOrdenServicioBacking.selectedOrdenServicio.origen}" 
                                     converter="PinMiembroConverter"
                                     style="width:355px;" >
                        <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"/>
                        <f:selectItems value="#{pinOrdenServicioBacking.procedencias}" var="procedencia" itemLabel="#{procedencia.nombre}" itemValue="#{procedencia}"/>
                        <p:ajax event="change" update=":fAnadirOrdenTrabajo:botones" />
                    </p:selectOneMenu>
                </p:column>

                <p:column>
                    <p:panelGrid columns="2" styleClass="noborder" style="margin-left: -10px">
                        <p:outputLabel value="Vigente" for="vigente" style="padding-bottom: 5px"/>
                        <p:inputSwitch id="vigente" value="#{pinOrdenServicioBacking.selectedOrdenServicio.vigente}" onLabel="Sí" offLabel="No" disabled="true" style="margin-left:-10px;"/>                        
                    </p:panelGrid>
                </p:column>
            </p:row>

            <p:row>
                <p:column>
                    <p:outputLabel value="Contenido" for="tab:contenido"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column colspan="3">
                    <p:panelGrid columns="1" styleClass="noborder nopadding">
                        <p:tabView id="tab" styleClass="noborder" activeIndex="0" dynamic="true" style="width:615px;">
                            <p:tab title="CONTENIDO">
                                <p:inputTextarea id="contenido" label="Contenido del parte" style="margin-top:5px;"
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.contenido}"
                                                 cols="84" rows="11"  autoResize="false"  scrollHeight="5"
                                                 maxlength="4000"
                                                 counter="caracteres" counterTemplate="Quedan {0} caracteres" >

                                    <p:ajax event="keyup" update=":fAnadirOrdenTrabajo:botones" partialSubmit="true"/>
                                </p:inputTextarea>
                                <p:outputLabel id="caracteres"/>
                            </p:tab>

                            <p:tab title="DOCUMENTOS ADJUNTOS (#{empty pinOrdenServicioBacking.selectedOrdenServicio.adjuntos ? 0 : pinOrdenServicioBacking.selectedOrdenServicio.adjuntos.size()})" >
                                <p:panelGrid columns="1" styleClass="noborder">
                                    <p:spacer height="5" />
                                    <p:panelGrid id="botonesAdjuntos" columns="5" columnClasses="noborder nopadding" style="margin-bottom: 5px;">
                                        <p:commandLink title="Añadir documento adjunto" styleClass="fa fa-paperclip" 
                                                       update="tab :anadirAdjunto" 
                                                       actionListener="#{pinOrdenServicioBacking.resetSelectedAdjunto()}"
                                                       process="@this" immediate="true" />

                                        <p:spacer width="10"/>
                                        <p:commandLink title="Borrar documento adjunto" styleClass="fa fa-trash" immediate="true" process="@this"
                                                       update="tab :anadirAdjunto" 
                                                       actionListener="#{pinOrdenServicioBacking.deleteSelectedAdjunto()}"
                                                       disabled="#{pinOrdenServicioBacking.selectedAdjunto == null}"/>

                                        <p:spacer width="10"/>
                                        <p:commandLink title="Ver el documento seleccionado" styleClass="fa fa-eye" immediate="true" process="@this"
                                                       update="tab :anadirAdjunto" 
                                                       actionListener="#{pinOrdenServicioBacking.verSelectedAdjunto(false)}"
                                                       disabled="#{pinOrdenServicioBacking.selectedAdjunto == null}"/>
                                    </p:panelGrid> 

                                    <p:dataTable id="tAdjunto" 
                                                 var="adjunto" emptyMessage="No hay documentos adjuntos a esta orden de servicio" 
                                                 rowKey="#{adjunto.idAdjunto}" selectionMode="single"
                                                 selection="#{pinOrdenServicioBacking.selectedAdjunto}"
                                                 paginator="true" rows="15" style="height: 10.5em;"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 paginatorAlwaysVisible="false" paginatorPosition="bottom" 
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.adjuntos}">
                                        <p:ajax event="rowSelect"  update=":fAnadirOrdenTrabajo:tab:botonesAdjuntos"  />
                                        <p:ajax event="rowUnselect" update=":fAnadirOrdenTrabajo:tab:botonesAdjuntos" />

                                        <p:column headerText="Título" sortBy="#{adjunto.titulo}" style="width: 15em" styleClass="izquierda">
                                            <h:outputText value="#{adjunto.titulo}"  />
                                        </p:column>

                                        <p:column headerText="Fecha" sortBy="#{adjunto.fecha}" style="width: 7em" styleClass="centro">
                                            <h:outputText value="#{adjunto.fecha}" >
                                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                            </h:outputText>
                                        </p:column>    

                                        <p:column headerText="Tipo" sortBy="#{adjunto.tipo}" style="width: 3em" styleClass="centro">
                                            <h:outputText value="#{adjunto.tipo}"  />
                                        </p:column>
                                    </p:dataTable>
                                </p:panelGrid>
                            </p:tab>

                            <p:tab title="INFORMES (#{empty pinOrdenServicioBacking.selectedOrdenServicio.informes ? 0 : pinOrdenServicioBacking.selectedOrdenServicio.informes.size()})" 
                                   rendered="#{pinOrdenServicioBacking.accion eq 'Editar'}">
                                <p:panelGrid columns="1" styleClass="noborder">
                                    <p:spacer height="5" />
                                    <p:panelGrid id="botonesInformes" columns="4" columnClasses="noborder nopadding" style="margin-bottom: 5px;">
                                        <p:commandLink title="Ver informe" styleClass="fa fa-print" immediate="true" process="@this"
                                                       update="tab :verParte dialogImprimiendo" 
                                                       actionListener="#{pinOrdenServicioBacking.generateParteReport()}" 
                                                       disabled="#{pinOrdenServicioBacking.selectedParte == null}" 
                                                       onclick="PF('dlgImprimiendo').show();"
                                                       oncomplete="PF('dlgImprimiendo').hide();"
                                                       onerror="PF('dlgImprimiendo').hide();" />

                                    </p:panelGrid> 

                                    <p:dataTable id="tInforme" 
                                                 var="informe" emptyMessage="No hay informes relativos a esta orden de servicio" 
                                                 rowKey="#{informe.idParte}" selectionMode="single"
                                                 selection="#{pinOrdenServicioBacking.selectedParte}"
                                                 paginator="true" rows="15" style="height: 10.5em;"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 paginatorAlwaysVisible="false" paginatorPosition="bottom" 
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.informes}">
                                        <p:ajax event="rowSelect"  update=":fAnadirOrdenTrabajo:tab:botonesInformes"  />
                                        <p:ajax event="rowUnselect" update=":fAnadirOrdenTrabajo:tab:botonesInformes" />

                                        <p:column headerText="Número" sortFunction="#{informe.sortByNumParte}" sortBy="#{informe.numParteFormateado}" style="width: 8em" styleClass="centro">
                                            <h:outputText value="#{informe.numParteFormateado}"  />
                                            <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{informe.motivoAnulacion}" rendered="#{!empty informe.motivoAnulacion}"/>
                                        </p:column>

                                        <p:column headerText="F. Suceso" sortBy="#{informe.fechaSuceso}" style="width: 8em" styleClass="centro">
                                            <h:outputText value="#{informe.fechaSuceso}" >
                                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                            </h:outputText>
                                        </p:column>    

                                        <p:column headerText="Policía" style="width: 8em" styleClass="centro">
                                            <h:outputText value="#{informe.listaActuantes}" />
                                        </p:column>  

                                        <p:column headerText="Unidad" sortBy="#{informe.unidad.nombre}" style="width: 10em" styleClass="izquierda">
                                            <h:outputText value="#{informe.unidad.nombre}" />
                                        </p:column>  
                                    </p:dataTable>
                                </p:panelGrid>
                            </p:tab>

                            <p:tab title="PARTES (#{empty pinOrdenServicioBacking.selectedOrdenServicio.partes ? 0 : pinOrdenServicioBacking.selectedOrdenServicio.partes.size()})" 
                                   rendered="#{pinOrdenServicioBacking.accion eq 'Editar'}">
                                <p:panelGrid columns="1" styleClass="noborder">
                                    <p:spacer height="5" />
                                    <p:panelGrid id="botonesPartes" columns="3" columnClasses="noborder nopadding" style="margin-bottom: 5px;">
                                        <p:commandLink title="Ver parte informativo" styleClass="fa fa-print" immediate="true" process="@this"
                                                       update="tab :verParte dialogImprimiendo" 
                                                       actionListener="#{pinOrdenServicioBacking.generateParteReport()}"
                                                       disabled="#{pinOrdenServicioBacking.selectedParte == null}"
                                                       onclick="PF('dlgImprimiendo').show();"
                                                       oncomplete="PF('dlgImprimiendo').hide();"
                                                       onerror="PF('dlgImprimiendo').hide();" />
                                    </p:panelGrid> 

                                    <p:dataTable id="tParte" 
                                                 var="parte" emptyMessage="No hay partes informativos relativos a esta orden de servicio" 
                                                 rowKey="#{parte.idParte}" selectionMode="single"
                                                 selection="#{pinOrdenServicioBacking.selectedParte}"
                                                 paginator="true" rows="15" style="height: 10.5em;"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 paginatorAlwaysVisible="false" paginatorPosition="bottom" 
                                                 value="#{pinOrdenServicioBacking.selectedOrdenServicio.partes}">
                                        <p:ajax event="rowSelect"  update=":fAnadirOrdenTrabajo:tab:botonesPartes"  />
                                        <p:ajax event="rowUnselect" update=":fAnadirOrdenTrabajo:tab:botonesPartes" />


                                        <p:column headerText="Número" sortFunction="#{parte.sortByNumParte}" sortBy="#{parte.numParteFormateado}" style="width: 8em" styleClass="centro">
                                            <h:outputText value="#{parte.numParteFormateado}"  />
                                            <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{parte.motivoAnulacion}" rendered="#{!empty parte.motivoAnulacion}"/>
                                        </p:column>

                                        <p:column headerText="F. Suceso" sortBy="#{parte.fechaSuceso}" style="width: 8em" styleClass="centro">
                                            <h:outputText value="#{parte.fechaSuceso}" >
                                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                            </h:outputText>
                                        </p:column>    

                                        <p:column headerText="Policía" style="width: 8em" styleClass="centro">
                                            <h:outputText value="#{parte.listaActuantes}" />
                                        </p:column>  

                                        <p:column headerText="Unidad" sortBy="#{parte.unidad.nombre}" style="width: 10em" styleClass="izquierda">
                                            <h:outputText value="#{parte.unidad.nombre}" />
                                        </p:column>  
                                    </p:dataTable>
                                </p:panelGrid>
                            </p:tab>
                        </p:tabView>
                    </p:panelGrid>
                </p:column>
            </p:row>

        </p:panelGrid>
    </p:panelGrid>

    <p:spacer height="10"/>

</ui:composition>