<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:panelGrid id="parte" columns="2" styleClass="noborder" columnClasses="arriba,arriba nopadding">

        <p:panelGrid columns="1" >                      
            <p:panelGrid style="border:0.1rem solid lightgray !important;padding: 0.2rem;margin-bottom:0.2rem;" styleClass="grayedPanel">
                <p:row>
                    <p:column >
                        <p:outputLabel value="#{pinOficinaBacking.selectedParte.tipo eq 'PI' ? 'Parte' : 'Informe'}" /> 
                    </p:column>

                    <p:column style="padding-left: 0.3rem;">
                        <p:outputLabel value="F. Registro" for="fechaRegistro"/>
                    </p:column>
                    <p:column rowspan="4" style="padding-left: 0.3rem;" styleClass="arriba">
                        <p:dataTable id="tActuantes" value="#{pinOficinaBacking.selectedParte.actuantes}" 
                                     var="actuante" 
                                     scrollable="true" scrollRows="4" scrollHeight="65"
                                     style="height: 8rem; width: 10rem" emptyMessage="Sin actuantes definidos"
                                     rowKey="#{actuante.idActuante}" selectionMode="none">
                            <p:column headerText="Actuantes">
                                <h:outputText value="#{actuante.categoria.nombre} #{actuante.indicativo}"/>
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column rowspan="3" styleClass="arriba" >
                        <p:inputText id="numParte" label="Número parte" 
                                     value="#{pinOficinaBacking.selectedParte.numeroParte eq null ? '' : pinOficinaBacking.selectedParte.numParteFormateado}"
                                     readonly="true" 
                                     style="height: 4rem;width: 15rem;font-size: x-large; text-align: center; color:white; #{pinOficinaBacking.selectedParte.numeroParte eq null ?  'background-color:salmon' : 'background-color:green'}"/>

                    </p:column>
                    <p:column style="padding-left: 0.3rem;">
                        <p:calendar id="fechaRegistro" label="Fecha Registro"
                                    value="#{pinOficinaBacking.selectedParte.fechaRegistro}"
                                    size="16" readonly="true" locale="es"
                                    showOn="none" 
                                    title="Fecha de registro del parte"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="padding-left: 0.3rem;margin:0">
                        <p:outputLabel value="F. Suceso" for="fechaSuceso"/>
                    </p:column> 
                </p:row>

                <p:row>
                    <p:column style="padding-left: 0.3rem;margin:0">
                        <p:calendar id="fechaSuceso" label="Fecha Suceso"
                                    value="#{pinOficinaBacking.selectedParte.fechaSuceso}"
                                    size="16" locale="es" showOn="none" readonly="true"
                                    title="Fecha de hecho referenciado en el parte"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm" showButtonPanel="true">
                        </p:calendar>
                    </p:column>
                </p:row>

                <p:row>                    
                    <p:column styleClass="arriba" colspan="3">
                        <p:outputLabel value="Orden de servicio" for="ordenServicio"/>
                    </p:column>
                </p:row>

                <p:row>                    
                    <p:column styleClass="arriba" colspan="3">
                        <p:inputText id="ordenServicio" value="#{pinOficinaBacking.selectedParte.ordenServicio.referenciaInterna}" readonly="true" />
                    </p:column>
                </p:row>

                <p:row>                    
                    <p:column styleClass="arriba"  colspan="3">
                        <p:outputLabel value="Lugar" for="lugar" style="margin-top:-0.1rem;"/>
                    </p:column>
                </p:row>

                <p:row>                    
                    <p:column colspan="3" styleClass="arriba" >
                        <p:inputText id="lugar" label="Lugar" 
                                     value="#{pinOficinaBacking.selectedParte.lugar}"
                                     style="width: 37rem;margin-bottom: 0.6rem" readonly="true"/>
                    </p:column>
                </p:row>

                <p:row>                    
                    <p:column styleClass="arriba" colspan="3">
                        <p:outputLabel value="Asunto" for="asunto"/>                           
                    </p:column>
                </p:row>

                <p:row>   
                    <p:column colspan="3" styleClass="arriba">
                        <p:inputText id="asunto" style="width: 37rem;margin-bottom: 0.6rem" 
                                     value="#{pinOficinaBacking.selectedParte.asunto.nombre} - #{pinOficinaBacking.selectedParte.subasunto.nombre}" 
                                     readonly="true" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column colspan="3" styleClass="arriba" style="padding: 0;">
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:inputTextarea label="Parte" 
                                             value="#{pinOficinaBacking.selectedParte.informe}"
                                             readonly="true"  style="width: 37rem;"                                           
                                             cols="85" rows="15" scrollHeight="200" autoResize="false" >
                            </p:inputTextarea>
                        </p:panelGrid>
                    </p:column>
                </p:row>

            </p:panelGrid>
        </p:panelGrid>

        <p:panelGrid id="tramites" styleClass="nopadding">

            <p:row>
                <p:column styleClass="arriba">
                    <p:panel id="botonesDestinos"  styleClass="noborder">
                        <p:commandLink title="Añadir destinatario" styleClass="fa fa-building-o fa-lg"                                            
                                       update="fNuevoDestinatario" actionListener="#{pinOficinaBacking.resetSelectedDestino()}"
                                       process="@this" immediate="true" disabled="#{!pinOficinaBacking.puedeAnadirDestinatarios}"
                                       oncomplete="PF('dlgAnadirDestinatario').show();" />

                    </p:panel> 
                    <p:dataTable id="tDestinatarios" value="#{pinOficinaBacking.selectedParte.destinos}" 
                                 var="destinatario" 
                                 scrollable="true" scrollRows="4" scrollHeight="65"
                                 style="height: 8rem; width: 30rem" emptyMessage="Sin destinatarios definidos"
                                 rowKey="#{destinatario.idDestino}" >
                        <p:column headerText="Destinatarios">
                            <h:outputText value="#{destinatario.destino.nombre}"/>
                        </p:column>

                        <p:ajax event="rowSelect" update="botonesDestinos"/>
                        <p:ajax event="rowUnselect"  update="botonesDestinos"/>
                    </p:dataTable>
                </p:column>
            </p:row>

            <p:panelGrid columns="2" style="width: 10rem;" styleClass="noborder nopadding" columnClasses="izquierda,derecha">
                <p:outputLabel value="Archivar" for="archivado"/>
                <p:inputSwitch id="archivado" value="#{pinOficinaBacking.archivado}" onLabel="Sí" offLabel="No" immediate="true">
                    <p:ajax event="change" update="fTramitarParte:botones botonesDestinos tDestinatarios acciones firmantes" />
                </p:inputSwitch>  
            </p:panelGrid>

            <p:panelGrid id="acciones" columns="2" styleClass="noborder nopadding arriba" rendered="#{not pinOficinaBacking.archivado}">
                <p:outputLabel value="¿Qué desea hacer?" />
                <p:panel  style="border:0.1rem solid lightgray !important;" >
                    <p:selectOneRadio value="#{pinOficinaBacking.accion}"  layout="grid" columns="1" disabled="#{!pinOficinaBacking.puedeTramitar or pinOficinaBacking.selectedParte.archivado.booleanValue()}">
                        <f:selectItem itemLabel="Devolver al remitente" itemValue="#{Constants.DEVOLVER_REMITENTE}"/>
                        <c:if test="#{pinOficinaBacking.selectedParte.tipo eq 'PI'}">
                            <f:selectItem itemLabel="Remitir a Unidad de destino" itemValue="#{Constants.REMITIR_UNIDAD_DESTINO}" />
                            <f:selectItem itemLabel="Convertir en Informe" itemValue="#{Constants.CONVERTIR_EN_INFORME}" />
                        </c:if>

                        <c:if test="#{pinOficinaBacking.selectedParte.tipo eq 'IF'}">
                            <f:selectItem itemLabel="Remitir a Registro de Jefatura" itemValue="#{Constants.REMITIR_REGISTRO_JEFATURA}" />
                            <f:selectItem itemLabel="Enviar a PortaFirmas" itemValue="#{Constants.ENVIAR_PORTA_FIRMAS}" />
                        </c:if>

                        <p:ajax event="change" listener="#{pinOficinaBacking.actualizarAccion()}" update="botones botonesDestinos firmantes  @this" />
                    </p:selectOneRadio>
                </p:panel>                        
            </p:panelGrid>


            <p:graphicImage library="images" name="remitido.png" style="height:8rem;" rendered="#{pinOficinaBacking.selectedParte.tramitado}"/>  

            <p:panelGrid id="firmantes" columns="2" styleClass="noborder nopadding centro" >

                <p:commandButton  value="Añadir firmantes" title="Añadir firmantes" icon="fa fa-at"  
                                  process="@this" immediate="true" style="margin-top:0.2rem;"
                                  rendered="#{pinOficinaBacking.puedeEnviarPortafirmas}"
                                  oncomplete="PF('dlgAnadirDestinatario').show();" />

                <p:outputLabel value="#{pinOficinaBacking.selectedParte.firmantes.size()} firmantes"
                               rendered="#{pinOficinaBacking.puedeEnviarPortafirmas}"/>
            </p:panelGrid>
        </p:panelGrid>

    </p:panelGrid>

</ui:composition>