<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:panelGrid id="ordenanza" columns="2" styleClass="noborder" columnClasses="arriba,arriba">

        <p:panelGrid id="ordenanzaPanel" columns="1" >                      
            <p:panelGrid style="border:1px solid lightgray !important;padding: 5px;margin-bottom:5px;">
                <p:row>
                    <p:column >
                        <p:outputLabel value="#{pinParteBacking.tipoInforme}" /> 
                    </p:column>

                    <p:column style="padding-left: 15px;">
                        <p:outputLabel value="F. Registro" for="fechaRegistro"/>
                    </p:column>
                    <p:column  style="border-right:1px solid lightgray !important;">
                        <p:panel id="botonesActuantes"  styleClass="noborder">
                            <p:commandLink title="Añadir actuante" styleClass="fa fa-user-plus"                                            
                                           update="fEditarOrdenanza" actionListener="#{pinParteBacking.resetSelectedActuante()}"
                                           process="@this" immediate="true" 
                                           oncomplete="PF('dlgAnadirActuante').show();" />
                            <p:commandLink title="Borrar actuante" styleClass="fa fa-trash" immediate="true" process="@this" 
                                           style="margin-left:15px;"
                                           update="fEditarOrdenanza" actionListener="#{pinParteBacking.deleteSelectedActuante()}"
                                           disabled="#{pinParteBacking.selectedActuante == null}"/>
                        </p:panel> 
                    </p:column>
                </p:row>

                <p:row>
                    <p:column rowspan="3" styleClass="arriba" >
                        <p:inputText id="numParte" label="Número parte" 
                                     value="#{pinParteBacking.selectedParte.numeroParte eq null ? '' : pinParteBacking.selectedParte.numParteFormateado}"
                                     readonly="true" 
                                     style="height: 50px;width: 230px;font-size: x-large; text-align: center; color:white; #{pinParteBacking.selectedParte.numeroParte eq null ?  'background-color:salmon' : 'background-color:green'}"/>

                    </p:column>
                    <p:column style="padding-left: 15px;">
                        <p:calendar id="fechaRegistro" label="Fecha Registro"
                                    value="#{pinParteBacking.selectedParte.fechaRegistro}"
                                    size="17" readonly="true" locale="es"
                                    showOn="none" 
                                    title="Fecha de registro del parte"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm"/>
                    </p:column>
                    <p:column colspan="2" rowspan="3" style="padding-left: 15px;">
                        <p:dataTable id="tDenunciante" value="#{pinParteBacking.selectedParte.actuantes}" 
                                     var="denunciante" selection="#{pinParteBacking.selectedActuante}" 
                                     scrollable="true" scrollRows="4" scrollHeight="50"
                                     style="height: 78px; width: 170px" emptyMessage="Sin denunciante definido"
                                     rowKey="#{denunciante.idActuante}" selectionMode="single">
                            <p:column headerText="Actuantes">
                                <h:outputText value="#{denunciante.categoria.nombre} #{denunciante.indicativo}"/>
                            </p:column>

                            <p:ajax event="rowSelect" update=":fEditarOrdenanza:botonesActuantes"/>
                            <p:ajax event="rowUnselect"  update=":fEditarOrdenanza:botonesActuantes"/>
                        </p:dataTable>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="padding-left: 15px;margin:0px">
                        <p:outputLabel value="F. Denuncia" for="fechaDenuncia"/>
                    </p:column> 
                </p:row>

                <p:row>
                    <p:column style="padding-left: 15px;margin:0px">
                        <p:calendar id="fechaDenuncia" label="Fecha Denuncia"
                                    value="#{pinParteBacking.selectedParte.fechaSuceso}"
                                    size="17" locale="es" 
                                    maxdate="#{pinParteBacking.selectedParte.fechaRegistro}"
                                    title="Fecha de la denuncia"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm" showButtonPanel="true">
                            <p:ajax event="dateSelect" update=":fEditarOrdenanza:botones" partialSubmit="true"/>
                        </p:calendar>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid >
                <p:row >
                    <p:column style="padding-bottom: 5px;padding-left: 0px">
                        <p:outputLabel value="Acta de denuncia" for="actaDenuncia"/>
                    </p:column>
                    <p:column style="padding-bottom: 5px;margin-left: 10px;">
                        <p:outputLabel value="Lugar" for="lugar" />
                    </p:column>

                </p:row>

                <p:row>
                    <p:column styleClass="arriba" style="padding: 0px;">
                        <p:inputText id="actaDenuncia" label="Acta de denuncia" immediate="true"
                                     value="#{pinParteBacking.selectedParte.referenciaOrigen}" required="false" style="width:170px;" >
                            <p:ajax event="keyup" update=":fEditarOrdenanza:botones" partialSubmit="true" process="@this" />
                        </p:inputText>
                    </p:column>

                    <p:column styleClass="arriba" style="padding: 0px;">
                        <p:inputText id="lugar" label="Lugar" 
                                     value="#{pinParteBacking.selectedParte.lugar}"
                                     onclick="$('#definirLugar').click();"
                                     style=" margin-left: 10px;"
                                     size="56" readonly="true"/>
                    </p:column>
                    <p:column styleClass="centro" style="padding: 0px;">
                        <p:commandLink title="Definir lugar" styleClass="fa fa-map-marker" 
                                       id="definirLugar" 
                                       process="@this" immediate="true"
                                       style=" margin-left: 10px;"
                                       update=":fEditarOrdenanza:botones buscarVia"
                                       actionListener="#{pinParteBacking.resetVia()}"
                                       oncomplete="PF('dlgBuscarVia').show();" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid>
                <p:row>
                    <p:column style="padding-bottom: 5px;padding-left: 0px">
                        <p:outputLabel value="Asunto" for="asunto"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="padding-bottom: 5px;padding-left: 0px">
                        <p:selectOneMenu id="asunto" label="Asunto"
                                         value="#{pinParteBacking.selectedParte.asunto}"
                                         converter="PinMiembroConverter" style="width:270px;" >
                            <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                            <f:selectItems value="#{pinParteBacking.asuntos}" var="asunto" itemLabel="#{asunto.nombre}" itemValue="#{asunto}"/>
                            <p:ajax event="change" listener="#{pinParteBacking.recargarDestinatarios()}" update="subasunto :fEditarOrdenanza:botones" partialSubmit="true" />
                        </p:selectOneMenu>
                    </p:column>

                    <p:column>
                        <p:selectOneMenu id="subasunto" label="Subasunto"
                                         value="#{pinParteBacking.selectedParte.subasunto}"
                                         converter="PinMiembroConverter" style="width:280px;" >
                            <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"  />
                            <f:selectItems value="#{pinParteBacking.subasuntos}" var="asunto" itemLabel="#{asunto.nombre}" itemValue="#{asunto}"/>
                            <p:ajax event="change" update=":fEditarOrdenanza:botones" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid columns="1" styleClass="noborder nopadding">
                <p:tabView id="tab" styleClass="noborder" activeIndex="0" dynamic="true" style="width:618px;">
                    <p:tab title="INFRACCIÓN">
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:inputTextarea id="parte" label="Parte" 
                                             value="#{pinParteBacking.selectedParte.informe}"                                            
                                             cols="85" rows="15" scrollHeight="200" autoResize="false" maxlength="20000"
                                             counter="caracteres" counterTemplate="Quedan {0} caracteres" >
                                <p:ajax event="keyup" update=":fEditarOrdenanza:botones" partialSubmit="true"/>
                            </p:inputTextarea>
                            <p:outputLabel id="caracteres"/>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab  id="personas" title="IMPLICADOS (#{empty pinParteBacking.selectedParte.personas ? 0 : pinParteBacking.selectedParte.personas.size()})" >
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:panelGrid id="botonesPersonas" columns="3" columnClasses="noborder nopadding" style="margin-bottom: 5px;">
                                <p:commandLink title="Añadir reseña de persona" styleClass="fa fa-user-plus" 
                                               update=":fEditarOrdenanza:tab :anadirPersona" 
                                               actionListener="#{pinParteBacking.resetSelectedResenaPersona(1)}"
                                               process="@this" immediate="true" />
                                <p:spacer width="10"/>
                                <p:commandLink title="Borrar reseña de persona" styleClass="fa fa-trash" immediate="true" process="@this"
                                               update=":fEditarOrdenanza:tab :fEditarOrdenanza:botones :anadirPersona" 
                                               actionListener="#{pinParteBacking.deleteSelectedResenaPersona()}"
                                               disabled="#{pinParteBacking.selectedResenaPersona == null}"/>
                            </p:panelGrid> 
                            <p:dataTable id="tPersona" 
                                         var="persona" emptyMessage="No hay personas reseñadas en este parte" 
                                         rowKey="#{persona.idPersona}" selectionMode="single"
                                         selection="#{pinParteBacking.selectedResenaPersona}"
                                         paginator="true" rows="15" style="height: 18em;"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                                         value="#{pinParteBacking.selectedParte.personas}">
                                <p:ajax event="rowSelect"  update=":fEditarOrdenanza:tab:botonesPersonas"  />
                                <p:ajax event="rowUnselect" update=":fEditarOrdenanza:tab:botonesPersonas" />

                                <p:column headerText="Documento" sortBy="#{persona.numDocumento}" style="width: 10em" styleClass="centro">
                                    <h:outputText value="#{persona.numDocumento}"  />
                                </p:column>

                                <p:column headerText="Nombre" sortBy="#{persona.nombre}" style="width: 16em">
                                    <h:outputText value="#{persona.nombre}" />
                                </p:column>  

                                <p:column headerText="Participación" sortBy="#{persona.participacion}" style="width: 16em">
                                    <h:outputText value="#{persona.participacion.nombre}" />
                                </p:column>  

                                <p:column headerText="Población" sortBy="#{persona.poblacion}" style="width: 8em" >
                                    <h:outputText value="#{persona.poblacion}" />
                                </p:column>  

                            </p:dataTable>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab  id="adjuntos" title="ACTA ADJUNTA (#{empty pinParteBacking.selectedParte.adjuntos ? 0 : pinParteBacking.selectedParte.adjuntos.size()})" >
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:panelGrid id="botonesAdjuntos" columns="5" columnClasses="noborder nopadding" style="margin-bottom: 5px;">
                                <p:commandLink title="Añadir documento adjunto" styleClass="fa fa-paperclip" 
                                               update=":fEditarOrdenanza:tab :anadirAdjunto" 
                                               actionListener="#{pinParteBacking.resetSelectedAdjunto()}"
                                               process="@this" immediate="true" />

                                <p:spacer width="10"/>
                                <p:commandLink title="Borrar documento adjunto" styleClass="fa fa-trash" immediate="true" process="@this"
                                               update=":fEditarOrdenanza:tab :fEditarOrdenanza:botones :anadirAdjunto" 
                                               actionListener="#{pinParteBacking.deleteSelectedAdjunto()}"
                                               disabled="#{pinParteBacking.selectedAdjunto == null}"/>

                                <p:spacer width="10"/>
                                <p:commandLink title="Ver el documento seleccionado" styleClass="fa fa-eye" immediate="true" process="@this"
                                               update=":fEditarOrdenanza:tab :fEditarOrdenanza:botones :anadirAdjunto" 
                                               actionListener="#{pinParteBacking.verSelectedAdjunto(false)}"
                                               disabled="#{pinParteBacking.selectedAdjunto == null}"/>
                            </p:panelGrid> 

                            <p:dataTable id="tAdjunto" 
                                         var="adjunto" emptyMessage="No hay documentos adjuntos a este parte" 
                                         rowKey="#{adjunto.idAdjunto}" selectionMode="single"
                                         selection="#{pinParteBacking.selectedAdjunto}"
                                         paginator="true" rows="15" style="height: 18em;"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                                         value="#{pinParteBacking.selectedParte.adjuntos}">
                                <p:ajax event="rowSelect"  update=":fEditarOrdenanza:tab:botonesAdjuntos"  />
                                <p:ajax event="rowUnselect" update=":fEditarOrdenanza:tab:botonesAdjuntos" />

                                <p:column headerText="Título" sortBy="#{adjunto.titulo}" style="width: 15em" styleClass="izquierda">
                                    <h:outputText value="#{adjunto.titulo}"  />
                                </p:column>

                                <p:column headerText="Fecha" sortBy="#{adjunto.fecha}" style="width: 7em" styleClass="centro">
                                    <h:outputText value="#{adjunto.fecha}" >
                                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                    </h:outputText>
                                </p:column>    

                                <p:column headerText="Tipo" sortBy="#{adjunto.tipo}" style="width: 3em" styleClass="centro">
                                    <h:outputText value="#{adjunto.tipo}"  />
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
            </p:panelGrid>

            <p:panelGrid columns="3" styleClass="noborder nopadding">
                <p:outputLabel value="Archivar en la oficina de #{pinParteBacking.selectedParte.unidad.nombre}" for="archivado"/>
                <p:inputSwitch id="archivado" value="#{pinParteBacking.selectedParte.archivado}" onLabel="Sí" offLabel="No" >
                    <p:ajax immediate="true" update="bnGrabar" />
                </p:inputSwitch> 
            </p:panelGrid>
        </p:panelGrid>

        <p:gmap id="mainMap" 
                center="#{pinParteBacking.center}" 
                zoom="#{pinParteBacking.zoom + 1}" type="MAP" style="min-height: 51em; min-width: 38em;margin-top:5px;"  
                model="#{pinParteBacking.mapModel}" navigationControl="true">
            <p:ajax event="overlaySelect" listener="#{pinParteBacking.onMarkerSelect}" />
            <p:ajax event="pointSelect" listener="#{pinParteBacking.onPointSelect}" update="mainMap"/>
            <p:ajax event="markerDrag" listener="#{pinParteBacking.onMarkerDrag}" update="mainMap" />
            <p:ajax event="stateChange" listener="#{pinParteBacking.onStateChange}" />
            <p:gmapInfoWindow id="infoWindow">
                <p:outputPanel style="text-align: left; display: block; margin: auto">
                    <h:outputText value="Accidente #{pinParteBacking.selectedParte.numeroParte}" style='font-size: xx-small'/>
                    <br/>
                    <h:outputText value="Asunto: #{pinParteBacking.selectedParte.asuntoCompleto}" style='font-size: xx-small'/>
                    <br/>
                    <h:outputText value="Actuante: #{pinParteBacking.selectedParte.actuantes.toString()}" style='font-size: xx-small'/>                                
                </p:outputPanel>
            </p:gmapInfoWindow>
        </p:gmap>

    </p:panelGrid>

    <p:spacer height="10"/>

</ui:composition>