<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:panelGrid id="acreditoPanel" columns="1" >                      
        <p:panelGrid style="border:0.1rem solid lightgray !important;padding: 1rem;margin-bottom:1rem;height: 7rem">
            <p:row>
                <p:column style="padding-left: 0.7rem; padding-bottom: 0">
                    <p:outputLabel value="#{pinParteBacking.tipoInforme}" /> 
                </p:column>

                <p:column style="padding-left: 1.2rem; padding-bottom: 0">
                    <p:outputLabel value="F. Registro" for="fechaRegistro"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column rowspan="3" styleClass="arriba" >
                    <p:inputText id="numAcredito" label="Número acredito" 
                                 value="#{pinParteBacking.selectedParte.numeroParte eq null ? '' : pinParteBacking.selectedParte.numParteFormateado}"
                                 readonly="true" 
                                 style="width: 20rem;height:4.5rem;font-size: x-large; text-align: center; color:white; #{pinParteBacking.selectedParte.numeroParte eq null ?  'background-color:salmon' : 'background-color:green'}"/>

                </p:column>
                <p:column style="padding-left: 1.2rem;">
                    <p:calendar id="fechaRegistro" label="Fecha Registro"
                                value="#{pinParteBacking.selectedParte.fechaRegistro}"
                                size="17" readonly="true" locale="es"
                                showOn="none" 
                                title="Fecha de registro del parte"
                                pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column style="padding-left: 1.2rem; padding-bottom: 0;margin:0">
                    <p:outputLabel value="F. Expedición" for="fechaExpedicion"/>
                </p:column> 
            </p:row>

            <p:row>
                <p:column style="padding-left: 1.2rem;margin:0">
                    <p:calendar id="fechaExpedicion" label="Fecha Expedición"
                                value="#{pinParteBacking.selectedParte.fechaSuceso}"
                                size="17" locale="es" 
                                maxdate="#{pinParteBacking.selectedParte.fechaRegistro}"
                                title="Fecha de expedición de la acreditación"
                                pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm" showButtonPanel="true">
                        <p:ajax event="dateSelect" update=":fEditarAcredito:botones" partialSubmit="true"/>
                    </p:calendar>
                </p:column>
            </p:row>
        </p:panelGrid>

        <p:panelGrid >
            <p:row >
                <p:column style="padding-bottom: 0.1rem;padding-left: 0;">
                    <p:outputLabel value="Lugar" for="lugar" />
                </p:column>
            </p:row>

            <p:row>
                <p:column styleClass="arriba" style="padding-left:0;">
                    <p:inputText id="lugar" label="Lugar" 
                                 value="#{pinParteBacking.selectedParte.lugar}"
                                 style="width:39.5rem" readonly="true"/>
                </p:column>
            </p:row>
        </p:panelGrid>

        <p:panelGrid>
            <p:row>
                <p:column style="padding-bottom: 0.1rem;padding-left: 0">
                    <p:outputLabel value="Motivo de petición" for="motivo"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column style="padding-bottom: 0.1rem;padding-left: 0">
                    <p:selectOneMenu id="motivo" label="Motivo de petición"
                                     value="#{pinParteBacking.selectedParte.subasunto}"
                                     converter="PinMiembroConverter" style="width:38.5rem;" >
                        <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"  />
                        <f:selectItems value="#{pinParteBacking.subasuntos}" var="asunto" itemLabel="#{asunto.nombre}" itemValue="#{asunto}"/>
                        <p:ajax event="change" update=":fEditarAcredito:botones" />
                    </p:selectOneMenu>
                </p:column>
            </p:row>
        </p:panelGrid>

        <p:panelGrid>
            <p:row>
                <p:column style="padding-bottom: 0.5rem;padding-left: 0">
                    <p:commandButton value="Solicitante" icon="fa fa-user" style="width:8rem" actionListener="#{pinParteBacking.resetSelectedResenaPersona(2)}" update="fAnadirPersona"/>
                </p:column>
                <p:column style="margin-left: 0">
                    <p:inputText id="solicitante" value="#{pinParteBacking.selectedParte.personas[0].numDocumento} - #{pinParteBacking.selectedParte.personas[0].nombre}" style="width:30rem" readonly="true"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column style="padding-bottom: 0.5rem;padding-left: 0">
                    <p:commandButton value="Doc. solicitud" icon="fa fa-file-text-o" style="width:8rem" actionListener="#{pinParteBacking.resetSelectedAdjunto()}" update="fAnadirAdjunto"/>
                </p:column>
                <p:column style="margin-left: 0">
                    <p:inputText id="docSolicitud" value="#{pinParteBacking.selectedParte.adjuntos[0].titulo}" style="width:30rem" readonly="true"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column style="padding-bottom: 0.5;padding-left: 0">
                    <p:commandButton value="Firmante" icon="fa fa-certificate" style="width:8rem"
                                     actionListener="#{pinParteBacking.resetSelectedActuante()}"
                                     process="@this" immediate="true" 
                                     update="fNuevoFirmante"
                                     oncomplete="PF('dlgAnadirFirmante').show();" />
                </p:column>
                <p:column style="margin-left: 0.5">
                    <p:inputText id="firmante" value="#{pinParteBacking.selectedParte.actuantes[0].categoria.nombre} #{pinParteBacking.selectedParte.actuantes[0].indicativo}" style="width:30rem" readonly="true"/>
                </p:column>
            </p:row>

        </p:panelGrid>

        <p:panelGrid columns="1" styleClass="noborder nopadding">
            <p:outputLabel value="Texto de la acreditación" for="textoAcredito" />
            <p:inputTextarea id="textoAcredito" label="Acredito" 
                             value="#{pinParteBacking.selectedParte.informe}"                                          
                             style="width:39.5rem" rows="15" scrollHeight="200" autoResize="false" maxlength="20000"
                             counter="caracteres" counterTemplate="Quedan {0} caracteres" >
                <p:ajax event="keyup" update=":fEditarAcredito:botones" partialSubmit="true"/>
            </p:inputTextarea>
            <p:outputLabel id="caracteres"/>
        </p:panelGrid>
    </p:panelGrid>

    <p:spacer height="10"/>

</ui:composition>