<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:panelGrid id="parteAlta" columns="2" styleClass="noborder" columnClasses="arriba,arriba">

        <p:panelGrid id="panelPrincipal" columns="1" >                      
            <p:panelGrid  style="border:0.1rem solid lightgray !important;padding: 0.3rem;margin-bottom:0.3rem;">
                <p:row>
                    <p:column >
                        <p:outputLabel  value="#{pinOficinaBacking.tipoInforme}" /> 
                    </p:column>

                    <p:column style="padding-left: 0.5rem;">
                        <p:outputLabel value="F. Registro" for="fechaRegistro"/>
                    </p:column>
                    <p:column  style="border-right:0.1rem solid lightgray !important;">
                        <p:panel id="botonesActuantes"  styleClass="noborder">
                            <p:commandLink title="Añadir actuante" styleClass="fa fa-user-plus"                                            
                                           update="fEditarParte" 
                                           process="@this" immediate="true" disabled="true"
                                           oncomplete="PF('dlgAnadirActuante').show();" />
                            <p:commandLink title="Borrar actuante" styleClass="fa fa-trash" immediate="true" process="@this" 
                                           style="margin-left:0.5rem;"
                                           update="fEditarParte" 
                                           disabled="true"/>
                        </p:panel> 
                    </p:column>
                </p:row>

                <p:row>
                    <p:column rowspan="3" styleClass="arriba" >
                        <p:inputText id="numParteAlta" label="Número parte" 
                                     value="#{pinOficinaBacking.selectedParte.numeroParte eq null ? '' : pinOficinaBacking.selectedParte.numParteFormateado}"
                                     readonly="true" 
                                     style="height: 3rem;width: 17rem;font-size: x-large; text-align: center; color:white; #{pinOficinaBacking.selectedParte.numeroParte eq null ?  'background-color:salmon' : 'background-color:green'}"/>

                    </p:column>
                    <p:column style="padding-left: 0.5rem;">
                        <p:calendar id="fechaRegistroAlta" label="Fecha Registro"
                                    value="#{pinOficinaBacking.selectedParte.fechaRegistro}"
                                    size="17" readonly="true" locale="es"
                                    showOn="none" 
                                    title="Fecha de registro del parte"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm"/>
                    </p:column>
                    <p:column rowspan="3" style="padding-left: 0.5rem;">
                        <p:dataTable id="tActuantesAlta" value="#{pinOficinaBacking.selectedParte.actuantes}" 
                                     var="actuante" selection="#{pinOficinaBacking.selectedActuante}" 
                                     scrollable="true" scrollRows="4" scrollHeight="65"
                                     style="height: 8rem; width: 12rem" emptyMessage="Sin actuantes definidos"
                                     rowKey="#{actuante.idActuante}" selectionMode="single">
                            <p:column headerText="Actuantes">
                                <h:outputText value="#{actuante.categoria.nombre} #{actuante.indicativo}"/>
                            </p:column>

                            <p:ajax event="rowSelect" update=":fEditarParte:botonesActuantes"/>
                            <p:ajax event="rowUnselect"  update=":fEditarParte:botonesActuantes"/>
                        </p:dataTable>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="padding-left: 0.5rem;margin:0">
                        <p:outputLabel value="F. Suceso" for="fechaSuceso"/>
                    </p:column> 
                </p:row>

                <p:row>
                    <p:column style="padding-left: 0.5rem;margin:0">
                        <p:calendar id="fechaSucesoAlta" label="Fecha Suceso"
                                    value="#{pinOficinaBacking.selectedParte.fechaSuceso}"
                                    size="17" locale="es" readonly="true" showOn="none"
                                    maxdate="#{pinOficinaBacking.selectedParte.fechaRegistro}"
                                    title="Fecha de hecho referenciado en el parte"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm" showButtonPanel="true" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid id="partePanel">
                <p:row >
                    <p:column style="padding: 0;">
                        <p:panel  styleClass="noborder"  >
                            <p:outputLabel value="Orden de servicio" for="ordenServicioAlta"/>
                            <p:commandLink title="Ver orden de servicio" styleClass="fa fa-print" immediate="true" process="@this"
                                           update="tab :verOrdenTrabajo" 
                                           actionListener="#{pinOficinaBacking.generateOrdenTrabajoReport()}"
                                           disabled="#{pinOficinaBacking.puedeVer()}"
                                           onclick="PF('dlgImprimiendo').show();" 
                                           oncomplete="PF('dlgImprimiendo').hide();"
                                           rendered="#{pinOficinaBacking.tipoInforme eq 'Parte'}"
                                           onerror="PF('dlgImprimiendo').hide();" />
                            <p:commandLink  title="Ver orden de servicio y partes relacionados" styleClass="fa fa-eye" immediate="true" process="@this"
                                            update="tab :verOrdenTrabajo" style="margin-left:0.3rem;"
                                            disabled="#{pinOficinaBacking.selectedParte.anulado or pinOficinaBacking.selectedParte.listoTramitar}"
                                            rendered="#{pinOficinaBacking.tipoInforme eq 'Informe'}" 
                                            onclick="PF('dlgVerOrdenPartes').show();"/>
                            <p:selectBooleanCheckbox id="mostrarTodasOrdenes" itemLabel="Vencidas"
                                                     style="margin-left:3rem;"
                                                     value="#{pinOficinaBacking.showTodasOrdenes}"  >
                                <p:ajax event="change" process="@this" listener="#{pinOficinaBacking.updateOrdenesServicio()}" update="ordenServicioAlta bnGrabarSalir" />
                            </p:selectBooleanCheckbox>
                        </p:panel>
                    </p:column>
                    <p:column>
                        <p:panel id="botonesDestinosAlta"  styleClass="noborder">
                            <p:commandLink title="Añadir destinatario" styleClass="fa fa-user-plus"                                            
                                           update="fEditarParte" 
                                           process="@this" immediate="true" disabled="true"
                                           oncomplete="PF('dlgAnadirDestinatario').show();" />
                            <p:commandLink title="Borrar destinatario" styleClass="fa fa-trash" immediate="true" process="@this" 
                                           style="margin-left:0.3rem;"
                                           update="fEditarParte" 
                                           disabled="true"/>
                        </p:panel> 
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="arriba" style="padding: 0;">
                        <p:selectOneMenu id="ordenServicioAlta" label="Orden de servicio" immediate="true"
                                         value="#{pinOficinaBacking.selectedParte.ordenServicio}" required="false"
                                         converter="PinOrdenServicioConverter" style="width:13.5rem;" >
                            <f:selectItem itemLabel="Ninguna" noSelectionOption="true" />
                            <f:selectItems  value="#{pinOficinaBacking.ordenesServicio}" var="orden" itemLabel="#{orden.referenciaInternaFormateada}" itemValue="#{orden}" />
                            <p:ajax event="change" listener="#{pinOficinaBacking.setModificado()}"  update="bnGrabarSalir" partialSubmit="true" process="@this" />
                        </p:selectOneMenu>

                    </p:column>

                    <p:column styleClass="arriba">
                        <p:dataTable id="tDestinatariosAlta" value="#{pinOficinaBacking.selectedParte.destinos}" 
                                     var="destinatario" selection="#{pinOficinaBacking.selectedDestinatario}" 
                                     scrollable="true" scrollRows="4" scrollHeight="65"
                                     style="height: 9rem; width: 25rem" emptyMessage="Sin destinatarios definidos"
                                     rowKey="#{destinatario.idDestino}" selectionMode="single">
                            <p:column headerText="Destinatarios">
                                <h:outputText value="#{destinatario.destino.nombre}"/>
                            </p:column>

                            <p:ajax event="rowSelect" update="botonesDestinosAlta"/>
                            <p:ajax event="rowUnselect"  update="botonesDestinosAlta"/>
                        </p:dataTable>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:outputLabel value="Lugar" for="lugarAlta" />
            <p:panelGrid columns="2" columnClasses="noborder nopadding" style="margin-bottom: 0.5rem">
                <p:inputText id="lugarAlta" label="Lugar" 
                             value="#{pinOficinaBacking.selectedParte.lugar}"
                             onclick="$('#definirLugar').click();"
                             style="width: 40rem" readonly="true"/>
                <p:commandLink title="Definir lugar" styleClass="fa fa-map-marker" 
                               id="definirLugar" 
                               process="@this" immediate="true"
                               update=":fEditarParte:botonesAlta"
                               disabled="true"
                               oncomplete="PF('dlgBuscarVia').show();" />
            </p:panelGrid>

            <p:outputLabel value="Asunto" for="asuntoAlta" />
            <p:panelGrid columns="2" columnClasses="noborder nopadding">
                <p:selectOneMenu id="asuntoAlta" label="Asunto"
                                 value="#{pinOficinaBacking.selectedParte.asunto}"
                                 disabled="true"
                                 converter="PinMiembroConverter" style="width:19rem;" />

                <p:selectOneMenu id="subasunto" label="Subasunto"
                                 value="#{pinOficinaBacking.selectedParte.subasunto}"
                                 disabled="true"
                                 converter="PinMiembroConverter" style="width:19rem;" />
            </p:panelGrid>

            <p:panelGrid columns="1" styleClass="noborder nopadding">
                <p:tabView id="tab" styleClass="noborder" activeIndex="0" dynamic="true" style="width:42rem;">
                    <p:tab title="#{pinOficinaBacking.tipoInforme.toUpperCase()}">
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:inputTextarea id="parte" label="Parte" 
                                             value="#{pinOficinaBacking.selectedParte.informe}"
                                             readonly="true"  style="height: 12rem; width: 41rem"                                           
                                             cols="85" rows="15" scrollHeight="200" autoResize="false" maxlength="20000"
                                             counter="caracteres" counterTemplate="Quedan {0} caracteres" />
                            <p:outputLabel id="caracteres"/>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab  id="personas" title="PERSONAS (#{empty pinOficinaBacking.selectedParte.personas ? 0 : pinOficinaBacking.selectedParte.personas.size()})" >
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:panelGrid id="botonesPersonas" columns="5" columnClasses="noborder nopadding" style="margin-bottom: 0.3rem">
                                <p:commandLink title="Añadir reseña de persona" styleClass="fa fa-user-plus" 
                                               update=":fEditarParte:tab :anadirPersona" 
                                               disabled="true"
                                               process="@this" immediate="true" />
                                <p:spacer width="10"/>
                                <p:commandLink title="Editar la reseña de la persona seleccionada" styleClass="fa fa-pencil" 
                                               update=":fEditarParte:tab :anadirPersona" 
                                               disabled="true"/>
                                <p:spacer width="10"/>
                                <p:commandLink title="Borrar reseña de persona" styleClass="fa fa-trash" immediate="true" process="@this"
                                               update=":fEditarParte:tab :anadirPersona" 
                                               disabled="true"/>
                            </p:panelGrid> 
                            <p:dataTable id="tPersona" 
                                         var="persona" emptyMessage="No hay personas reseñadas en este parte" 
                                         rowKey="#{persona.idPersona}" selectionMode="none"
                                         paginator="true" rows="15" style="height: 13rem; width: 42rem"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                                         value="#{pinOficinaBacking.selectedParte.personas}">

                                <p:column headerText="Documento" sortBy="#{persona.numDocumento}" style="width: 5rem" styleClass="centro">
                                    <h:outputText value="#{persona.numDocumento}"  />
                                </p:column>

                                <p:column headerText="Nombre" sortBy="#{persona.nombre}" style="width: 6rem">
                                    <h:outputText value="#{persona.nombre}" />
                                </p:column>  

                                <p:column headerText="Participación" sortBy="#{persona.participacion}" style="width: 6rem">
                                    <h:outputText value="#{persona.participacion.nombre}" />
                                </p:column>  

                                <p:column headerText="Población" sortBy="#{persona.poblacion}" style="width: 4rem" >
                                    <h:outputText value="#{persona.poblacion}" />
                                </p:column>  

                            </p:dataTable>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab  id="objetos" title="OBJETOS (#{empty pinOficinaBacking.selectedParte.objetos ? 0 : pinOficinaBacking.selectedParte.objetos.size()})" >
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:panelGrid id="botonesObjetos" columns="5" columnClasses="noborder nopadding" style="margin-bottom: 0.3rem;">
                                <p:commandLink title="Añadir reseña de objeto" styleClass="fa fa-soccer-ball-o" 
                                               update=":fEditarParte:tab :anadirObjeto" 
                                               disabled="true"
                                               process="@this" immediate="true" />
                                <p:spacer width="10"/>                              
                                <p:commandLink title="Editar la reseña del objeto seleccionado" styleClass="fa fa-pencil" 
                                               update=":fEditarParte:tab :anadirObjeto" 
                                               disabled="true"/>
                                <p:spacer width="10"/>
                                <p:commandLink title="Borrar reseña de objeto" styleClass="fa fa-trash" immediate="true" process="@this"
                                               update=":fEditarParte:tab :anadirObjeto" 
                                               disabled="true"/>
                            </p:panelGrid> 

                            <p:dataTable id="tObjeto" 
                                         var="objeto" emptyMessage="No hay objetos reseñados en este parte" 
                                         rowKey="#{objeto.idObjeto}" selectionMode="none"
                                         paginator="true" rows="15" style="height: 13rem; width: 42rem"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                                         value="#{pinOficinaBacking.selectedParte.objetos}">

                                <p:column headerText="Tipo" sortBy="#{objeto.tipo.nombre}" style="width: 3em" styleClass="izquierda">
                                    <h:outputText value="#{objeto.tipo.nombre}"  />
                                </p:column>

                                <p:column headerText="Identificación" sortBy="#{objeto.numObjeto}" style="width: 6em" styleClass="centro">
                                    <h:outputText value="#{objeto.numObjeto}"  />
                                </p:column>

                                <p:column headerText="Descripción" sortBy="#{objeto.nota}" style="width: 16em" styleClass="izquierda">
                                    <h:outputText value="#{objeto.nota}" />
                                </p:column>    
                            </p:dataTable>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab  id="adjuntos" title="DOCUMENTOS ADJUNTOS (#{empty pinOficinaBacking.selectedParte.adjuntos ? 0 : pinOficinaBacking.selectedParte.adjuntos.size()})" >
                        <p:panelGrid columns="1" styleClass="noborder">
                            <p:spacer height="5" />
                            <p:panelGrid id="botonesAdjuntos" columns="5" columnClasses="noborder nopadding" style="margin-bottom: 0.3rem;">
                                <p:commandLink title="Añadir documento adjunto" styleClass="fa fa-paperclip" 
                                               update=":fEditarParte:tab :anadirAdjunto" 
                                               actionListener="#{pinOficinaBacking.resetSelectedAdjunto()}"
                                               disabled="#{pinOficinaBacking.selectedParte.listoTramitar}"
                                               process="@this" immediate="true" />
                                <p:spacer width="10"/>
                                <p:commandLink title="Borrar documento adjunto" styleClass="fa fa-trash" immediate="true" process="@this"
                                               update=":fEditarParte:tab :anadirAdjunto :fEditarParte:botonesAlta" 
                                               actionListener="#{pinOficinaBacking.deleteSelectedAdjunto()}"
                                               disabled="#{pinOficinaBacking.selectedAdjunto == null or pinOficinaBacking.selectedParte.listoTramitar}"/>

                                <p:spacer width="10"/>
                                <p:commandLink title="Ver el documento seleccionado" styleClass="fa fa-eye" immediate="true" process="@this"
                                               update=":fEditarParte:tab :fEditarParte:botonesAlta :anadirAdjunto" 
                                               actionListener="#{pinOficinaBacking.verSelectedAdjunto(false)}"
                                               disabled="#{pinOficinaBacking.selectedAdjunto == null or pinOficinaBacking.selectedAdjunto.idAdjunto le 0 or pinOficinaBacking.selectedAdjunto.parte == null}"/>
                            </p:panelGrid> 

                            <p:dataTable id="tAdjunto" 
                                         var="adjunto" emptyMessage="No hay documentos adjuntos a este parte" 
                                         rowKey="#{adjunto.idAdjunto}" selectionMode="single"
                                         paginator="true" rows="15" style="height: 13rem; width: 42rem"
                                         selection="#{pinOficinaBacking.selectedAdjunto}"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                                         value="#{pinOficinaBacking.selectedParte.adjuntos}">
                                <p:ajax event="rowSelect"  update="tab:botonesAdjuntos"  />
                                <p:ajax event="rowUnselect" update="tab:botonesAdjuntos" />

                                <p:column headerText="Título" sortBy="#{adjunto.titulo}" style="width: 12em" styleClass="izquierda">
                                    <h:outputText value="#{adjunto.titulo}"  />
                                </p:column>

                                <p:column headerText="Fecha" sortBy="#{adjunto.fecha}" style="width: 7em" styleClass="centro">
                                    <h:outputText value="#{adjunto.fecha}" >
                                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                    </h:outputText>
                                </p:column>    

                                <p:column headerText="Tipo" sortBy="#{adjunto.tipo}" style="width: 3em" styleClass="centro">
                                    <h:outputText value="#{adjunto.tipo}"  />
                                </p:column>

                                <p:column headerText="Firma-e"  sortBy="#{adjunto.contieneFirmaE}" style="width: 3em" styleClass="centro">
                                    <h:graphicImage rendered="#{adjunto.contieneFirmaE}" styleClass="fa fa-check" style="font-size:1.6em;color:green" />
                                    <h:graphicImage rendered="#{!adjunto.contieneFirmaE}" styleClass="fa fa-times" style="font-size:1.6em;color:red" />
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
            </p:panelGrid>

        </p:panelGrid>

        <p:gmap id="mainMap" 
                center="#{pinOficinaBacking.center}" 
                zoom="#{pinOficinaBacking.zoom + 1}" type="MAP" style="min-height: 50rem; min-width: 35rem;margin-top:0.3rem"  
                model="#{pinOficinaBacking.mapModel}" navigationControl="true">
            <p:ajax event="overlaySelect" listener="#{pinOficinaBacking.onMarkerSelect}" />
            <p:gmapInfoWindow id="infoWindow">
                <p:outputPanel style="text-align: left; display: block; margin: auto">
                    <h:outputText value="Accidente #{pinOficinaBacking.selectedParte.numeroParte}" style='font-size: xx-small'/>
                    <br/>
                    <h:outputText value="Asunto: #{pinOficinaBacking.selectedParte.asuntoCompleto}" style='font-size: xx-small'/>
                    <br/>
                    <h:outputText value="Actuante: #{pinOficinaBacking.selectedParte.actuantes.toString()}" style='font-size: xx-small'/>                                
                </p:outputPanel>
            </p:gmapInfoWindow>
        </p:gmap>

    </p:panelGrid>

    <p:spacer height="10"/>

</ui:composition>