<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="anadirDestinatario" widgetVar="dlgAnadirDestinatario" 
              modal="true" resizable="false" dynamic="true"
              header="Nuevo destinatario" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" width="700">

        <h:form id="fNuevoDestinatario">  
            <p:panelGrid columns="3" columnClasses="arriba,centro,arriba" styleClass="noborder">                      

                <p:panelGrid columns="1">        
                    <p:panelGrid columns="2" styleClass="noborder">
                        <p:outputLabel value="Ámbito" for="ambito"/>
                        <p:selectOneMenu id="ambito" label="Ámbito"
                                         value="#{pinParteBacking.origenDestinoDisponible}" 
                                         style="width:12rem;" >
                            <f:selectItem itemLabel="Jefatura" itemValue="#{Constants.DESTINO_JEFATURA}"/>
                            <f:selectItem itemLabel="Ayuntamiento" itemValue="#{Constants.DESTINO_AYUNTAMIENTO}"/>
                            <f:selectItem itemLabel="Organismo externo" itemValue="#{Constants.DESTINO_EXTERNO}"/>

                            <p:ajax event="change"  update="destinoDisponible" onstart="PF('wvDestinoDisponible').clearFilters()"/>
                            
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:dataTable id="destinoDisponible" widgetVar="wvDestinoDisponible" var="destinoDisponible" style="width:20rem;min-height: 20rem" 
                                 scrollable="true" scrollHeight="250" 
                                 emptyMessage="No se encontraron registros"
                                 selectionMode="single" selection="#{pinOficinaBacking.selectedDestinatarioDisponible}"
                                 rowKey="#{destinoDisponible.idMiembro}"
                                 value="#{pinOficinaBacking.destinosDisponibles}">
                        <p:ajax update="@form" event="rowSelect" />
                        <p:ajax update="@form" event="rowUnselect"  listener="#{pinOficinaBacking.resetSelectedDestinatarioDisponible()}"/>

                        <f:facet name="header">Disponibles</f:facet>
                        <p:column  filterBy="#{destinoDisponible.nombre}"  filterMatchMode="contains" filterStyle="height: 2em; float: right">
                            <h:outputText value="#{destinoDisponible.nombre}"/>
                        </p:column> 
                        <f:facet name="footer">#{empty pinOficinaBacking.destinosDisponibles ? 0 : pinOficinaBacking.destinosDisponibles.size()} destinos posibles</f:facet>
                    </p:dataTable>
                </p:panelGrid>

                <p:panelGrid columns="1" >
                    <p:commandButton icon="fa fa-arrow-right" 
                                     title="Añadir a la lista de asignaciones" 
                                     disabled="#{pinOficinaBacking.selectedDestinatarioDisponible eq null}"
                                     update="@form"
                                     actionListener="#{pinOficinaBacking.anadirAsignado()}"/>
                    <p:spacer height="3" />
                    <p:commandButton icon="fa fa-arrow-left" 
                                     title="Eliminar de la lista de asignaciones" 
                                     disabled="#{pinOficinaBacking.selectedDestinatarioAsignado eq null}" 
                                     update="@form"
                                     actionListener="#{pinOficinaBacking.eliminarAsignado()}"/>
                </p:panelGrid>

                <p:panelGrid columns="1">  
                    <p:dataTable id="destinoAsignado" var="destinatarioAsignado" style="width:20rem;min-height: 20rem;margin-top:2.5rem" 
                                 scrollable="true" scrollHeight="250" 
                                 emptyMessage="Sin asignación de destino"
                                 selectionMode="single" selection="#{pinOficinaBacking.selectedDestinatarioAsignado}"
                                 rowKey="#{destinatarioAsignado.idDestino}"
                                 value="#{pinOficinaBacking.selectedParte.destinos}">
                        <p:ajax update="@form" event="rowSelect" />
                        <p:ajax update="@form" event="rowUnselect"  listener="#{pinOficinaBacking.resetSelectedDestinatarioAsignado()}"/>

                        <f:facet name="header">Asignados</f:facet>
                        <p:column   filterStyle="height: 2em; float: right">
                            <h:outputText value="#{destinatarioAsignado.destino.nombre}"/>
                        </p:column> 
                        <f:facet name="footer">#{empty pinOficinaBacking.selectedParte.destinos ? 0 : pinOficinaBacking.selectedParte.destinos.size()} destinos asignados</f:facet>
                    </p:dataTable>
                </p:panelGrid>
            </p:panelGrid>   

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 immediate="true" process="@this" 
                                 oncomplete="PF('dlgAnadirDestinatario').hide();" 
                                 update=":parte @form" actionListener="#{pinOficinaBacking.resetSelectedDestino()}" />
                <p:commandButton id='bnAnadirD' value="Aceptar" icon="fa fa-plus" 
                                 action="#{pinOficinaBacking.addDestinatario()}" 
                                 oncomplete="PF('dlgAnadirDestinatario').hide();" 
                                 update=":parte botones @form" />  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

