<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="abrirNovedades" widgetVar="dlgAbrirRelacionNovedades" 
              modal="true" resizable="false" dynamic="true"
              header="Abrir Relación Novedades" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" focus="scanInputNovedades">

        <h:form id="formAbrirNovedades" prependId="false">  
            <p:defaultCommand target="btnAbrirNovedades"/>  

            <p:panelGrid columns="2"  styleClass="noborder nomargin" >
                <p:outputLabel for="scanInputNovedades">
                    <p:graphicImage library="images" name="barcode.png" height="32" />
                </p:outputLabel>
                <p:inputText id="scanInputNovedades" type="number" widgetVar="scanInputNovedades" value="#{pinOficinaBacking.scanInput}" size="45" />
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="btnCerrarNovedades" value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"  
                                 oncomplete="PF('dlgAbrirRelacionNovedades').hide();" 
                                 update="@form"
                                 actionListener="#{pinOficinaBacking.resetPatronBusqueda()}"/>
                
                <p:commandButton id="btnAbrirNovedades"  widgetVar="btnAbrirNovedades" value="Abrir" icon="fa fa-folder-open-o" 
                                 title="Abrir la relación de novedades indicada"
                                 oncomplete="PF('dlgAbrirRelacionNovedades').hide();"  
                                 actionListener="#{pinOficinaBacking.abrirNovedades()}"
                                 style="visibility: hidden"
                                 update="fMain @form" />
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 