<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="editarParteAlta" widgetVar="dlgEditarParte" 
              modal="true" resizable="false" dynamic="true"
              header="Ver #{pinOficinaBacking.selectedParte.tipo eq 'PI' ? 'Parte' : 'Informe'} - #{pinOficinaBacking.selectedParte.unidad.nombre}" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" focus=":fEditarParte:tab:parte">

        <h:form id="fEditarParte" prependId="false">  
            <p:defaultCommand target="bnGrabar"/>

            <ui:include src="../formAltaParte.xhtml" />

            <p:separator/>

            <p:panelGrid id='botonesAlta' columns="2" styleClass="nopadding" columnClasses="float_izquierda, float_derecha" style="width:70rem;">
                <p:panelGrid columns="3">
                    <p:commandButton value="Salir" icon="fa fa-sign-out" 
                                     process="@this" 
                                     title="Cerrar el formulario descartando los datos introducidos"
                                     actionListener="#{pinOficinaBacking.quitarCambios()}" 
                                     oncomplete="PF('dlgEditarParte').hide();" 
                                     update="fEditarParte" />

                    <p:commandButton id="bnGrabarSalir" value="Grabar" icon="fa fa-save" 
                                     title="Graba los nuevos documentos adjuntados"
                                     actionListener="#{pinOficinaBacking.save()}" 
                                     update=":fMain fAnadirAdjunto fEditarParte" 
                                     oncomplete="PF('dlgEditarParte').hide();" 
                                     disabled="#{not pinOficinaBacking.hayCambios}"/>  


                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

