<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='novedadesWarning' header="Aviso" widgetVar="dlgNovedadesWarning" showEffect="slide" hideEffect="slide" resizable="false">
        <p:panelGrid columns="1" styleClass="noborder">
            <p:panelGrid columns="1" style="width:30rem;text-align: justify;">
                <p:outputLabel style="color: red;" escape="false"
                               value="#{pinOficinaBacking.aviso}" />
                 <p:outputLabel style="color: red;" escape="false"
                               value="Por favor, revise su selección." />
            </p:panelGrid>

            <p:separator />

            <p:panelGrid  columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 onclick="PF('dlgNovedadesWarning').hide();" 
                                 immediate="true"/>

                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </p:panelGrid>
    </p:dialog>
</ui:composition>



