<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='novedades' header="Relación de Novedades" widgetVar="dlgNovedades" showEffect="slide" dynamic="true" hideEffect="slide" resizable="false">
        <p:panelGrid columns="1" styleClass="noborder nopadding">
            <p:panelGrid columns="1" style="width:27rem;text-align: justify;padding: 0;margin-bottom: 0.5rem">
                <p:outputLabel style="font-size: larger; color: blue;" escape="false"
                               value="La siguiente lista muestra los documentos que se incluirán en la Relación de Novedades para la fecha indicada. 
                               Asegúrese que es correcta y pulse &lt;strong>[Generar novedades]&lt;/strong> para obtener el documento final." />
            </p:panelGrid>
            <p:dataTable id="tNovedades" styleClass="border"
                         value="#{pinOficinaBacking.partesNovedades}"
                         var="parte" emptyMessage="No se han seleccionado partes para incluir en las novedades" 
                         rowKey="#{parte.idParte}" 
                         scrollHeight="200" scrollable="true"
                         style="height: 21rem; width: 27rem">

                <p:column headerText="Documento" style="width: 12rem" styleClass="centro">
                    <h:outputText value="#{parte.numParteFormateado}" styleClass="smallfont"/>
                </p:column>

                <p:column headerText="F. Registro" style="width: 12rm" styleClass="centro">
                    <h:outputText value="#{parte.fechaRegistro}" styleClass="smallfont">
                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Archivo" style="width: 3rem" styleClass="centro">
                    <h:graphicImage rendered="#{parte.archivado}" styleClass="fa fa-check" style="font-size:1.6rem;color:green" />
                    <h:graphicImage rendered="#{!parte.archivado}" styleClass="fa fa-times" style="font-size:1.6rem;color:red" />
                </p:column>

            </p:dataTable>

            <h:form>
                <p:panelGrid columns="2" styleClass="noborder">
                    <p:outputLabel value="Fecha Impresión" for="fechaImpresion" style="margin-left: 0"/>
                    <p:calendar id="fechaImpresion" label="Fecha Impresión"
                                value="#{pinOficinaBacking.fechaImpresion}" immediate="true"
                                size="20" readonly="false" locale="es" showOn="button" 
                                title="Fecha de Impresión de la relación de novedades" buttonTabindex="true"
                                maxdate="#{pinOficinaBacking.hoy}" showButtonPanel="true"
                                pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mi">
                        <p:ajax event="dateSelect" update="botonesNovedades" />
                    </p:calendar>
                </p:panelGrid>
            </h:form>

            <p:separator />

            <p:panelGrid id="botonesNovedades" columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 onclick="PF('dlgNovedades').hide();" 
                                 actionListener="#{pinOficinaBacking.resetFechaImpresion()}"
                                 update="novedades"
                                 immediate="true"/>

                <p:commandButton id="btnGenerar" value="Generar novedades" icon="fa fa-print" 
                                 onclick="PF('dlgNovedades').hide();PF('dlgImprimiendoParte').show();" 
                                 immediate="true"
                                 actionListener="#{pinOficinaBacking.generateReportNovedades(true)}"
                                 disabled="#{pinOficinaBacking.fechaImpresion eq null}"
                                 oncomplete="PF('dlgImprimiendoParte').hide();"
                                 onerror="PF('dlgImprimiendoParte').hide();"
                                 update=":fMain" />
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </p:panelGrid>
    </p:dialog>
</ui:composition>



