<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='situacionObjetos' header="Situación de los objetos entregados en el Parte #{pinOficinaBacking.selectedParte.numParteFormateado}" 
              widgetVar="dlgSituacionObjetos" modal="true" appendTo="@(body)"
              showEffect="slide" hideEffect="slide" 
              resizable="false">
        <h:form id="fSituacionObjetos">
            <p:panelGrid columns="2" styleClass="noborder" columnClasses="nopadding arriba, nopadding arriba">
                <p:panelGrid columns="1">
                    <p:panel id="botonesObjetos"  styleClass="noborder">
                        <p:commandLink title="Imprimir etiqueta" styleClass="fa fa-tag" immediate="true" process="@this" 
                                       actionListener="#{pinOficinaBacking.printObjectTag(false)}" 
                                       disabled="#{pinOficinaBacking.selectedObjeto eq null}" 
                                       onclick="PF('dlgImprimiendoParte').show();"
                                       oncomplete="PF('dlgImprimiendoParte').hide();"
                                       onerror="PF('dlgImprimiendoParte').hide();"/>
                    </p:panel> 
                    <p:dataTable id="tSituacionObjetos" styleClass="border"
                                 value="#{pinOficinaBacking.selectedParte.objetos}"
                                 var="objeto" emptyMessage="No hay información disponible" 
                                 rowKey="#{objeto.idObjeto}"
                                 scrollHeight="180" scrollable="true" selectionMode="single"
                                 selection="#{pinOficinaBacking.selectedObjeto}"
                                 style="width: 20rem">
                        <p:ajax event="rowSelect" update="fSituacionObjetos:sit fSituacionObjetos:botonesObjetos fSituacionObjetos:botonesSituaciones" />
                        <p:ajax event="rowUnselect" update="fSituacionObjetos:sit fSituacionObjetos:botonesObjetos fSituacionObjetos:botonesSituaciones" />

                        <p:column headerText="Objeto" >
                            <h:outputText value="#{objeto.tipo.nombre}" styleClass="smallfont" />
                            <h:outputText value=" (#{objeto.numObjeto})" styleClass="smallfont" />
                            <h:outputText value=" - #{objeto.nota}" styleClass="smallfont" />
                        </p:column>
                    </p:dataTable>
                </p:panelGrid>

                <p:panelGrid columns="1">
                    <p:panel id="botonesSituaciones"  styleClass="noborder">
                        <p:commandLink title="Añadir cambio" styleClass="fa fa-plus"                                            
                                       update="sit" actionListener="#{pinOficinaBacking.resetSelectedDestino()}"
                                       process="@this" immediate="true" disabled="#{pinOficinaBacking.selectedObjeto eq null}"
                                       oncomplete="PF('dlgAnadirSituacionObjeto').show();" />

                        <p:commandLink title="Borrar cambio" styleClass="fa fa-trash" immediate="true" process="@this" 
                                       style="margin-left:0.3rem;" rendered="false"
                                       update="sit" 
                                       disabled="#{pinOficinaBacking.selectedObjetoSituacion eq null}"/>
                    </p:panel> 
                    <p:dataTable id="sit" styleClass="border"
                                 value="#{pinOficinaBacking.selectedObjeto.situaciones}"
                                 var="situacion" emptyMessage="No hay información sobre este elemento" 
                                 rowKey="#{situacion.idSituacion}" sortBy="#{situacion.idSituacion}"
                                 scrollHeight="180" scrollable="true" selectionMode="single"
                                 selection="#{pinOficinaBacking.selectedObjetoSituacion}"
                                 style="width: 30rem">

                        <p:ajax event="rowSelect" update="fSituacionObjetos:botonesSituaciones" />
                        <p:ajax event="rowUnselect" update="fSituacionObjetos:botonesSituaciones" />

                        <p:column headerText="Fecha" sortBy="#{situacion.fecha}" style="width: 10rem" >
                            <h:outputText value="#{situacion.fecha}" styleClass="smallfont">
                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Situacion" sortBy="#{situacion.situacion.nombre}" style="width: 10rem" >
                            <h:outputText value="#{situacion.situacion.nombre}" styleClass="smallfont">
                                <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Usuario" sortBy="#{situacion.usuario}" >
                            <h:outputText value="#{situacion.usuario}" styleClass="smallfont" />
                        </p:column>

                    </p:dataTable>
                </p:panelGrid>
            </p:panelGrid>
            <p:separator />
            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             onclick="PF('dlgSituacionObjetos').hide();" 
                             immediate="true"
                             actionListener="#{pinOficinaBacking.resetSelectedObjeto()}"
                             update=":fMain @form" />

            <p:commandButton value="Grabar" icon="fa fa-save" style="margin-left: 0.3rem"
                             onclick="PF('dlgSituacionObjetos').hide();" 
                             actionListener="#{pinOficinaBacking.save()}"
                             update=":fMain @form" />
        </h:form>  
    </p:dialog>
</ui:composition>



