<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="tramitarParte" widgetVar="dlgTramitarParte" 
              modal="true" resizable="false" dynamic="true"
              header="Tramitar documento" showEffect="slide" 
              hideEffect="slide" styleClass="noborder" 
              closable="false" focus=":fTramitarParte">

        <h:form id="fTramitarParte" prependId="false">  
            <p:defaultCommand target="bnGrabar"/>

            <ui:include  src="../formParte.xhtml"  />

            <p:panel rendered="#{!pinOficinaBacking.tramitable}">
                <p:outputLabel style="color:red;font-weight: bold;"
                               value="Sólo pueden ser tramitados los partes e informes que pertenezcan a la unidad del usuario, no estén anulados, no sean un borrador y aún no hayan sido remitidos a su destino por Estafeta." />
            </p:panel>

            <p:spacer height="10"/>

            <p:separator/>

            <p:panelGrid id='botones' columns="2" styleClass="nopadding" columnClasses="float_izquierda nomargin, float_derecha nomargin nopadding" style="width:73rem;">
                <p:panelGrid columns="6">
                    <p:commandButton value="Salir" icon="fa fa-sign-out" 
                                     process="@this" 
                                     title="Cerrar el formulario descartando los datos introducidos"
                                     oncomplete="PF('dlgTramitarParte').hide();" 
                                     actionListener="#{pinOficinaBacking.resetSelectedParte()}"
                                     update="fMain" />

                    <p:commandButton id="bnGrabar" value="Grabar y siguiente" icon="fa fa-save" 
                                     title="Guardar el parte y mostrar el siguiente de la lista"
                                     update="fTramitarParte fMain:tParte" 
                                     actionListener="#{pinOficinaBacking.next(true)}"
                                     disabled="#{!pinOficinaBacking.canSave}"/> 

                    <p:commandButton id="bnSiguiente" value="Siguiente" icon="fa fa-arrow-right" 
                                     title="El parte seleccionado no puede ser modificado. Pulse para mostrar el siguiente de la lista."
                                     update="fTramitarParte" 
                                     actionListener="#{pinOficinaBacking.next(false)}"/>  


                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>

                <p:panelGrid columns="1" >
                    <p:commandButton value="Imprimir etiquetas objetos" title="Imprimir etiquetas objetos" icon="fa fa-tag"  
                                     process="@this" immediate="true" disabled="#{empty pinOficinaBacking.selectedParte.objetos}"
                                     actionListener="#{pinOficinaBacking.printObjectTag(true)}"
                                     update="dialog verEtiqueta"
                                     onclick="PF('dlgImprimiendoParte').show();"
                                     oncomplete="PF('dlgImprimiendoParte').hide();"
                                     onerror="PF('dlgImprimiendoParte').hide();"/>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

