<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='destinatarios' header="Estados del parte #{pinOficinaBacking.selectedParte.numParteFormateado}" widgetVar="dlgVerDestinatario" showEffect="slide" hideEffect="slide" resizable="false">
        <h:form>
            <p:panelGrid columns="2" styleClass="noborder">

                <p:dataTable id="tDestinatarios" widgetVar="wvDestinatarios" var="destinatario" style="width:15rem;min-height: 12rem" 
                             scrollable="true" scrollHeight="250" 
                             emptyMessage="No se encontraron destinatarios asignados"
                             selectionMode="single" selection="#{pinOficinaBacking.selectedDestinatario}"
                             rowKey="#{destinatario.idDestino}"
                             value="#{pinOficinaBacking.selectedParte.destinos}">
                    <p:ajax update="@form" event="rowSelect" />
                    <p:ajax update="@form" event="rowUnselect"  listener="#{pinOficinaBacking.resetSelectedDestinatario()}"/>

                    <!--                    <f:facet name="header">Destinatarios</f:facet>-->
                    <p:column headerText="Destinatarios">
                        <h:outputText value="#{destinatario.destino.nombre}"/>
                    </p:column>                         
                </p:dataTable>

                <p:dataTable id="tEstados" widgetVar="wvEstados" var="estado" style="width:35rem;min-height: 12rem" 
                             scrollable="true" scrollHeight="250"  
                             emptyMessage="No se encontraron estados para este destinatario o no hay ningún destinatario seleccionado"
                             rowKey="#{estado.idEstado}"
                             value="#{pinOficinaBacking.selectedDestinatario.estados}" sortOrder="descending" sortBy="#{estado.fecha}">

                    <f:facet name="header">Estados</f:facet>
                    <p:column headerText="Estado" style="width:9rem">
                        <h:outputText value="#{estado.estado.nombre}"/>
                    </p:column> 
                    <p:column headerText="Fecha" style="width:5rem; text-align: center">
                        <h:outputText value="#{estado.fecha}">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"/>
                        </h:outputText>
                    </p:column> 
                    <p:column headerText="Usuario" style="text-align: center">
                        <h:outputText value="#{estado.usuario}"/>
                    </p:column> 
                    <p:column headerText="Nota" style="width:10rem">
                        <h:outputText value="#{estado.nota}"/>
                    </p:column> 
                </p:dataTable>

            </p:panelGrid>
            <p:separator/>
            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             onclick="PF('dlgVerDestinatario').hide();" 
                             actionListener="#{pinOficinaBacking.resetSelectedDestinatario()}"
                             update="destinatarios"
                             immediate="true"/>
        </h:form>

    </p:dialog>
</ui:composition>



