<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='historicoImpresion' header="Histórico de impresión del parte #{pinOficinaBacking.selectedParte.numParteFormateado}" widgetVar="dlgVerHistoricoImpresion" showEffect="slide" hideEffect="slide" resizable="false">
        <p:panelGrid columns="1" styleClass="noborder">
            <p:dataTable id="tHistoricoImpresion" styleClass="border"
                         value="#{pinOficinaBacking.selectedParte.historico}"
                         var="historia" emptyMessage="El parte aún no ha sido visto y/o impreso" 
                         rowKey="#{historia.idHistorico}" sortBy="#{historia.fecha}"
                         scrollHeight="200" scrollable="true"
                         style="height: 21em; width: 45em">
                <p:column headerText="Fecha" sortBy="#{historia.fecha}" style="width: 8em" styleClass="centro">
                    <h:outputText value="#{historia.fecha}" styleClass="smallfont">
                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Hora"  style="width: 4em" styleClass="centro">
                    <h:outputText value="#{historia.fecha}" styleClass="smallfont">
                        <f:convertDateTime pattern="HH:mm"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Elemento" sortBy="#{historia.elemento}" style="width: 14em" >
                    <h:outputText value="#{historia.elemento}" styleClass="smallfont"/>
                </p:column>

                <p:column headerText="Visto por" sortBy="#{historia.usuario}" >
                    <h:outputText value="#{historia.usuario}" styleClass="smallfont" />
                </p:column>

            </p:dataTable>

            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             onclick="PF('dlgVerHistoricoImpresion').hide();" 
                             immediate="true"
                             update=":fMain" />
        </p:panelGrid>
    </p:dialog>
</ui:composition>



