<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="anadirOrdenTrabajo" widgetVar="dlgAnadirOrdenServicio" 
              modal="true" resizable="false" dynamic="true"
              showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" focus=":fAnadirOrdenServicio:procedencia">
        <f:facet  name="header">
            <p:outputLabel id="titulo" value="#{pinOrdenServicioBacking.accion} Orden de Servicio - #{pinOrdenServicioBacking.selectedOrdenServicio.unidad.nombre}" />
        </f:facet>

        <h:form id="fAnadirOrdenServicio">  
            <p:defaultCommand target="bnGrabar"/>

            <ui:include src="../formAltaOrdenServicio.xhtml" />

            <p:panel>
                <p:outputLabel value="La nueva orden de servicio aparecerá en la lista de resultados únicamente si cumple los criterios de búsqueda." style="color:red;font-weight: bold;"/>
            </p:panel>

            <p:spacer height="5" />
            <p:separator/>

            <p:panelGrid id='botones' columns="2" styleClass="nopadding" columnClasses="float_izquierda, float_derecha" style="width:60em;">
                <p:panelGrid columns="6">
                    <p:commandButton value="Cancelar y salir" icon="fa fa-sign-out" 
                                     process="@this" 
                                     title="Cerrar el formulario descartando los datos introducidos"
                                     oncomplete="PF('dlgVerOrdenServicio').hide();" 
                                     update="fAnadirOrdenServicio" />

                    <p:commandButton id="bnGrabar" value="Grabar" icon="fa fa-save" 
                                     actionListener="#{pinOrdenServicioBacking.saveOrdenTrabajo()}" 
                                     title="Guardar la orden de servicio"
                                     update=":fMain:datos :fMain:tOrdenServicio :fMain:botones fAnadirOrdenServicio rfaInterna" 
                                     disabled="#{!pinOrdenServicioBacking.canSave}"/>  

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>

                <p:panelGrid columns="1">
                    <p:commandButton value="Nueva orden" 
                                     icon="fa fa-paint-brush" 
                                     update=":fMain titulo fAnadirOrdenServicio" 
                                     title="Limpia los datos del formulario."
                                     actionListener="#{pinOrdenServicioBacking.resetSelectedOrdenTrabajo()}" 
                                     process="@this">
                        <p:resetInput target="@this" />
                    </p:commandButton>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

