<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="abrirOrden" widgetVar="dlgAbrirOrden" 
              modal="true" resizable="false" dynamic="true"
              header="Abrir" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" focus="scanInput">

        <h:form id="formAbrirOrden" prependId="false">  
            <p:defaultCommand target="btnAbrirOrden"/>  

            <p:remoteCommand name="remoteCommand" process="@form" update="fMain:tOrdenServicio" oncomplete="PF('dlgAbrirOrden').hide()" actionListener="#{pinOrdenServicioBacking.abrir()}" />

            <p:panelGrid columns="3"  style="border:0.1rem solid lightgray;" columnClasses="nomargin,nomargin,nomargin">  
                <p:panelGrid columns="1" styleClass="noborder" style="margin:0;">  
                    <p:tooltip for="numOrdenA" style="width:20rem;" value="Número de orden de servicio a consultar" />
                    <p:outputLabel value="Número" />
                    <p:inputNumber id="numOrdenA" widgetVar="numOrdenA" label="Número orden" 
                                   value="#{pinOrdenServicioBacking.patronBusqueda.referenciaInterna}" 
                                   decimalPlaces="0" maxValue="99999" size="5"  thousandSeparator=""
                                   styleClass="centro scanOff" style="height: 3rem;font-size: large;">
                        <p:ajax disabled="true" />
                        <p:ajax event='keyup' delay="100" update="btnAbrirOrden" />
                    </p:inputNumber>
                </p:panelGrid>

                <p:panelGrid columns="1" styleClass="noborder" style="margin:0;"> 
                    <p:tooltip for="agno" style="width:20rem;" value="Año de la orden de servicio a consultar según su fecha de registro" />
                    <p:outputLabel value="Año" /> 
                    <p:selectOneMenu id="agno" widgetVar="agno" value="#{pinOrdenServicioBacking.agno}" styleClass="scanOff" style="width:5rem; height: 2rem;font-size: large;">
                        <f:selectItems value="#{pinOrdenServicioBacking.availableYears}" var="agno" itemValue="#{agno}" itemLabel="#{agno}" />
                    </p:selectOneMenu>
                </p:panelGrid>
            </p:panelGrid>

            <p:panelGrid columns="2"  styleClass="noborder nomargin" >
                <p:outputLabel for="scanInput">
                    <p:graphicImage library="images" name="barcode.png" height="32" />
                </p:outputLabel>
                <p:inputText id="scanInput" widgetVar="scanInput" value="#{pinOrdenServicioBacking.scanInput}" size="24" />
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="btnCerrar" value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"  
                                 oncomplete="PF('dlgAbrirOrden').hide();" 
                                 update="@form"
                                 actionListener="#{pinOrdenServicioBacking.resetSearchFields()}"/>
                <p:commandButton id="btnAbrirOrden" widgetVar="btnAbrirOrden" value="Abrir" icon="fa fa-folder-open-o" 
                                 title="Abrir la orden de servicio indicada"
                                 oncomplete="PF('dlgAbrirOrden').hide();"  
                                 actionListener="#{pinOrdenServicioBacking.abrir()}"
                                 update="fMain" 
                                 disabled="#{pinOrdenServicioBacking.patronBusqueda.referenciaInterna eq null}"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 