<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="buscarOrden" widgetVar="dlgBuscarOrden" 
              modal="true" resizable="false" dynamic="true"
              header="Buscar Órdenes de Servicio" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false">

        <h:form id="fBuscarOrden">  
            <p:focus for="rfaInternaB"/>
            <p:defaultCommand target="btnBuscar"/>
            <p:panel id="pBuscarOrdenTrabajo" styleClass="noborder">
                <p:panelGrid columns="5">
                    <p:outputLabel value="Rfa. Interna" for="rfaInternaB"/>
                    <p:inputText id="rfaInternaB" label="Rfa. Interna"
                                 value="#{pinOrdenServicioBacking.patronBusqueda.referenciaInterna}" 
                                 size="15" />

                    <p:spacer width="10" height="1" />
                                 
                    <p:outputLabel value="Rfa. Externa" for="rfaExternaB"/>
                    <p:inputText id="rfaExternaB" label="Rfa. Externa"
                                 value="#{pinOrdenServicioBacking.patronBusqueda.referenciaExterna}" 
                                 size="15" />
                </p:panelGrid>
                <p:row>
                    <p:column colspan="2">
                        <p:panelGrid id="pBuscarOrdenFechas" columns="4">
                            <p:outputLabel value="F. registro desde" for="fechaRegistro" />
                            <p:calendar id="fechaRegistro" label="Fecha Registro"
                                        value="#{pinOrdenServicioBacking.fechaDesde}"
                                        size="14" readonly="false" locale="es"
                                        showOn="focus"
                                        title="Fecha desde"
                                        pattern="dd-MM-yyyy" placeholder="dd-MM-aaaa"/>
                            <p:outputLabel value="hasta" for="fechaHasta" />
                            <p:calendar id="fechaHasta" label="Hasta"
                                        value="#{pinOrdenServicioBacking.fechaHasta}"
                                        size="14" readonly="false" locale="es"
                                        title="Fecha hasta" buttonTabindex="true"
                                        maxdate="#{pinOrdenServicioBacking.hoy}"
                                        pattern="dd-MM-yyyy" placeholder="dd-MM-aaaa"/>
                        </p:panelGrid>
                    </p:column>
                </p:row>

                <p:panelGrid id="pBuscarOrdenProcedencia" columns="2" >
                    <p:outputLabel value="Procedencia" for="procedenciaB" />
                    <p:selectOneMenu id="procedenciaB" label="Procedencia"
                                     value="#{pinOrdenServicioBacking.patronBusqueda.origen}" 
                                     converter="PinMiembroConverter"
                                     style="width:18rem;" >
                        <f:selectItem itemLabel="Cualquiera" noSelectionOption="true"/>
                        <f:selectItems value="#{pinOrdenServicioBacking.procedencias}" var="procedencia" itemLabel="#{procedencia.nombre}" itemValue="#{procedencia}"/>
                    </p:selectOneMenu>
                </p:panelGrid>

                <p:row>
                    <p:column colspan="2">
                        <p:panelGrid id="pBuscarEstado" columns="4" >
                            <p:outputLabel value="Estado" for="estadoB" />
                            <p:selectOneMenu id="estadoB" label="Estado"
                                             value="#{pinOrdenServicioBacking.estado}" 
                                             style="width:8rem;" >
                                <f:selectItem itemLabel="Cualquiera" itemValue="cualquiera" />
                                <f:selectItem itemLabel="Vigentes" itemValue="vigente" />
                                <f:selectItem itemLabel="Vencidas" itemValue="cumplido" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Unidad" for="unidadB" />
                            <p:selectOneMenu id="unidadB" label="Unidad"
                                             value="#{pinOrdenServicioBacking.patronBusqueda.unidad}" 
                                             converter="GenMiembroConverter"
                                             style="width:10rem;" >
                                <f:selectItem itemLabel="Cualquiera" noSelectionOption="true" />
                                <f:selectItems value="#{pinOrdenServicioBacking.unidades}" var="unidad" itemLabel="#{unidad.nombre}" itemValue="#{unidad}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </p:column>
                </p:row>


                <p:separator/>

                <p:panelGrid columns="4" styleClass="nopadding">
                    <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                     onclick="PF('dlgBuscarOrden').hide();"
                                     immediate="true" />
                    <p:commandButton id="btnBuscar" value="Buscar" icon="fa fa-search" 
                                     actionListener="#{pinOrdenServicioBacking.search(true)}" 
                                     update=":fMain:tOrdenServicio" oncomplete="PF('dlgBuscarOrden').hide();" />  
                    <p:commandButton value="Reiniciar" icon="fa fa-refresh" update="pBuscarOrdenTrabajo" actionListener="#{pinOrdenServicioBacking.resetSearchFields}" process="@this">
                        <p:resetInput target="@this" />
                    </p:commandButton>
                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>    

