<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="borrarOrdenTrabajo" widgetVar="dlgBorrarOrdenTrabajo" 
              modal="true" resizable="false" dynamic="true"
              header="Borrar orden de servicio" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false">

        <h:form id="fBorrarOrdenTrabajo">  
            <p:panelGrid columns="1" styleClass="noborder nopadding">
                <p:panel style="width: 25em;" styleClass="izquierda noborder nopadding">
                    <p style="text-align: center">
                        <p:outputLabel value="El borrado es una operación IRREVERSIBLE."  style="color: red"/><br/>
                    </p>
                </p:panel>
            </p:panelGrid>
            <p:separator/>
            <p:panelGrid id="botonesBorrado" columns="3" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 immediate="true" process="@this" 
                                 oncomplete="PF('dlgBorrarOrdenTrabajo').hide();" 
                                 update="@form" />
                <p:commandButton value="Borrar" icon="ui-icon-trash" 
                                 action="#{pinOrdenServicioBacking.deleteOrdenTrabajo()}"
                                 oncomplete="PF('dlgBorrarOrdenTrabajo').hide();" 
                                 update=":fMain" />  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

