<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <p:dialog id="dialog" header="Buscando"  widgetVar="dlgEfectuandoConsulta"
              showEffect="fade" hideEffect="fade" closable="false" resizable="false" modal="true">  
        <p:panelGrid columns="4" styleClass="noborder nopadding">
            <h:graphicImage library="images" name="buscando.gif" style="width:3rem;height:3rem"/>
            <p:spacer width="10"/>
            <p:panelGrid columns="1" styleClass="noborder nopadding">
                <h:outputText value="Estamos efectuando la consulta." />            
                <h:outputText value="Esto puede tardar un poco más para distancias de búsqueda grandes." rendered="#{pinMapaBacking.tipoBusqueda eq Constants.BUSQUEDA_DISTANCIA}" />
                <h:outputText value="Por favor, espere...." />
            </p:panelGrid>
        </p:panelGrid>
    </p:dialog>
</ui:composition>    

