<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <p:dialog id="dialogSeleccionCapas" header="Seleccione las capas a visualizar"  widgetVar="dlgSeleccionCapas"
              showEffect="fade" hideEffect="fade" closable="false" resizable="false"
              positionType="fixed" position="right top"  width="20rem" 
              showHeader="true"
              style="margin-right:2rem;margin-top:12rem;opacity:.7">  
        <p:panelGrid columns="4" styleClass="noborder nopadding">
            <p:panelGrid columns="3" columnClasses=",t35 centro">
                <p:selectBooleanCheckbox id="partes" 
                                         value="#{pinMapaBacking.showPartes}" >
                    <p:ajax event="change" partialSubmit="true" listener="#{pinMapaBacking.modificarVisibilidadCapa(1)}" update="fMain:map" />
                </p:selectBooleanCheckbox>
                <p:graphicImage library="images" name="marker_parte.png" height="50%" />
                <p:outputLabel value="Partes Informativos" />

                <p:selectBooleanCheckbox id="informes" 
                                         value="#{pinMapaBacking.showInformes}" >
                     <p:ajax event="change" partialSubmit="true" listener="#{pinMapaBacking.modificarVisibilidadCapa(2)}" update="fMain:map" />
                </p:selectBooleanCheckbox>
                 <p:graphicImage library="images" name="marker_informe.png" height="50%"/>
                <p:outputLabel value="Informes" />

                <p:selectBooleanCheckbox id="ordenanzas" 
                                         value="#{pinMapaBacking.showOrdenes}" >
                    <p:ajax event="change" partialSubmit="true"  listener="#{pinMapaBacking.modificarVisibilidadCapa(3)}" update="fMain:map"/>
                </p:selectBooleanCheckbox>
                 <p:graphicImage library="images" name="marker_ordenanza.png" height="50%"/>
                <p:outputLabel value="Ordenanzas Municipales" />
            </p:panelGrid>
        </p:panelGrid>
    </p:dialog>
</ui:composition>    

