<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="msgRegistro" widgetVar="dlgMensajeRegistro" 
              modal="true" resizable="false" dynamic="true"
              header="Registro efectuado" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false">

        <h:form id="fMensajeRegistro">  
            <p:panelGrid columns="1" styleClass="noborder nopadding">
                <p:panel style="width: 25rem;" styleClass="izquierda noborder nopadding">
                    <p style="text-align: center">
                        <p:outputLabel value="#{pinParteBacking.msgRegistro}" escape="false" />
                    </p>
                    <p style="text-align: justify">
                        <p:outputLabel value="Puede consultarlo en el listado de partes e informes accediendo a través de la opción de menú &lt;strong>&lt;i>Informes>Gestionar&lt;/i>&lt;/strong>." escape="false" />
                    </p>
                </p:panel>
            </p:panelGrid>
            <p:separator/>
            <p:panelGrid id="botonesAnulacion" columns="2" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true" process="@this" 
                                 oncomplete="PF('dlgMensajeRegistro').hide();" />

                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

