<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:remoteCommand name="buscarLugar" 
                     actionListener="#{pinParteBacking.resetVia()}" 
                     update=":fEditarParte:botones buscarVia"
                     onsuccess="PF('dlgBuscarVia').show();"/>

    <p:panelGrid id="parte" columns="2" styleClass="noborder"  columnClasses="arriba noborder nopadding,arriba noborder nopadding" >

        <p:panelGrid id="panelPrincipal" columns="1">                      
            <p:panelGrid columns="3"  columnClasses="nopadding,nopadding,nopadding">
                <p:panelGrid columns="1" style="height: 4rem;" columnClasses="nopadding" >
                    <p:panelGrid columns="2" columnClasses="nopadding izquierda t5rem, nopadding derecha t12rem" style="margin-bottom: 0.3rem">
                        <p:outputLabel id="tipoInforme" value="#{pinParteBacking.tipoInforme}" style="width: 5rem;" /> 
                        <p:outputLabel value="#{pinParteBacking.selectedParte.idParte gt 0 ? pinParteBacking.selectedParte.unidad.nombre : ''}" style="width: 12.5rem;color:blue;" />
                    </p:panelGrid>
                    <p:inputText id="numParte" label="Número parte" 
                                 value="#{pinParteBacking.selectedParte.numParteFormateado}"
                                 readonly="true" styleClass="centro"
                                 style="height: 2rem;width: 17rem;font-size: x-large;"/>
                </p:panelGrid>

                <p:panelGrid columns="1" style="height: 7rem;margin-left:0.8rem" columnClasses="nopadding" >
                    <p:outputLabel value="F. Registro" for="fechaRegistro" style="margin-bottom: 0.3rem"/>
                    <p:calendar id="fechaRegistro" label="Fecha Registro"
                                    value="#{pinParteBacking.selectedParte.fechaRegistro}"
                                    size="16" readonly="true" locale="es"
                                    showOn="none" 
                                    title="Fecha de registro del parte"
                                    pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm"/>

                    <p:outputLabel value="F. Suceso" for="fechaSuceso" style="margin-bottom: 0.3rem"/>
                    <p:calendar id="fechaSuceso" label="Fecha Suceso"
                                value="#{pinParteBacking.selectedParte.fechaSuceso}" 
                                size="16"  locale="es" 
                                maxdate="#{pinParteBacking.selectedParte.fechaRegistro}"
                                title="Fecha de hecho referenciado en el parte"
                                pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm" showButtonPanel="true">
                        <p:ajax event="dateSelect" update=":fEditarParte:botones" partialSubmit="true"/>
                    </p:calendar>
                </p:panelGrid>

                <p:panelGrid columns="1" style="height: 7rem;margin-left:0.8rem" columnClasses="nopadding" >
                    <p:panelGrid columns="2" columnClasses="nopadding, botonesActuantes">
                        <p:outputLabel value="Actuantes" style="margin-bottom: 0.3rem"/>
                        <p:panel id="botonesActuantes"  styleClass="noborder">
                            <p:commandLink title="Añadir actuante" styleClass="fa fa-user-plus"                                            
                                           update="fNuevoActuante" actionListener="#{pinParteBacking.resetSelectedActuante()}"
                                           process="@this" immediate="true" disabled="#{pinParteBacking.selectedParte.listoTramitar}"
                                           oncomplete="PF('dlgAnadirActuante').show();" />
                            <p:commandLink title="Borrar actuante" styleClass="fa fa-trash" immediate="true" process="@this" 
                                           style="margin-left:1rem;"
                                           update="tActuantes botonesActuantes" actionListener="#{pinParteBacking.deleteSelectedActuante()}"
                                           disabled="#{pinParteBacking.selectedActuante == null or pinParteBacking.selectedParte.listoTramitar or (pinParteBacking.selectedActuante.indicativo eq user.indicativo)}"/>
                        </p:panel> 
                    </p:panelGrid>
                    <p:dataTable id="tActuantes" value="#{pinParteBacking.selectedParte.actuantes}" 
                                 var="actuante" selection="#{pinParteBacking.selectedActuante}" 
                                 scrollable="true" scrollRows="4" scrollHeight="55"
                                 style="height: 6rem; width: 11.5rem" emptyMessage="Sin actuantes definidos"
                                 rowKey="#{actuante.indicativo}" selectionMode="single">
                        <p:column headerText="Actuantes">
                            <h:outputText value="#{actuante.categoria.nombre} #{actuante.indicativo}"/>
                        </p:column>

                        <p:ajax event="rowSelect"  update=":fEditarParte:botonesActuantes"/>
                        <p:ajax event="rowUnselect"  update=":fEditarParte:botonesActuantes"/>
                    </p:dataTable>
                </p:panelGrid>
            </p:panelGrid>


            <p:outputLabel value="Lugar" for="lugar" />
            <p:panelGrid columns="3" columnClasses="noborder nopadding">
                <p:inputText id="lugar" label="Lugar" 
                             value="#{pinParteBacking.selectedParte.lugar}"                             
                             onclick="buscarLugar()"
                             style="width: 36.5rem" readonly="true"/>
                <p:commandLink id="definirLugar" 
                               process="@this" immediate="true"   
                               update="lugar mainMap"
                               actionListener="#{pinParteBacking.selectCentroTrabajo()}"
                               disabled="#{pinParteBacking.selectedParte.listoTramitar}" >
                    <i class="fa fa-building-o" style="font-size:1.2rem" />
                </p:commandLink>
                <p:tooltip for="definirLugar" style="width: 10rem" value="Seleccione la ubicación de su centro de trabajo como lugar del parte o informe." />
            </p:panelGrid>

            <p:outputLabel value="Asunto" for="asunto"/>
            <p:panelGrid columns="2" columnClasses="noborder nopadding">
                <p:selectOneMenu id="asunto" label="Asunto"
                                 value="#{pinParteBacking.selectedParte.asunto}"
                                 converter="PinMiembroConverter" style="width:17.5rem;" >
                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                    <f:selectItems value="#{pinParteBacking.asuntos}" var="asunto" itemLabel="#{asunto.nombre}" itemValue="#{asunto}"/>
                    <p:ajax event="change" update="subasunto :fEditarParte:botones tDestinatarios"  partialSubmit="true" listener="#{pinParteBacking.resetDestinatarios()}"/>
                </p:selectOneMenu>

                <p:selectOneMenu id="subasunto" label="Subasunto"
                                 value="#{pinParteBacking.selectedParte.subasunto}" 
                                 converter="PinMiembroConverter" style="width:17rem" >
                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"  />
                    <f:selectItems value="#{pinParteBacking.selectedParte.asunto.sublista.miembros}" var="subasunto" itemLabel="#{subasunto.nombre}" itemValue="#{subasunto}"/>
                    <p:ajax event="change"  update=":fEditarParte:botones tDestinatarios" process="@this" listener="#{pinParteBacking.recargarDestinatarios()}" />
                </p:selectOneMenu>
            </p:panelGrid>

            <p:panelGrid columns="2" styleClass="nomargin nopadding" columnClasses="arriba, arriba">
                <p:panel  id="partePanel" styleClass="noborder" style="margin-left:-0.3rem" >
                    <p:outputLabel value="Orden de servicio" for="ordenServicio"/>
                    <p:commandLink title="Ver orden de servicio" styleClass="fa fa-print" immediate="true" process="@this"
                                   update="tab :verOrdenTrabajo" style="margin-left:0.9rem;"
                                   actionListener="#{pinParteBacking.generateOrdenTrabajoReport()}"
                                   disabled="#{pinParteBacking.puedeVer}"
                                   onclick="PF('dlgImprimiendo').show();" 
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   rendered="#{pinParteBacking.tipoInforme eq 'Parte'}"
                                   onerror="PF('dlgImprimiendo').hide();" />
                    <p:commandLink  title="Ver orden de servicio y partes relacionados" styleClass="fa fa-eye" immediate="true" process="@this"
                                    update="tab :verOrdenTrabajo" style="margin-left:0.9rem;"
                                    disabled="#{pinParteBacking.puedeVer}"
                                    rendered="#{pinParteBacking.tipoInforme eq 'Informe'}" 
                                    onclick="PF('dlgVerOrdenPartes').show();"/>
                </p:panel>
                <p:panel id="botonesDestinos"  styleClass="noborder">
                    <p:commandLink title="Gestionar destinatarios" styleClass="fa fa-building-o"                                            
                                   update="fEditDestinos" actionListener="#{pinParteBacking.makeCopyDestinosAsignados()}"
                                   process="@this" immediate="true" disabled="#{pinParteBacking.selectedParte.listoTramitar}"
                                   oncomplete="PF('dlgEditDestinatarios').show();" rendered="true"/>

                </p:panel> 

                <p:selectOneMenu id="ordenServicio" label="Orden de servicio" immediate="true"
                                 value="#{pinParteBacking.selectedParte.ordenServicio}" required="false"
                                 converter="PinOrdenServicioConverter" style="width:12rem;" >
                    <f:selectItem itemLabel="Ninguna" noSelectionOption="true" />
                    <f:selectItems  value="#{pinParteBacking.ordenesTrabajo}" var="orden" itemLabel="#{orden.referenciaInternaFormateada}" itemValue="#{orden}" />
                    <p:ajax event="change" update="partePanel" partialSubmit="true" process="@this" />
                </p:selectOneMenu>

                <p:dataTable id="tDestinatarios" value="#{pinParteBacking.selectedParte.destinos}" 
                             var="destinatario" 
                             scrollable="true" scrollRows="4" scrollHeight="70"
                             style="height: 6rem; width: 24.3rem" emptyMessage="Sin destinatarios definidos"
                             rowKey="#{destinatario.idDestino}" >
                    <p:column headerText="Destinatarios" style="width: 14rem">
                        <h:outputText value="#{destinatario.destino.nombre}" />
                    </p:column>
                    <p:column headerText="#{pinParteBacking.selectedParte.destinos.size()}" style="width: 1rem;text-align: center">
                        <p:commandLink rendered="#{destinatario.destino.lista.codigo eq Constants.DESTINO_UNIDAD}" styleClass="fa fa-laptop" style="opacity:1;font-size:1.3em" title="Oficina Unidad" disabled="true"  />
                        <p:commandLink rendered="#{destinatario.destino.lista.codigo eq Constants.DESTINO_JEFATURA}" styleClass="fa fa-home" style="opacity:1;font-size:1.3em" title="Jefatura" disabled="true" />
                        <p:commandLink rendered="#{destinatario.destino.lista.codigo eq Constants.DESTINO_AYUNTAMIENTO}" styleClass="fa fa-bank" style="opacity:1;font-size:1.3em" title="Ayuntamiento" disabled="true" />  
                        <p:commandLink rendered="#{destinatario.destino.lista.codigo eq Constants.DESTINO_EXTERNO}" styleClass="fa fa-building-o" style="opacity:1;font-size:1.3em" title="Organismo externo" disabled="true" />
                    </p:column>   

                    <p:ajax event="rowSelect" update="botonesDestinos"/>
                    <p:ajax event="rowUnselect"  update="botonesDestinos"/>
                </p:dataTable>
            </p:panelGrid>
        </p:panelGrid>

        <p:gmap id="mainMap" 
                center="#{pinParteBacking.center}" 
                zoom="#{pinParteBacking.zoom}"  type="MAP" style="min-height: 25rem; width: 30rem;margin-top:0.5rem;margin-bottom: 0.5rem;padding-right: 0" 
                model="#{pinParteBacking.mapModel}" navigationControl="true">
            <p:ajax event="overlaySelect" listener="#{pinParteBacking.onMarkerSelect}" />
            <p:gmapInfoWindow id="infoWindow">
                <p:outputPanel style="text-align: left; display: block; margin: auto">
                    <h:outputText value="Accidente #{pinParteBacking.selectedParte.numeroParte}" style='font-size: xx-small'/>
                    <br/>
                    <h:outputText value="Asunto: #{pinParteBacking.selectedParte.asuntoCompleto}" style='font-size: xx-small'/>
                    <br/>
                    <h:outputText value="Actuante: #{pinParteBacking.selectedParte.actuantes.toString()}" style='font-size: xx-small'/>                                
                </p:outputPanel>
            </p:gmapInfoWindow>
        </p:gmap>

    </p:panelGrid>

    <p:tabView id="tab" styleClass="noborder" activeIndex="0" dynamic="true">
        <p:tab title="#{pinParteBacking.tipoInforme.toUpperCase()}">
            <p:panelGrid columns="1" styleClass="noborder">
                <p:spacer height="5" />
                <p:inputTextarea id="textoParte" label="Parte" 
                                 value="#{pinParteBacking.selectedParte.informe}"
                                 readonly="#{pinParteBacking.selectedParte.listoTramitar}"                                             
                                 style="height:14.6rem;width: 71rem" rows="15" scrollHeight="210" autoResize="false" maxlength="20000"
                                 counter="caracteres" counterTemplate="Quedan {0} caracteres" >
                    <p:ajax event="keyup" update=":fEditarParte:botones" partialSubmit="true"/>
                </p:inputTextarea>
                <p:outputLabel id="caracteres"/>
            </p:panelGrid>
        </p:tab>

        <p:tab  id="personas" title="PERSONAS (#{empty pinParteBacking.selectedParte.personas ? 0 : pinParteBacking.selectedParte.personas.size()})" >
            <p:panelGrid columns="1" styleClass="noborder">
                <p:spacer height="5" />
                <p:panelGrid id="botonesPersonas" columns="5" columnClasses="noborder">
                    <p:commandLink title="Añadir reseña de persona" styleClass="fa fa-user-plus" 
                                   update=":fEditarParte:tab :anadirPersona" 
                                   actionListener="#{pinParteBacking.resetSelectedResenaPersona(null)}"
                                   disabled="#{pinParteBacking.selectedParte.listoTramitar}"
                                   process="@this" immediate="true" />

                    <p:commandLink title="Editar la reseña de la persona seleccionada" styleClass="fa fa-pencil" 
                                   update=":fEditarParte:tab :anadirPersona" 
                                   oncomplete="PF('dlgAnadirPersona').show();"
                                   actionListener="#{pinParteBacking.editandoElemento()}"
                                   disabled="#{pinParteBacking.selectedResenaPersona == null or pinParteBacking.selectedParte.listoTramitar}"/>

                    <p:commandLink title="Borrar reseña de persona" styleClass="fa fa-trash" immediate="true" process="@this"
                                   update=":fEditarParte:tab :anadirPersona" 
                                   actionListener="#{pinParteBacking.deleteSelectedResenaPersona()}"
                                   disabled="#{pinParteBacking.selectedResenaPersona == null or pinParteBacking.selectedParte.listoTramitar}"/>
                </p:panelGrid> 
                <p:dataTable id="tPersona" 
                             var="persona" emptyMessage="No hay personas reseñadas en este parte" 
                             rowKey="#{persona.idPersona}" selectionMode="single"
                             selection="#{pinParteBacking.selectedResenaPersona}"
                             paginator="true" rows="15" style="height: 15rem;width: 71rem"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinParteBacking.selectedParte.personas}">
                    <p:ajax event="rowSelect"  update=":fEditarParte:tab:botonesPersonas"  />
                    <p:ajax event="rowUnselect" update=":fEditarParte:tab:botonesPersonas" />

                    <p:column headerText="Documento" sortBy="#{persona.numDocumento}" style="width: 5rem" styleClass="centro">
                        <h:outputText value="#{persona.numDocumento}"  />
                    </p:column>

                    <p:column headerText="Nombre" sortBy="#{persona.nombre}" style="width: 8rem">
                        <h:outputText value="#{persona.nombre}" />
                    </p:column>  

                    <p:column headerText="Participación" sortBy="#{persona.participacion}" style="width: 7rem">
                        <h:outputText value="#{persona.participacion.nombre}" />
                    </p:column>  

                    <p:column headerText="Población" sortBy="#{persona.poblacion}" style="width: 6rem" >
                        <h:outputText value="#{persona.poblacion}" />
                    </p:column>  

                </p:dataTable>
            </p:panelGrid>
        </p:tab>

        <p:tab  id="objetos" title="OBJETOS (#{empty pinParteBacking.selectedParte.objetos ? 0 : pinParteBacking.selectedParte.objetos.size()})" >
            <p:panelGrid columns="1" styleClass="noborder">
                <p:spacer height="5" />
                <p:panelGrid id="botonesObjetos" columns="5" columnClasses="noborder">
                    <p:commandLink title="Añadir reseña de objeto" styleClass="fa fa-soccer-ball-o" 
                                   update=":fEditarParte:tab :anadirObjeto" 
                                   actionListener="#{pinParteBacking.resetSelectedResenaObjeto()}"
                                   disabled="#{pinParteBacking.selectedParte.listoTramitar}"
                                   process="@this" immediate="true" />

                    <p:commandLink title="Editar la reseña del objeto seleccionado" styleClass="fa fa-pencil" 
                                   update=":fEditarParte:tab :anadirObjeto" 
                                   actionListener="#{pinParteBacking.editandoElemento()}"
                                   oncomplete="PF('dlgAnadirObjeto').show();"
                                   disabled="#{pinParteBacking.selectedResenaObjeto == null or pinParteBacking.selectedParte.listoTramitar}"/>

                    <p:commandLink title="Borrar reseña de objeto" styleClass="fa fa-trash" immediate="true" process="@this"
                                   update=":fEditarParte:tab :anadirObjeto" 
                                   actionListener="#{pinParteBacking.deleteSelectedResenaObjeto()}"
                                   disabled="#{pinParteBacking.selectedResenaObjeto == null or pinParteBacking.selectedParte.listoTramitar}"/>
                </p:panelGrid> 

                <p:dataTable id="tObjeto" 
                             var="objeto" emptyMessage="No hay objetos reseñados en este parte" 
                             rowKey="#{objeto.idObjeto}" selectionMode="single"
                             selection="#{pinParteBacking.selectedResenaObjeto}"
                             paginator="true" rows="15" style="height: 15rem;width: 71rem"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinParteBacking.selectedParte.objetos}">
                    <p:ajax event="rowSelect"  update=":fEditarParte:tab:botonesObjetos"  />
                    <p:ajax event="rowUnselect" update=":fEditarParte:tab:botonesObjetos" />

                    <p:column headerText="Tipo" sortBy="#{objeto.tipo.nombre}" style="width: 5rem" styleClass="izquierda">
                        <h:outputText value="#{objeto.tipo.nombre}"  />
                    </p:column>

                    <p:column headerText="Identificación" sortBy="#{objeto.numObjeto}" style="width: 8rem" styleClass="centro">
                        <h:outputText value="#{objeto.numObjeto}"  />
                    </p:column>

                    <p:column headerText="Descripción" sortBy="#{objeto.nota}" style="width: 16rem" styleClass="izquierda">
                        <h:outputText value="#{objeto.nota}" />
                    </p:column>    
                </p:dataTable>
            </p:panelGrid>
        </p:tab>

        <p:tab  id="adjuntos" title="DOCUMENTOS ADJUNTOS (#{empty pinParteBacking.selectedParte.adjuntos ? 0 : pinParteBacking.selectedParte.adjuntos.size()})" >
            <p:panelGrid columns="1" styleClass="noborder">
                <p:spacer height="5" />
                <p:panelGrid id="botonesAdjuntos" columns="5" columnClasses="noborder">
                    <p:commandLink title="Añadir documento adjunto" styleClass="fa fa-paperclip" 
                                   update=":fEditarParte:tab :anadirAdjunto" 
                                   actionListener="#{pinParteBacking.resetSelectedAdjunto()}"
                                   disabled="#{pinParteBacking.selectedParte.listoTramitar}"
                                   process="@this" immediate="true" />

                    <p:commandLink title="Borrar documento adjunto" styleClass="fa fa-trash" immediate="true" process="@this"
                                   update=":fEditarParte:tab :anadirAdjunto" 
                                   actionListener="#{pinParteBacking.deleteSelectedAdjunto()}"
                                   disabled="#{pinParteBacking.selectedAdjunto == null or pinParteBacking.selectedParte.listoTramitar}"/>

                    <p:commandLink title="Ver el documento seleccionado" styleClass="fa fa-eye" immediate="true" process="@this"
                                   update=":fEditarParte:tab :fEditarParte:botones :anadirAdjunto" 
                                   actionListener="#{pinParteBacking.verSelectedAdjunto(false)}"
                                   disabled="#{pinParteBacking.selectedAdjunto == null  or pinParteBacking.selectedAdjunto.parte == null}"/>
                </p:panelGrid> 

                <p:dataTable id="tAdjunto" 
                             var="adjunto" emptyMessage="No hay documentos adjuntos a este parte" 
                             rowKey="#{adjunto.idAdjunto}" selectionMode="single"
                             selection="#{pinParteBacking.selectedAdjunto}"
                             paginator="true" rows="15" style="height: 15rem;width: 71rem"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinParteBacking.selectedParte.adjuntos}">
                    <p:ajax event="rowSelect"  update="tab:botonesAdjuntos"  />
                    <p:ajax event="rowUnselect" update="tab:botonesAdjuntos" />

                    <p:column headerText="Título" sortBy="#{adjunto.titulo}" style="width: 15rem" styleClass="izquierda">
                        <h:outputText value="#{adjunto.titulo}"  />
                    </p:column>

                    <p:column headerText="Fecha" sortBy="#{adjunto.fecha}" style="width: 7rem" styleClass="centro">
                        <h:outputText value="#{adjunto.fecha}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>    

                    <p:column headerText="Tipo" sortBy="#{adjunto.tipo}" style="width: 5rem" styleClass="centro">
                        <h:outputText value="#{adjunto.tipo}"  />
                    </p:column>
                </p:dataTable>
            </p:panelGrid>
        </p:tab>
    </p:tabView>

    <p:spacer height="10"/>

</ui:composition>