<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="addMiembro" widgetVar="dlgAddMiembro" 
              modal="true" resizable="false" dynamic="true"
              header="Añadir elemento" showEffect="slide" 
              hideEffect="slide" styleClass="noborder">
        
        <h:form id="fAddMiembro">
            <p:defaultCommand target="bnAnadir" />
            <p:panelGrid columns="4">    
                <p:row>
                    <p:column>
                        <h:outputLabel value="Nombre" for="nombre"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="Valor" for="valor"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:inputText id="nombre" required="true" size="60"
                                     value="#{pinListasBacking.selectedMiembro.nombre}" />
                    </p:column>
                    <p:column>
                        <p:inputNumber id="valor" required="true" size="3" style="margin-left:10px" 
                                   value="#{pinListasBacking.selectedMiembro.valor}"
                                   maxValue="10" decimalPlaces="0" />
                    </p:column>
                </p:row>
                
            </p:panelGrid>
            <p:panelGrid columns="1" styleClass="noborder" style="width:40em">
                <p:outputLabel value="El elemento añadido a la lista '#{pinListasBacking.selectedLista.descripcion}' será insertado al final de la misma. Una vez hecho, podrá colocarlo en el orden que estime oportuno." />
            </p:panelGrid>
            <p:separator/>
            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="ui-icon-cancel" 
                                 onclick="PF('dlgAddMiembro').hide();" 
                                 immediate="true"
                                 actionListener="#{pinListasBacking.resetSelectedMiembro}"
                                 update=":fMain"/>
                <p:commandButton id="bnAnadir" value="Añadir" icon="ui-icon-plus" 
                                 actionListener="#{pinListasBacking.addMiembro}" 
                                 update=":fMain"/>  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage value="/resources/images/loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

