<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="deleteMiembro" widgetVar="dlgDeleteMiembro" 
              modal="true" resizable="false" dynamic="true"
              header="Eliminar elemento" showEffect="slide" 
              hideEffect="slide" styleClass="noborder">

        <h:form id="fDeleteMiembro">  
            <p:panelGrid columns="1">
                <h:outputText value="¿Seguro que quiere eliminar el elemento '#{pinListasBacking.selectedMiembro.nombre}'?"/>
            </p:panelGrid>
            <p:separator/>
            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="bnDeleteGroupNo" value="No" 
                                 onclick="PF('dlgDeleteMiembro').hide();" 
                                 immediate="true"
                                 actionListener="#{pinListasBacking.resetSelectedMiembro}"
                                 update=":fMain"/>
                <p:commandButton id="bnDeleteGroupSi" value="Sí" 
                                 onclick="PF('dlgDeleteMiembro').hide();" 
                                 immediate="true"
                                 actionListener="#{pinListasBacking.deleteMiembro}"
                                 update=":fMain"/>
                <p:ajaxStatus>
                    <f:facet name="start">
                        <h:graphicImage value="/resources/images/loading.gif"/>
                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value=""/>
                    </f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

