<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="editMiembro" widgetVar="dlgEditMiembro" 
              modal="true" resizable="false" 
              header="Modificar elemento" showEffect="slide" 
              hideEffect="slide" dynamic="true" >
        <h:form id="fEditMiembro" styleClass="noborder">  
            <p:panelGrid columns="4">    
                <p:row>
                    <p:column>
                        <h:outputLabel value="Nombre" for="nombre"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="Valor" for="valor"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:inputText id="nombre" required="true" size="60"
                                     value="#{pinListasBacking.selectedMiembro.nombre}" />
                    </p:column>
                    <p:column>
                        <p:inputNumber id="valor" required="true" size="3" style="margin-left:10px" 
                                   value="#{pinListasBacking.selectedMiembro.valor}"
                                   maxValue="10" decimalPlaces="0"/>
                    </p:column>
                </p:row>
                
            </p:panelGrid>

            <p:separator/>
            <p:panelGrid columns="3">
                <p:commandButton value="Cancelar" icon="ui-icon-cancel" 
                                 onclick="PF('dlgEditMiembro').hide();" immediate="true"
                                 actionListener="#{pinListasBacking.resetSelectedMiembro}"
                                 update=":fMain" />
                <p:commandButton value="Modificar" icon="ui-icon-plus" 
                                 actionListener="#{pinListasBacking.modifyMiembro}" 
                                 update=":fMain" 
                                 oncomplete="PF('dlgEditMiembro').hide()"/>  
                <p:ajaxStatus>
                    <f:facet name="start">
                        <h:graphicImage value="/resources/images/loading.gif"/>
                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value=""/>
                    </f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

