<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:panelGroup layout="block" id="conexion">
        <h:form prependId="false">
            <h:inputHidden id="idUnidad" value="#{user.unidad.idMiembro}" />
            <h:inputHidden id="isOficina" value="#{user.supervisor}" />
            <input type="text" id="fecha" disabled="disabled"/>
            <p:spacer width="5"/>|<p:spacer width="5"/>
            #{user.id.usuario}@#{user.id.ip}//#{db}
            <p:spacer width="5"/>|<p:spacer width="5"/>
            <script>getFechaHora()</script>
            <p:commandLink actionListener="#{loginBacking.logout}" title="Cerrar sesión">
                <h:outputText value="Cambiar usuario"/>
            </p:commandLink>
            <p:spacer width="5"/>|<p:spacer width="5"/>
            <p:commandLink id="home" actionListener="#{loginBacking.home}" title="Ir a la página de inicio">
                <p:graphicImage url="/resources/images/home.png" alt="Página inicio" />
            </p:commandLink>       
        </h:form>
    </h:panelGroup>
</ui:composition>