<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="sesionCaducada" widgetVar="dlgSesionCaducada" 
              modal="true" resizable="false" dynamic="true"
              header="Fin de Sesión" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" onShow="closeSessionTimer()">

        <h:form id='fCloseSession'>  
            <p:panelGrid columns="1" columnClasses="centro">
                <p:panel id='fin' style="width: 25em;" styleClass="centro noborder">
                    <p>
                        <p:outputLabel value="Su sesión va a caducar por inactividad." styleClass="fontAviso"/>
                    </p>
                    <p>
                        <p:outputLabel value="Haga click en 'continuar' para mantenerla activa." styleClass="fontAviso"/>
                    </p>
                    <p>
                        <output id='minutos' value="" styleClass="fontAviso"/>
                    </p>
                </p:panel>

                <p:separator/>
                <p:panelGrid columns="2" styleClass="centro">
                    <p:commandButton id='bnCloseSessionNow' value="Cerrar ahora" icon="fa fa-sign-out" 
                                     immediate="true"
                                     action="#{navegacionBacking.closeSession}"  />
                    <p:commandButton value="Continuar" icon="ui-icon-check" 
                                     immediate="true"
                                     actionListener="#{navegacionBacking.keepSessionAlive}" 
                                     onclick="PF('dlgSesionCaducada').hide();stopCountDown();"/>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

