<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:panelGroup layout="block" id="pie" styleClass="pie ui-widget-content" >
        <p:panelGrid columns="2" styleClass="noborder" columnClasses="izquierda, derecha" style="width: 100%">
            <h:outputLabel value="Partes, Informes y Novedades #{navegacionBacking.version}"/>
            <h:outputLabel value="Policía Local de Sevilla. Unidad de Apoyo Tecnológico"/>
            <h:outputLabel value="#{navegacionBacking.buildTime}"/> 
            <h:form>
                <h:outputLabel value="Soporte técnico: Tlf. 9554 73840. e-mail: "/>                    
                <a href="mailto:informatica.pl@sevilla.org">informatica.pl@sevilla.org</a>
            </h:form>       

        </p:panelGrid>
    </h:panelGroup>
</ui:composition>