<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:panelGroup layout="block" id="cabecera" styleClass="cabecera ui-widget-content">
        <h:graphicImage url="/resources/images/cabecera.png" alt="cabecera de pagina"/>
    </h:panelGroup>
</ui:composition>