<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form>
        <p:menubar autoDisplay="false">

            <p:menuitem icon="fa fa-home" style="font-size:1.4em" title="Página de inicio" action="home" />

            <p:submenu label="Informes">               
                <p:submenu label="Nuevo" >
                    <p:menuitem value="Parte informativo" action="nuevo_parte" actionListener="#{pinParteBacking.setPaginaActual('parte')}"/>
                    <p:menuitem value="Informe" action="nuevo_informe" actionListener="#{pinParteBacking.setPaginaActual('informe')}"/>              
                </p:submenu>  
                <p:menuitem value="Gestionar"  action="gestion" actionListener="#{pinParteBacking.setPaginaActual('gestion')}"/>                      
                <p:menuitem value="Búsqueda geográfica" action="busqueda_geografica" />
            </p:submenu>

            <p:submenu label="Oficina">  
                <p:submenu label="Documentos" disabled="#{!user.supervisor}">
                    <p:menuitem value="Acreditos" action="acreditos" actionListener="#{pinParteBacking.setPaginaActual('acreditos')}"  />
                    <p:menuitem value="Ordenanzas" action="ordenanzas" actionListener="#{pinParteBacking.setPaginaActual('ordenanzas')}" />
                    <p:menuitem value="Órdenes de servicio" action="ordenes" actionListener="#{pinParteBacking.setPaginaActual('ordenes')}" />
                </p:submenu>
                <p:submenu label="Registro" disabled="#{!user.supervisor}">
                    <p:menuitem value="Jefatura" action="registro_jefatura"/>
                    <p:menuitem value="Unidad" action="registro_unidad"  />
                </p:submenu>
                <p:menuitem value="Objetos entregados" action="objetos"  disabled="#{!user.supervisor}"/>
                <p:menuitem value="Listados" action="listados" disabled="#{!user.supervisor}"/>
                <p:separator/>
                <p:submenu label="Bandeja entrada" disabled="#{!user.supervisor}">
                    <p:menuitem value="Jefatura" action="bandeja_entrada_jefatura" />
                    <p:menuitem value="Ayuntamiento" action="bandeja_entrada_ayto" />
                </p:submenu>
                <p:menuitem value="Bandeja salida" action="bandeja_salida"  disabled="#{!user.supervisor}" />


            </p:submenu>

            <p:submenu label="Remisión">     
                <p:menuitem value="Registro" action="registro" disabled="#{!user.administrador}"/>
                <p:menuitem value="Estafeta" action="estafeta" disabled="#{!user.administrador}"/>
            </p:submenu>

            <p:submenu label="Utilidades">       
                <p:submenu label="Preferencias" disabled="#{!user.supervisor and !user.administrador}">   
                    <p:menuitem value="Listas" action="listas" />
                    <p:menuitem value="Destinatarios" action="destinatarios" />
                </p:submenu>
                <p:menuitem value="Mensajería" action="mensajeria" disabled="#{!user.supervisor and !user.administrador}"/>
                <p:submenu label="Ayuda">               
                    <p:menuitem value="Manual básico" action="basico" actionListener="#{navegacionBacking.showAyuda(1)}" update="verAyuda" />
                    <p:menuitem value="Manual oficina" action="oficina" actionListener="#{navegacionBacking.showAyuda(2)}" update="verAyuda" disabled="#{!user.administrador}"/>
                    <p:menuitem value="Manual Estafeta" action="estafeta" actionListener="#{navegacionBacking.showAyuda(3)}" update="verAyuda" disabled="#{!user.administrador}"/>
                </p:submenu>
            </p:submenu>

        </p:menubar>
    </h:form>

</ui:composition>