<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:o="http://omnifaces.org/ui"
        style="font-size: 0.85em;">

    <o:importConstants type="org.svq.pol.pinfor.utility.Constants"/>    

    <h:head>
        <f:facet name="first">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge"/>
        </f:facet>
        <link href="#{facesContext.externalContext.requestContextPath}/resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="#{facesContext.externalContext.requestContextPath}/resources/css/cssLayout.css" rel="stylesheet" type="text/css" />  
        <link href="#{facesContext.externalContext.requestContextPath}/resources/css/override.css" rel="stylesheet" type="text/css" />  
        <link href="#{facesContext.externalContext.requestContextPath}/resources/themes/pls/theme.css" rel="stylesheet" type="text/css" />
        <script src="#{facesContext.externalContext.requestContextPath}/resources/javascript/default.js" type="text/javascript" />

        <title>Pinfor - Gestión de Partes Informativos</title>
    </h:head>

    <h:body>
        <h:panelGroup layout="block" id="contenedor">
            <ui:debug hotkey="Y" />

            <ui:insert name="conection" />
            <ui:include src="header.xhtml" />

            <ui:insert name="content" />

            <ui:include src="footer.xhtml" />
        </h:panelGroup>

        <p:dialog showHeader="false" modal="true" 
                  closable="false" draggable="false" 
                  resizable="false" widgetVar="dlgAjaxStatus" 
                  styleClass="transparent noborder nosombra centro">
            <h:graphicImage library="images" name="loading2.gif"/>
            <br/><br/>
            <h:outputLabel value="Por favor, espere unos segundos..." styleClass="mediumfont negrita azul"/>
        </p:dialog>
    </h:body>

</html>