<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                template="template0.xhtml">
    <ui:define name="conection">
        <ui:include src="cambiarUsuario.xhtml" />
    </ui:define>

    <ui:define name="content">
        <p:growl id="growl" widgetVar="growl" sticky="true" showDetail="true" escape="false" >
            <p:autoUpdate />
        </p:growl>
                
        <o:socket channel="notificationChannel" onmessage="socketListener" />
        
        <p:idleMonitor id="idle" timeout="#{navegacionBacking.sessionTime}" onidle="PF('dlgSesionCaducada').show();" />

        <ui:include src="menu.xhtml"/>
        <ui:insert name="appData" />

        <!-- Dialog-box para informar que la sesión ha caducado -->
        <ui:include src="dlgSesionCaducada.xhtml" />
        <ui:include src="dlgVerAyuda.xhtml" />
    </ui:define>
</ui:composition>