<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="anadirPersona" widgetVar="dlgAnadirPersona" 
              modal="true" resizable="false" dynamic="true"
              header="Reseña de persona" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false">
        <h:form id="fAnadirPersona" enctype="multipart/form-data">  
            <p:panelGrid columns='2'>
                <p:outputLabel value="Núm. documento" for="numDocumento"/>
                <p:inputText id="numDocumento" label="Núm. documento" style="width:7rem"
                             value="#{pinParteBacking.selectedResenaPersona.numDocumento}" 
                             onblur="value=value.toUpperCase()">
                    <p:ajax  event="keyup" update="fAnadirPersona:btnGuardar" />
                </p:inputText>

                <p:outputLabel value="Nombre" for="nombre"/>
                <p:inputText id="nombre" label="Nombre" style="width:12rem"
                             value="#{pinParteBacking.selectedResenaPersona.nombre}" >
                    <p:ajax  event="keyup" update="fAnadirPersona:btnGuardar" />
                </p:inputText>

                <p:outputLabel value="Domicilio" for="domicilio"/>
                <p:inputText id="domicilio" label="Domicilio" style="width:12rem"
                             value="#{pinParteBacking.selectedResenaPersona.direccion}" />

                <p:outputLabel value="Población" for="poblacion"/>
                <p:inputText id="poblacion" label="Población" style="width:12rem"
                             value="#{pinParteBacking.selectedResenaPersona.poblacion}" />

                <p:outputLabel value="Participación" for="participacion"/>
                <p:selectOneMenu id="participacion" label="Participación" immediate="true"
                                 value="#{pinParteBacking.selectedResenaPersona.participacion}" required="true"
                                 disabled="true"
                                 converter="PinMiembroConverter" style="width:11rem" >
                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                    <f:selectItems  value="#{pinParteBacking.participaciones}" var="orden" itemLabel="#{orden.nombre}" itemValue="#{orden}" />
                    <p:ajax event="change" update="fAnadirPersona:btnGuardar" />
                </p:selectOneMenu>

            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"
                                 update=":fEditarAcredito fAnadirPersona"                                 
                                 oncomplete="PF('dlgAnadirPersona').hide();"  />

                <p:commandButton id="btnGuardar" value="Guardar" icon="fa fa-save" 
                                 title="Añadir a la reseña del acredito la persona reseñanda"
                                 update=":fEditarAcredito:solicitante" 
                                 actionListener="#{pinParteBacking.anadirSolicitanteAcredito()}"
                                 disabled="#{empty pinParteBacking.selectedResenaPersona.numDocumento or empty pinParteBacking.selectedResenaPersona.nombre or pinParteBacking.selectedResenaPersona.participacion eq null}"
                                 oncomplete="PF('dlgAnadirPersona').hide();"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 