<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="abrirAcredito" widgetVar="dlgAbrirAcredito" 
              modal="true" resizable="false" dynamic="true"
              header="Abrir" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" focus="scanInput">

        <h:form id="formAbrirAcredito" prependId="false">  
            <p:defaultCommand target="btnAbrirAcredito"/>  

            <p:remoteCommand name="remoteCommand" process="@form" update="fMain:acreditoPanel :fMain:tAcredito" oncomplete="PF('dlgAbrirAcredito').hide()" actionListener="#{pinParteBacking.abrir()}" />

            <p:panelGrid columns="2"  style="border:0.1rem solid lightgray;" columnClasses="nomargin,nomargin,nomargin">  
                <p:panelGrid columns="1" styleClass="noborder" style="margin:0;">                      
                    <p:outputLabel value="Número" />
                    <p:tooltip for="numAcreditoA" style="width:10rem;" value="Número de acredito a consultar" />
                    <p:inputNumber id="numAcreditoA" widgetVar="numParteA" label="Número acredito" 
                                   value="#{pinParteBacking.patronBusqueda.numeroParte}" 
                                   decimalPlaces="0" maxValue="99999" size="5"  thousandSeparator=""
                                   styleClass="centro scanOff" style="height: 8rem;font-size: large;">
                        <p:ajax disabled="true" />
                        <p:ajax event='keyup' delay="100" update="btnAbrirAcredito" />
                    </p:inputNumber>
                </p:panelGrid>

                <p:panelGrid columns="1" styleClass="noborder" style="margin:0;"> 
                    <p:tooltip for="agno" style="width:10rem;" value="Año del acredito a consultar según su fecha de registro" />
                    <p:outputLabel value="Año" /> 
                    <p:selectOneMenu id="agno" widgetVar="agno" value="#{pinParteBacking.agno}" styleClass="scanOff" style="width:5rem; font-size: large;">
                        <f:selectItems value="#{pinParteBacking.availableYears}" var="agno" itemValue="#{agno}" itemLabel="#{agno}" />
                    </p:selectOneMenu>
                </p:panelGrid>
            </p:panelGrid>

            <p:panelGrid columns="3"  styleClass="noborder nomargin" >
                
                <p:outputLabel for="scanInput">
                    <p:graphicImage library="images" name="barcode.png" height="32" />
                </p:outputLabel>
                <p:tooltip for="scanInput" style="width:10rem;" value="Escanée el código de barras del acredito" />
                <p:inputText id="scanInput" widgetVar="scanInput" value="#{pinParteBacking.scanInput}" style="width: 12rem;" />
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="btnCerrar" value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"  
                                 oncomplete="PF('dlgAbrirAcredito').hide();" 
                                 update="@form"
                                 actionListener="#{pinParteBacking.resetPatronBusqueda()}"/>
                <p:commandButton id="btnAbrirAcredito" widgetVar="btnAbrirAcredito" value="Abrir" icon="fa fa-folder-open-o" 
                                 title="Abrir el acredito indicado"
                                 oncomplete="PF('dlgAbrirAcredito').hide();"  
                                 actionListener="#{pinParteBacking.abrir()}"
                                 update="fMain:acreditoPanel :fMain:tAcredito :fMain:botones" 
                                 disabled="#{pinParteBacking.patronBusqueda.numeroParte eq null}"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 