<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="editarAcredito" widgetVar="dlgEditarAcredito" 
              modal="true" resizable="false" dynamic="true"
              header="#{pinParteBacking.accion} Acredito - #{pinParteBacking.selectedParte.unidad.nombre}" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" focus=":fEditarAcredito"
              style="width:38rem;">

        <h:form id="fEditarAcredito" prependId="false">  
            <p:defaultCommand target="bnGrabar"/>

            <ui:include src="../formAltaAcredito.xhtml" />

            <p:separator/>

            <p:panelGrid id='botones' columns="2" styleClass="nopadding" columnClasses="float_izquierda, float_derecha" style="width:100%;">
                <p:panelGrid columns="6">
                    <p:commandButton value="Cancelar y salir" icon="fa fa-sign-out" 
                                     process="@this" 
                                     title="Cerrar el formulario descartando los datos introducidos"
                                     oncomplete="PF('dlgEditarAcredito').hide();" 
                                     update="fEditarAcredito :fMain:panelPrincipal" />

                    <p:commandButton id="bnGrabar" value="Grabar" icon="fa fa-save" 
                                     actionListener="#{pinParteBacking.saveBorrador(true)}" 
                                     title="Guardar el acredito"
                                     update=":fMain:acreditoPanel :fMain:tAcredito fAnadirAdjunto fEditarAcredito" 
                                     disabled="#{!pinParteBacking.canSaveAcredito}"/>  

                    <p:spacer width="5" />

                    <p:commandButton value="Imprimir" 
                                     icon="fa fa-print" 
                                     title="Ver una vista previa del acredito para archivarlo y/o imprimirlo."
                                     update="fEditarAcredito" 
                                     actionListener="#{pinParteBacking.generateReport()}" 
                                     disabled="#{pinParteBacking.selectedParte.numeroParte eq null}"
                                     onclick="PF('dlgImprimiendo').show();" 
                                     oncomplete="PF('dlgImprimiendo').hide();"
                                     onerror="PF('dlgImprimiendo').hide();" 
                                     process="@this"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>

                <p:panelGrid columns="1">
                    <p:commandButton value="Nuevo acredito" 
                                     icon="fa fa-paint-brush" 
                                     update=":fMain:acreditoPanel :fMain:tAcredito :fEditarAcredito" 
                                     title="Limpia los datos del formulario."
                                     actionListener="#{pinParteBacking.crearAcredito()}" 
                                     process="@this">
                        <p:resetInput target="@this" />
                    </p:commandButton>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

