<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id="dialogImprimiendo" header="Imprimiendo"  widgetVar="dlgImprimiendo"
              showEffect="fade" hideEffect="fade" closable="false" resizable="false" modal="true" dynamic="true">  
        <p:panelGrid columns="4" styleClass="noborder nopadding">
            <h:graphicImage library="images" name="writing.gif" width="50" height="50"/>
            <p:spacer width="10"/>
            <h:outputText value="Estamos trabajando para generar su acredito. Por favor, espere...."/>
            <p:ajaxStatus>
                <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                <f:facet name="complete"><h:outputText value=""/></f:facet>
            </p:ajaxStatus>

        </p:panelGrid>
    </p:dialog>
</ui:composition>    

