<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id="dialogZip" header="Preparando archivos"  widgetVar="dlgPreparandoZip"
              showEffect="fade" hideEffect="fade" closable="false" resizable="false" modal="true">  
        <p:panelGrid columns="4" styleClass="noborder nopadding">
            <h:graphicImage library="images" name="zip-files.gif" width="50" height="50"/>
            <p:spacer width="10"/>
            <h:outputText value="Estamos preparando los archivos para enviárselos. Por favor, espere...."/>
            <h:graphicImage library="images" name="loading.gif"/>
        </p:panelGrid>
    </p:dialog>
</ui:composition>    

