<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="anadirObjeto" widgetVar="dlgAnadirObjeto" 
              modal="true" resizable="false" dynamic="true"
              header="Reseña de objeto" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false">
        <h:form id="fAnadirObjeto" enctype="multipart/form-data">  
            <p:panelGrid columns='2'>
                <p:outputLabel value="Tipo" for="tipo"/>
                <p:selectOneMenu id="tipo" label="Tipo"
                                 value="#{pinParteBacking.selectedResenaObjeto.tipo}"
                                 converter="PinMiembroConverter" style="width:19rem;" >
                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"  />
                    <f:selectItems value="#{pinParteBacking.tiposObjetos}" var="tipo" itemLabel="#{tipo.nombre}" itemValue="#{tipo}"/>
                    <p:ajax update="fAnadirObjeto:btnGuardar" />
                </p:selectOneMenu>

                <p:outputLabel value="Núm. documento" for="numDocumento"/>
                <p:inputText id="numDocumento" label="Núm. documento" style="width: 20rem"
                             value="#{pinParteBacking.selectedResenaObjeto.numObjeto}" >
                    <p:ajax  event="keyup" update="fAnadirObjeto:btnGuardar" />
                </p:inputText>

                <p:outputLabel value="Descripción" for="descripcion"/>
                <p:inputText id="descripcion" label="Descripción" style="width: 20rem"
                             value="#{pinParteBacking.selectedResenaObjeto.nota}" >
                    <p:ajax  event="keyup" update="fAnadirObjeto:btnGuardar" />
                </p:inputText>
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"
                                 actionListener="#{pinParteBacking.unselectResenaObjeto()}"
                                 update=":fEditarParte:tab fAnadirObjeto"                                 
                                 oncomplete="PF('dlgAnadirObjeto').hide();"  />

                <p:commandButton id="btnGuardar" value="Guardar" icon="fa fa-save" 
                                 title="Subir el archivo seleccionado"
                                 update=":fEditarParte:tab" 
                                 actionListener="#{pinParteBacking.anadirResenaObjeto()}"
                                 disabled="#{(pinParteBacking.selectedResenaObjeto.tipo eq null) or (empty pinParteBacking.selectedResenaObjeto.nota)}"
                                 oncomplete="PF('dlgAnadirObjeto').hide();"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

                <h:outputLabel rendered="#{pinParteBacking.selectedParte.archivado}"
                               value="El parte ya está archivado, por lo que este objeto no puede ser editado." />

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 