<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="anadirAdjunto" widgetVar="dlgAnadirAdjunto" 
              modal="true" resizable="false" dynamic="true"
              header="Documento Adjunto" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" focus="fAnadirAdjunto:btnSeleccionarArchivo">
        <h:form id="fAnadirAdjunto" enctype="multipart/form-data">  
            <p:panelGrid columns='3'>
                <p:outputLabel value="Nombre"/>
                <p:inputText id="nombreAdjunto" label="Nombre adjunto" 
                             value="#{pinParteBacking.selectedAdjunto.titulo}" 
                             disabled="#{pinParteBacking.useFileName}" >
                    <p:ajax  event="keyup" update="fAnadirAdjunto:btnGuardar" />
                </p:inputText>
                <p:selectBooleanCheckbox id="usarNombreArchivo" itemLabel="Usar nombre del archivo"
                                         value="#{pinParteBacking.useFileName}" 
                                         immediate="true" >
                    <p:ajax event="change" listener="#{pinParteBacking.useFileName}" update="nombreAdjunto fAnadirAdjunto:btnGuardar" />
                </p:selectBooleanCheckbox>
                <p:outputLabel value="Fecha: "/>
                <p:calendar id="fechaAdjunto" label="Fecha"
                            value="#{pinParteBacking.selectedAdjunto.fecha}"
                            locale="es" title="Fecha de incorporación del documento adjunto" 
                            maxdate="#{pinParteBacking.hoy}" focusOnSelect="false"
                            pattern="dd-MM-yyyy HH:mm" placeholder="dd-MM-aaaa HH:mm" showButtonPanel="true">
                    <p:ajax event="dateSelect"  partialSubmit="true" update="fAnadirAdjunto:btnGuardar"/>
                </p:calendar>
            </p:panelGrid>

            <p:fileUpload id="uploadFile"
                          fileUploadListener="#{pinParteBacking.uploadFile}"
                          value="#{pinParteBacking.uploadedFile}"
                          style="display:none;"
                          label="Seleccionar" auto="true"
                          mode="advanced" multiple="false" fileLimit="1"
                          skinSimple="true" update="fAnadirAdjunto" />

            <p:panelGrid columns="2" styleClass="noborder center"> 
                <p:commandButton id="btnSeleccionarArchivo" value="Seleccionar adjunto" icon="fa fa-file-picture-o" process="uploadFile" onclick="$('input[type=file]').click();" />
                <p:outputLabel value="#{pinParteBacking.uploadedFile.fileName}" style="color: red; font-weight: bold;"/>
            </p:panelGrid>
            <p:outputLabel value="El tamaño límite del archivo a subir es de 20MB"/>



            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"
                                 actionListener="#{pinParteBacking.unselectAdjunto()}"
                                 update=":fEditarParte:tab fAnadirAdjunto"                                 
                                 oncomplete="PF('dlgAnadirAdjunto').hide();"  />

                <p:commandButton id="btnGuardar" value="Guardar" icon="fa fa-save" 
                                 title="Subir el archivo seleccionado"
                                 update=":fEditarParte:tab" 
                                 actionListener="#{pinParteBacking.anadirAdjunto}"
                                 disabled="#{pinParteBacking.selectedAdjunto.fecha eq null or empty pinParteBacking.selectedAdjunto.titulo or pinParteBacking.uploadedFile eq null}"
                                 oncomplete="PF('dlgAnadirAdjunto').hide();"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

                <h:outputLabel rendered="#{pinParteBacking.selectedParte.archivado}"
                               value="El parte ya está archivado, por lo que este documento adjunto no puede ser editado." />

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 