<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="borrarParte" widgetVar="dlgBorrarParte" 
              modal="true" resizable="false" dynamic="true"
              header="Anular Parte Informativo" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false">

        <h:form id="fBorrarParte">  
            <p:panelGrid columns="1" styleClass="noborder nopadding">
                <p:panel style="width: 25rem;" styleClass="izquierda noborder nopadding">
                    <p style="text-align: center">
                        <p:outputLabel value="La anulación es una operación IRREVERSIBLE."  style="color: red"/><br/>
                    </p>
                        <p:outputLabel value="Por favor, indique el motivo de la anulación del parte '#{pinParteBacking.selectedParte.numParteFormateado}' y pulse el botón [Anular]." />
                        <p:inputTextarea id="parte" label="Parte" 
                                         value="#{pinParteBacking.selectedParte.motivoAnulacion}"
                                         style="margin-top: 0.3rem;width: 25rem"
                                         cols="36" rows="5" scrollHeight="20" autoResize="false" maxlength="80"
                                         counter="caracteresAnulacion" counterTemplate="Quedan {0} caracteres" >
                            <p:ajax event="keyup" update=":fBorrarParte:botonesAnulacion" partialSubmit="true"/>
                        </p:inputTextarea>                        
                    
                </p:panel>
                <p:outputLabel id="caracteresAnulacion"/>
            </p:panelGrid>
            <p:separator/>
            <p:panelGrid id="botonesAnulacion" columns="3" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 immediate="true" process="@this" 
                                 oncomplete="PF('dlgBorrarParte').hide();" 
                                 update="@form" />
                <p:commandButton value="Anular" icon="ui-icon-trash" 
                                 action="#{pinParteBacking.anularParte()}" 
                                 disabled="#{pinParteBaselectedParteoParte.motivoAnulacion.length() lt 10}"
                                 update=":fMain" />  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

