<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="buscarVia" widgetVar="dlgBuscarVia" 
              modal="true" resizable="false" dynamic="true"
              header="Buscar vía" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false">
        <h:form id="formBuscarVia" prependId="false">  
            <p:defaultCommand target="bnBuscarVia"/>
            <p:panelGrid columns='3'>
                <p:outputLabel value="Vía a buscar"/>
                <p:inputText id="via"
                             value="#{pinParteBacking.via}" 
                             size="27" />
                <p:commandLink id="bnBuscarVia" title="Buscar vía" styleClass="fa fa-search fa-lg"
                               actionListener="#{pinParteBacking.buscarVia()}"
                               update="viasDT"/>  
            </p:panelGrid>

            <p:panel header="Vías encontradas" styleClass="noborder nomargin centro" >
                <p:dataTable id="viasDT" styleClass="border hide-column-names"  
                             var="via" emptyMessage="No se ha encontrado ninguna vía"
                             rowKey="#{via.idLugar}" scrollable="true" scrollHeight="150"
                             selectionMode="single" selection="#{pinParteBacking.selectedVia}" 
                             paginator="false" style="height: 10rem; width: 22rem;"
                             value="#{pinParteBacking.vias}" >
                    <p:ajax event="rowSelect" update=":bnSeleccionarV :viaMap :seleccionNumero bnSeleccionarV" listener="#{pinParteBacking.indicarNumero()}" />
                    <p:ajax event="rowUnselect" update=":bnSeleccionarV :viaMap :seleccionNumero bnSeleccionarV" listener="#{pinParteBacking.indicarNumero()}"/>
                    <p:ajax event="toggleSelect" update=":bnSeleccionarV :viaMap :seleccionNumero bnSeleccionarV" listener="#{pinParteBacking.indicarNumero()}"/>
                    <p:ajax event="rowDblselect" listener="#{pinParteBacking.asignarVia(false)}" update=":fSeleccionarCoordenadas:viaMap :seleccionNumero bnSeleccionarV" oncomplete="PF('dlgBuscarVia').hide();PF('dlgSeleccionarCoordenadas').show();" /> 

                    <p:column style="width:1.2rem;">
                        <h:outputText value="#{via.tipoVia.nombre}" />
                    </p:column>

                    <p:column style="width:7rem;text-align: left;" >
                        <h:outputText value="#{via.nombreLugar}" />
                    </p:column>
                </p:dataTable>
            </p:panel>

            <p:panelGrid id="seleccionNumero" columns='2'>
                <p:selectOneMenu id="numero" label="Número"
                                 value="#{pinParteBacking.tipoNumeroLugar}"
                                 style="width:7rem;" >
                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                    <f:selectItem itemLabel="Sin número" itemValue="0" />
                    <f:selectItem itemLabel="Delante de núm." itemValue="1" />
                    <f:selectItem itemLabel="Frente de núm." itemValue="2" />
                    <p:ajax event="change" listener="#{pinParteBacking.resetTipoVia}" update="@form" partialSubmit="true" />
                </p:selectOneMenu>


                <p:inputText id="numeroLugar" label="Número lugar" 
                             value="#{pinParteBacking.numeroVia}"
                             rendered="#{pinParteBacking.tipoNumeroLugar gt 0}"
                             size="15" >
                    <p:ajax event="keyup" update=":bnSeleccionarV" partialSubmit="true" />
                </p:inputText>
            </p:panelGrid>

            <p:separator/>
            
            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"  
                                 actionListener="#{pinParteBacking.resetVia()}"
                                 oncomplete="PF('dlgBuscarVia').hide();"  />
                <p:commandButton id="bnSeleccionarV" value="Seleccionar" icon="fa fa-check" 
                                 title="Añadir la vía seleccionada"
                                 disabled="#{pinParteBacking.selectedVia eq null}"
                                 actionListener="#{pinParteBacking.asignarVia(false)}"
                                 update=":fSeleccionarCoordenadas:viaMap"
                                 oncomplete="PF('dlgBuscarVia').hide();PF('dlgSeleccionarCoordenadas').show();"   />
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 