<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="buscarParte" widgetVar="dlgBuscarParte" 
              modal="true" resizable="false" dynamic="true"
              header="Buscar Partes Informativos" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false">

        <h:form id="fBuscarParte">  
            <p:focus for="numeroParteB"/>
            <p:defaultCommand target="btnBuscar"/>
            <p:panel id="pBuscarParte" styleClass="noborder">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Número" for="numeroParteB" style="margin-left:  0.6rem" />
                    </p:column>
                    <p:column>
                        <p:inputText id="numeroParteB" label="Parte Informativo"
                                     value="#{pinParteBacking.patronBusqueda.numeroParte}" 
                                     style="width: 5rem; margin-left: 0.4rem"/>
                    </p:column>

                    <p:column>
                        <p:outputLabel value="Tipo documento" for="tipoDocumentoB" style="margin-left: 1.5rem"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="tipoDocumentoB" label="Tipo documento"
                                         value="#{pinParteBacking.patronBusqueda.tipo}" 
                                         style="width:10rem;margin-left: 0.4rem" >
                            <f:selectItem itemLabel="Cualquiera" noSelectionOption="true"/>
                            <f:selectItem itemLabel="Partes" itemValue="PI" />
                            <f:selectItem itemLabel="Informes" itemValue="IF" />

                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <p:panelGrid id="pBuscarParteFecha" columns="4">
                            <p:outputLabel value="F. Suceso desde" for="fechaDesde" />
                            <p:calendar id="fechaDesde" label="Fecha Desde"
                                        value="#{pinParteBacking.fechaDesde}"
                                        size="14" readonly="false" locale="es"
                                        showOn="focus"
                                        title="Fecha desde"
                                        pattern="dd-MM-yyyy" placeholder="dd-MM-aaaa"/>
                            <p:outputLabel value="hasta" for="fechaHasta" />
                            <p:calendar id="fechaHasta" label="Hasta"
                                        value="#{pinParteBacking.fechaHasta}"
                                        size="14" readonly="false" locale="es"
                                        title="Fecha hasta" buttonTabindex="true"
                                        maxdate="#{pinParteBacking.hoy}"
                                        pattern="dd-MM-yyyy" placeholder="dd-MM-aaaa"/>
                        </p:panelGrid>
                    </p:column>
                </p:row>

                <p:panelGrid id="pBuscarParteAsunto" columns="2" >
                    <p:outputLabel value="Asunto" for="asuntoB" />
                    <p:selectOneMenu id="asuntoB" label="Asunto"
                                     value="#{pinParteBacking.patronBusqueda.asunto}" 
                                     converter="PinMiembroConverter"
                                     style="width:15rem;" >
                        <f:selectItem itemLabel="Todos" noSelectionOption="true"/>
                        <f:selectItems value="#{pinParteBacking.asuntos}" var="asunto" itemLabel="#{asunto.nombre}" itemValue="#{asunto}"/>
                    </p:selectOneMenu>
                </p:panelGrid>

                <p:row>
                    <p:column colspan="2">
                        <p:panelGrid id="pBuscarEstado" columns="4" >
                            <p:outputLabel value="Estado" for="estadoB" />
                            <p:selectOneMenu id="estadoB" label="Estado"
                                             value="#{pinParteBacking.estado}" 
                                             style="width:10rem;" >
                                <f:selectItem itemLabel="Cualquiera" itemValue="" />
                                <f:selectItems value="#{pinParteBacking.estados}" var="estado" itemLabel="#{estado.nombre}" itemValue="#{estado.valor}"/>

                            </p:selectOneMenu>

                            <p:outputLabel value="Unidad" for="unidadB" />
                            <p:selectOneMenu id="unidadB" label="Unidad"
                                             value="#{pinParteBacking.patronBusqueda.unidad}" 
                                             converter="GenMiembroConverter"
                                             style="width:10rem;" >
                                <f:selectItem itemLabel="Cualquiera" noSelectionOption="true" />
                                <f:selectItems value="#{pinParteBacking.unidades}" var="unidad" itemLabel="#{unidad.nombre}" itemValue="#{unidad}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </p:column>
                </p:row>

                <p:panelGrid columns="2">
                    <p:outputLabel value="Lugar"/>
                    <p:inputText id="lugar" label="Lugar"
                                 value="#{pinParteBacking.patronBusqueda.lugar.nombreLugar}"
                                 style="width: 25rem" />                    
                </p:panelGrid>

                <p:panelGrid columns="4">
                    <p:outputLabel value="Mostrar anulados" for="cbAnulado"/>
                    <p:selectBooleanCheckbox id="cbAnulado" value="#{pinParteBacking.patronBusqueda.anulado}" title="Si se marca, en el resultado también se mostrarán los partes anulados"/> 
                    
                    <p:spacer width="1" style="width:14rem;height: 0;" />
                    <p:commandLink value="Búsqueda avanzada" immediate="true" update="avanzada" onclick="PF('busquedaAvanzada').toggle()"/>
                </p:panelGrid>

                <p:tooltip for="avanzada" style="width: 10rem" value="Puede cumplimentar uno o varios criterios de búsqueda. Si no conoce un dato completo, sustituya el carácter desconocido por ?. También puede usar * de la forma habitual." />

                <p:panel id="avanzada" widgetVar="busquedaAvanzada" collapsed="true" toggleable="true" styleClass="noborder izquierda" >
                    <p:separator/>

                    <p:panelGrid columns="2" >
                        <p:outputLabel value="Policía actuante"/>
                        <p:inputText id="policia" label="Policia actuante"
                                     value="#{pinParteBacking.actuante.indicativo}"
                                     style="width: 10rem"  />

                    </p:panelGrid>

                    <p:panelGrid columns="2">
                        <p:outputLabel value="Texto del parte" for="texto"/>
                        <p:inputText id="texto" label="Texto del parte"
                                     value="#{pinParteBacking.patronBusqueda.informe}"
                                     style="width: 10rem"  />                    
                    </p:panelGrid>

                    <p:panelGrid columns="4">
                        <p:outputLabel value="Documento nº." for="documento"/>
                        <p:inputText id="documento" label="Documento nº"
                                     value="#{pinParteBacking.dni}"
                                     style="width: 10rem"  /> 
                        <p:outputLabel value="Nombre" for="persona"/>
                        <p:inputText id="persona" label="Nombre"
                                     value="#{pinParteBacking.persona}"
                                     style="width: 12rem"  />                    
                    </p:panelGrid>
                </p:panel>

                <p:separator/>

                <p:panelGrid columns="4" styleClass="nopadding">
                    <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                     onclick="PF('dlgBuscarParte').hide();" 
                                     immediate="true" />
                    <p:commandButton id="btnBuscar" value="Buscar" icon="fa fa-search" 
                                     actionListener="#{pinParteBacking.search(false,true,false)}" 
                                     update=":fMain:partePanel :fMain:tParte" oncomplete="PF('dlgBuscarParte').hide();" />  
                    <p:commandButton value="Reiniciar" icon="fa fa-refresh" update="pBuscarParte" actionListener="#{pinParteBacking.resetSearchFields}" process="@this">
                        <p:resetInput target="@this" />
                    </p:commandButton>
                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>    

