<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="editarParte" widgetVar="dlgEditarParte" 
              modal="true" resizable="false" dynamic="true"
              header="Editar #{pinParteBacking.selectedParte.tipo eq 'P' ? 'Parte' : 'Informe'} - #{pinParteBacking.selectedParte.unidad.nombre}" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" focus=":fEditarParte:tab:textoParte">

        <h:form id="fEditarParte" prependId="false">  
            <p:defaultCommand target="bnGrabar"/>

            <ui:include src="../formAltaParte.xhtml" />

            <p:separator/>

            <p:panelGrid id='botones' columns="2" styleClass="nopadding" columnClasses="float_izquierda, float_derecha" style="width:76rem;">
                <p:panelGrid columns="6">
                    <p:commandButton value="Cancelar y salir" icon="fa fa-sign-out" 
                                     process="@this" 
                                     title="Cerrar el formulario descartando los datos introducidos"
                                     oncomplete="PF('dlgEditarParte').hide();" 
                                     update="fEditarParte" />

                    <p:commandButton id="bnGrabar" value="Grabar borrador" icon="fa fa-save" 
                                     actionListener="#{pinParteBacking.saveBorrador(true)}" 
                                     title="Guardar el parte como borrador sin ser enviado a la oficina"
                                     update=":fMain:tParte fAnadirAdjunto fEditarParte" 
                                     disabled="#{!pinParteBacking.canSave}"/>  

                    <p:commandButton id="bnGrabarSalir" value="Enviar a oficina" icon="fa fa-send-o" 
                                     title="Registra el parte y lo remite a la oficina para su tramitación"
                                     actionListener="#{pinParteBacking.saveParteyEnviarOficina}" 
                                     update=":fMain:tParte fAnadirAdjunto fEditarParte" 
                                     disabled="#{!pinParteBacking.canSave}"/>  

                    <p:spacer width="5" />

                    <p:commandButton value="Imprimir" 
                                     icon="fa fa-print" 
                                     title="Ver una vista previa del formulario para archivarlo y/o imprimirlo."
                                     update="verParte" 
                                     actionListener="#{pinParteBacking.generateReport()}" 
                                     disabled="#{pinParteBacking.selectedParte.numeroParte eq null}"
                                     onclick="PF('dlgImprimiendo').show();" 
                                     oncomplete="PF('dlgImprimiendo').hide();"
                                     onerror="PF('dlgImprimiendo').hide();" 
                                     process="@this"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>

                <p:panelGrid columns="1">
                    <p:commandButton value="Nuevo parte" 
                                     icon="fa fa-paint-brush" 
                                     update="fMain fEditarParte" 
                                     title="Limpia los datos del formulario."
                                     actionListener="#{pinParteBacking.checkParteEnviado}" 
                                     process="@this">
                        <p:resetInput target="@this" />
                    </p:commandButton>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

