<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="enviarParte" widgetVar="dlgEnviarParte" 
              modal="true" resizable="false" dynamic="true"
              header="Parte no enviado" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" style="width: 25rem">

        <h:form id="fEnviarParte">  
            <p:panelGrid columns="1" style="height: 50px; text-align: center;font-size: larger">
                <h:outputLabel value="El parte actual es un borrador que no será tramitado por la Oficina de la Unidad hasta que lo envíe."/>
                <h:outputLabel value="¿Quiere enviarlo ahora?" style="color: red;"/>
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="No, lo haré más tarde" icon="fa fa-thumbs-o-down" 
                                 immediate="true" process="@this" 
                                 oncomplete="PF('dlgEnviarParte').hide();" 
                                 update="fMain fEditarParte" 
                                 actionListener="#{pinParteBacking.resetNuevoParte}" />
                <p:commandButton value="Sí, claro" icon="fa fa-thumbs-o-up" 
                                 actionListener="#{pinParteBacking.saveParteyEnviarOficina()}" 
                                 oncomplete="PF('dlgEnviarParte').hide();" 
                                 update="fMain fEditarParte" />  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

