<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <p:dialog id="dialogUploading" header="Subiendo documento"  widgetVar="dlgUploadingFile"
              showEffect="fade" hideEffect="fade" closable="false" resizable="false" modal="true">  
        <p:panelGrid columns="4" styleClass="noborder nopadding">
            <h:graphicImage library="images" name="uploading_file.gif"  style="width: 3rem;height: 3rem"/>
            <p:spacer width="10"/>
            <h:outputText value="Estamos subiendo el documento que acaba de adjuntar. Por favor, espere unos segundos..."/>
            <h:graphicImage library="images" name="loading.gif"/>
        </p:panelGrid>
    </p:dialog>
</ui:composition>    

