<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="verOrdenPartes" widgetVar="dlgVerOrdenPartes" 
              modal="false" resizable="false" dynamic="true"
              header="Documentos relacionados" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false">
        <h:form id="fOrdenPartes" enctype="multipart/form-data">  

            <p:panelGrid style="border:0.1remsolid lightgray !important;padding: 0.3rem;margin-bottom:1rem; border: 0 !important; " >
                <p:accordionPanel id="accordion" dynamic="true" activeIndex="-1" style="width: 40rem;">
                    <p:ajax event="tabChange" listener="#{pinParteBacking.resetSelectedSubparte()}" update=":fOrdenPartes:accordion:ordenesTrabajoPanel :fOrdenPartes:accordion:partesPanel "/>
                    
                    <p:tab title="ORDEN DE SERVICIO" >
                        <p:panelGrid id="ordenesTrabajoPanel">
                            <p:row>
                                <p:column >
                                    <p:inputText id="rfaInterna" label="Orden Servicio" 
                                                 readonly="true" 
                                                 value="#{pinParteBacking.selectedParte.ordenServicio.referenciaInterna eq null ? '' : pinParteBacking.selectedParte.ordenServicio.referenciaInternaFormateada}"
                                                 style="text-align: center; width: 12rem; margin-top: 0.8rem"/>
                                    <p:outputLabel value="Rfª. Externa" style="margin-left: 0.8rem"/>
                                    <p:inputText id="rfaExterna" label="Rfª. Externa"
                                                 value="#{pinParteBacking.selectedParte.ordenServicio.referenciaExterna}"
                                                 readonly="true" style="width: 12rem;margin-left: 0.8rem"/>

                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column styleClass="arriba">
                                    <p:outputLabel value="Fecha registro" />
                                    <p:calendar id="fechaRegistro" label="Fecha Registro"
                                                value="#{pinParteBacking.selectedParte.ordenServicio.fechaRegistro}"
                                                size="17" readonly="true" locale="es" converter="TimestampConverter"
                                                showOn="none" style="margin-left: 0.8rem;"
                                                title="Fecha de registro de la orden de servicio"
                                                pattern="dd-MM-yyyy HH:mm" />

                                    <p:outputLabel value="Procedencia" for="procedencia" style="margin-left: 0.8rem"/>
                                    <p:inputText id="procedencia" label="Procedendia"
                                                 value="#{pinParteBacking.selectedParte.ordenServicio.origen.nombre}"
                                                 size="40" readonly="true" style="margin-left: 0.8rem"/> 
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Vigente desde"/>
                                    <p:calendar id="fechaDesde" label="Vigente desde"
                                                value="#{pinParteBacking.selectedParte.ordenServicio.fechaDesde}"
                                                size="17" locale="es" converter="TimestampConverter"
                                                readonly="true" showOn="none" style="margin-left: 0.8rem;"
                                                title="Fecha inicio de la validez de la orden de servicio"
                                                pattern="dd-MM-yyyy HH:mm" />

                                    <p:outputLabel value="hasta" for="fechaHasta" style="margin-left: 0.8rem;"/>
                                    <p:calendar id="fechaHasta" label="Vigente desde"
                                                value="#{pinParteBacking.selectedParte.ordenServicio.fechaHasta}"
                                                size="17" locale="es" converter="TimestampConverter"
                                                readonly="true" showOn="none" style="margin-left: 0.8rem;"
                                                title="Fecha inicio de la validez de la orden de servicio"
                                                pattern="dd-MM-yyyy HH:mm" />
                                    <p:outputLabel value="Vigente" for="vigente" style="margin-left: 0.8rem;"/>
                                    <p:inputSwitch id="vigente"  value="#{pinParteBacking.selectedParte.ordenServicio.vigente}" onLabel="Sí" offLabel="No" disabled="true" style="margin-left:0.8rem;vertical-align: bottom"/>     
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column colspan="3">
                                    <p:inputTextarea id="parte" label="Parte" 
                                                     value="#{pinParteBacking.selectedParte.ordenServicio.contenido}"
                                                     readonly="true" style="margin-top:0.3rem;"                                    
                                                     cols="85" rows="15" scrollHeight="200" autoResize="false"  />
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab title="PARTES INFORMATIVOS (#{pinParteBacking.selectedParte.ordenServicio.partes.size()})" >
                        <p:panelGrid id="partesPanel" columns="1" >
                            <p:inputTextarea id="subparte" label="Parte" 
                                             value="#{pinParteBacking.selectedSubparte.informe}"
                                             readonly="true" style="margin-top:0.3rem;"                                    
                                             cols="85" rows="15" scrollHeight="200" autoResize="false"  />
                            <p:dataTable id="tParte" 
                                         var="parte" emptyMessage="No hay partes informativos relativos a esta orden de servicio" 
                                         rowKey="#{parte.idParte}" selectionMode="single"
                                         paginator="true" rows="15" style="height: 10.5em;width: 53em;"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginatorAlwaysVisible="false" paginatorPosition="bottom" 
                                         selection="#{pinParteBacking.selectedSubparte}"
                                         value="#{pinParteBacking.selectedParte.ordenServicio.partes}">
                                <p:column headerText="Número" sortFunction="#{parte.sortByNumParte}" sortBy="#{parte.numParteFormateado}" style="width: 5rem" styleClass="centro">
                                    <h:outputText value="#{parte.numParteFormateado}"  />
                                    <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{parte.motivoAnulacion}" rendered="#{!empty parte.motivoAnulacion}"/>
                                </p:column>

                                <p:column headerText="F. Suceso" sortBy="#{parte.fechaSuceso}" style="width: 5rem" styleClass="centro">
                                    <h:outputText value="#{parte.fechaSuceso}" >
                                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                    </h:outputText>
                                </p:column>    

                                <p:column headerText="Policía" style="width: 8em" styleClass="centro">
                                    <h:outputText value="#{parte.listaActuantes}" />
                                </p:column>  

                                <p:ajax event="rowSelect" update=":fOrdenPartes:accordion:subparte" />
                                <p:ajax event="rowUnselect" update=":fOrdenPartes:accordion:subparte" />
                            </p:dataTable>

                        </p:panelGrid>
                    </p:tab>
                </p:accordionPanel>
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"                                
                                 oncomplete="PF('dlgVerOrdenPartes').hide();"  />

                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

                <h:outputLabel rendered="#{pinParteBacking.selectedParte.archivado}"
                               value="El parte ya está archivado, por lo que este objeto no puede ser editado." />

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 