<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="verImagen" widgetVar="dlgVerImagen" 
              modal="true" resizable="false" dynamic="true"
              header="#{pinParteBacking.selectedParte.tipo eq 'P' ? 'Parte Informativo' : 'Informe'} #{pinParteBacking.selectedParte.numParteFormateado}" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" style="width: 50rem;height: 60rem">

        <p:panelGrid columns="1" styleClass="noborder">
            <p:graphicImage id="img" value="#{pinParteBacking.stream}" style="width: 50rem;height: 50rem" title="Para descargar la imagen, haga click-derecho sobre ella y seleccione la opción 'Guardar imagen como...'"/>
        </p:panelGrid>

        <p:separator/>

        <p:panelGrid columns="2" styleClass="nopadding">
            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             immediate="true" 
                             oncomplete="PF('dlgVerImagen').hide();"  />
            <p:ajaxStatus>
                <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                <f:facet name="complete"><h:outputText value=""/></f:facet>
            </p:ajaxStatus>
        </p:panelGrid>
    </p:dialog>
</ui:composition> 