<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="anadirSituacionObjeto" widgetVar="dlgAnadirSituacionObjeto" 
              modal="true" resizable="false" dynamic="true"
              header="Nueva situación" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" width="400">

        <h:form id="fNuevaSituacion">  
            <p:panelGrid columns="2" style="height: 50px">
                <p:outputLabel value="Situación" />
                <p:selectOneMenu id="situacionA" label="Situación"
                                 value="#{pinObjetoBacking.selectedSituacion}" 
                                 converter="PinMiembroConverter"
                                 style="width:250px;" >
                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"/>
                    <f:selectItems value="#{pinObjetoBacking.situaciones}" var="situacion" itemLabel="#{situacion.nombre}" itemValue="#{situacion}"/>
                    <p:ajax update="btnAnadirS" />
                </p:selectOneMenu>

            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 oncomplete="PF('dlgAnadirSituacionObjeto').hide();" 
                                 update="@form"
                                 actionListener="#{pinObjetoBacking.resetSelectedSituacion()}" />

                <p:commandButton id='btnAnadirS' value="Añadir" icon="fa fa-plus" 
                                 action="#{pinObjetoBacking.addSituacionObjeto()}" 
                                 disabled="#{pinObjetoBacking.selectedSituacion eq null}"
                                 oncomplete="PF('dlgAnadirSituacionObjeto').hide();" 
                                 update="fHistoricoObjeto @form" />  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

