<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="abrirObjeto" widgetVar="dlgAbrirObjeto" 
              modal="true" resizable="false" dynamic="true"
              header="Abrir" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" focus="scanInput">

        <h:form id="formAbrirObjeto" prependId="false">  
            <p:defaultCommand target="btnAbrirObjeto"/>  

            <p:remoteCommand name="remoteCommand" process="@form" update="fMain" oncomplete="PF('dlgAbrirObjeto').hide()" actionListener="#{pinObjetoBacking.abrir()}" />

            <p:panelGrid columns="3"  style="border:1px solid lightgray;" columnClasses="nomargin,nomargin,nomargin">  
                <p:panelGrid columns="1" styleClass="noborder" style="margin:0px;">  
                    <p:tooltip for="numObjetoA" style="width:190px;" value="Número del objeto a consultar" />
                    <p:outputLabel value="Número" />
                    <p:inputNumber id="numObjetoA" widgetVar="numObjetoA" label="Número objeto" 
                                   value="#{pinObjetoBacking.idObjeto}" 
                                   decimalPlaces="0" maxValue="9999999" size="15"  thousandSeparator=""
                                   styleClass="centro scanOff" style="height: 32px;font-size: large;" >
                        <p:ajax event='keyup' process="@this" immediate="true" delay="100" update="btnAbrirObjeto" />
                    </p:inputNumber>
                </p:panelGrid>
            </p:panelGrid>

            <p:panelGrid columns="2"  styleClass="noborder nomargin" >
                <p:outputLabel for="scanInput">
                    <p:graphicImage library="images" name="barcode.png" height="32" />
                </p:outputLabel>
                <p:inputText id="scanInput" widgetVar="scanInput" value="#{pinObjetoBacking.scanInput}" size="22" />
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="btnCerrar" value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"  
                                 oncomplete="PF('dlgAbrirObjeto').hide();" 
                                 update="@form"
                                 actionListener="#{pinObjetoBacking.resetSearchFields()}"/>
                
                <p:commandButton id="btnAbrirObjeto" widgetVar="btnAbrirObjeto" 
                                 value="Abrir" icon="fa fa-folder-open-o" 
                                 title="Abrir la orden de servicio indicada"
                                 oncomplete="PF('dlgAbrirObjeto').hide();"  
                                 actionListener="#{pinObjetoBacking.abrir()}"
                                 update="fMain" 
                                 disabled="#{pinObjetoBacking.idObjeto eq Constants.EMPTY_STR}"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 