<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="buscarObjeto" widgetVar="dlgBuscarObjeto" 
              modal="true" resizable="false" dynamic="true"
              header="Buscar objetos entregados" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false">

        <h:form id="fBuscarObjeto">  
            <p:focus for="idObjetoB"/>
            <p:defaultCommand target="btnBuscar"/>

            <p:panelGrid id="pBuscarObjeto" styleClass="noborder">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Nº Objeto" for="idObjetoB"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="idObjetoB" label="Nº Objeto"
                                       value="#{pinObjetoBacking.idObjeto}" 
                                       decimalPlaces="0" maxValue="9999999" size="15"  thousandSeparator=""/>
                    </p:column>
                    <p:column>
                        <p:outputLabel value="Unidad" for="unidadB" />
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="unidadB" label="Unidad"
                                         value="#{pinObjetoBacking.patronBusqueda.parte.unidad}" 
                                         converter="GenMiembroConverter"
                                         style="width:180px;" >
                            <f:selectItem itemLabel="Cualquiera" noSelectionOption="true" />
                            <f:selectItems value="#{pinObjetoBacking.unidades}" var="unidad" itemLabel="#{unidad.nombre}" itemValue="#{unidad}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column>
                        <p:outputLabel value="Tipo" for="tipo"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="tipo" label="Tipo"
                                         value="#{pinObjetoBacking.patronBusqueda.tipo}"
                                         converter="PinMiembroConverter" style="width:150px;" >
                            <f:selectItem itemLabel="Cualquiera" noSelectionOption="true"  />
                            <f:selectItems value="#{pinObjetoBacking.tiposObjeto}" var="tipo" itemLabel="#{tipo.nombre}" itemValue="#{tipo}"/>
                            <p:ajax update="btnBuscar" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:outputLabel value="Identificador" for="identificadorB"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="identificadorB" label="Identificador"
                                     value="#{pinObjetoBacking.patronBusqueda.numObjeto}" 
                                     size="32" />
                    </p:column>
                </p:row>

                <p:row>
                    <p:column >
                        <p:outputLabel value="Descripción" for="descripcionB"/>
                    </p:column>
                    <p:column colspan="3">
                        <p:inputText id="descripcionB" label="Identificador"
                                     value="#{pinObjetoBacking.patronBusqueda.nota}" 
                                     size="80" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="4" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 onclick="PF('dlgBuscarObjeto').hide();"
                                 immediate="true"
                                 update=":fMain" />
                <p:commandButton id="btnBuscar" value="Buscar" icon="fa fa-search" 
                                 actionListener="#{pinObjetoBacking.search(true)}" 
                                 update=":fMain" oncomplete="PF('dlgBuscarObjeto').hide();" />  
                <p:commandButton value="Reiniciar" icon="fa fa-refresh" update="pBuscarObjeto" actionListener="#{pinObjetoBacking.resetSearchFields}" process="@this">
                    <p:resetInput target="@this" />
                </p:commandButton>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>

        </h:form>
    </p:dialog>
</ui:composition>    

