<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='historicoObjeto' header="Situación del objeto #{pinObjetoBacking.selectedObjeto.idObjeto}" 
              widgetVar="dlgHistoricoObjeto" modal="true" appendTo="@(body)"
              showEffect="slide" hideEffect="slide" 
              resizable="false">
        <h:form id="fHistoricoObjeto">
            <p:panelGrid columns="1" styleClass="noborder">
                <p:panel id="botonesSituaciones"  styleClass="noborder">
                    <p:commandLink title="Añadir cambio" styleClass="fa fa-plus"                                            
                                   update="sit"
                                   disabled="#{!pinObjetoBacking.canAdd}"  
                                   process="@this" immediate="true" 
                                   oncomplete="PF('dlgAnadirSituacionObjeto').show();" />

                    <p:commandLink title="Borrar cambio" styleClass="fa fa-trash" immediate="true" process="@this" 
                                   style="margin-left:15px;" rendered="false"
                                   update="sit" 
                                   disabled="#{pinObjetoBacking.selectedObjetoSituacion eq null}"/>
                </p:panel> 
                <p:dataTable id="sit" styleClass="border"
                             value="#{pinObjetoBacking.selectedObjeto.situaciones}"
                             var="situacion" emptyMessage="No hay información sobre este elemento" 
                             rowKey="#{situacion.idSituacion}" sortBy="#{situacion.idSituacion}"
                             scrollHeight="180" scrollable="true" selectionMode="none"
                             style="width: 35em">

                    <p:ajax event="rowSelect" update="fHistoricoObjeto" />
                    <p:ajax event="rowUnselect" update="fHistoricoObjeto" />

                    <p:column headerText="Fecha" sortBy="#{situacion.fecha}" style="width: 10em" >
                        <h:outputText value="#{situacion.fecha}" styleClass="smallfont">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Situacion" sortBy="#{situacion.situacion.nombre}" style="width: 10em" >
                        <h:outputText value="#{situacion.situacion.nombre}" styleClass="smallfont">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Usuario" sortBy="#{situacion.usuario}" >
                        <h:outputText value="#{situacion.usuario}" styleClass="smallfont" />
                    </p:column>

                </p:dataTable>
            </p:panelGrid>

            <p:separator />

            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             onclick="PF('dlgHistoricoObjeto').hide();" 
                             immediate="true"
                             update=":fMain @form" />

            <p:commandButton value="Grabar" icon="fa fa-save" style="margin-left: 15px"
                             onclick="PF('dlgHistoricoObjeto').hide();" 
                             actionListener="#{pinObjetoBacking.save()}"
                             update=":fMain @form" />
        </h:form>  
    </p:dialog>
</ui:composition>



