<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="verParte" widgetVar="dlgVerParte" 
              modal="true" resizable="false" dynamic="true"
              header="#{pinObjetoBacking.selectedParte.tipo eq 'P' ? 'Parte Informativo' : 'Informe'} #{pinObjetoBacking.selectedParte.numParteFormateado}" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" width="1150" height="800">

        <p:panelGrid columns="1" styleClass="noborder">
            <p:media value="#{pinObjetoBacking.stream}" player="pdf" width="1100" height="750" >  
                Su navegador no puede mostrar archivos PDF, <h:outputLink value="#{pinObjetoBacking.pdfFileName}">click aquí</h:outputLink> para descargar el documento.  
            </p:media>  
        </p:panelGrid>

        <p:separator/>

        <p:panelGrid columns="2" styleClass="nopadding">
            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             immediate="true" 
                             oncomplete="PF('dlgVerParte').hide();"  />
            <p:ajaxStatus>
                <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                <f:facet name="complete"><h:outputText value=""/></f:facet>
            </p:ajaxStatus>
        </p:panelGrid>
    </p:dialog>
</ui:composition> 