<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">           
    <ui:define name="appData">
        <h:body>
            <h:form id="fMain"> 
                <p:panel header="Gestión de Destinatarios" style="height: 70em;margin:2em 0;" >
                    <p:panelGrid columns="2" columnClasses="arriba,arriba" styleClass="noborder">                      
                        <p:panelGrid columns="1">

                            <p:panelGrid columns="2" columnClasses="noborder nopadding">
                                <p:outputLabel value="Asunto" for="asunto"/>
                                <p:selectOneMenu id="asunto" label="Asunto"
                                                 value="#{pinDestinatariosBacking.selectedAsunto}"
                                                 converter="PinMiembroConverter" style="width:260px;" >
                                    <f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
                                    <f:selectItems value="#{pinDestinatariosBacking.asuntos}" var="asunto" itemLabel="#{asunto.nombre}" itemValue="#{asunto}"/>
                                    <p:ajax event="change"  update="@form" listener="#{pinDestinatariosBacking.resetSelectedSubasunto()}"/>
                                </p:selectOneMenu>
                            </p:panelGrid>
                            <p:dataTable id="subasuntos" var="subasunto" style="width:30em;min-height: 315px" 
                                         scrollable="true" scrollHeight="250" selection="#{pinDestinatariosBacking.selectedSubasunto}"
                                         emptyMessage="No se encontraron registros"
                                         selectionMode="single" 
                                         rowKey="#{subasunto.idMiembro}"
                                         value="#{pinDestinatariosBacking.selectedAsunto.sublista.miembros}">
                                <p:ajax update="fMain:destinos fMain:editDestinos" event="rowSelect" process="@this" listener="#{pinDestinatariosBacking.makeCopyDestinosAsignados()}"/>
                                <p:ajax update="fMain:destinos fMain:editDestinos" event="rowUnselect"  listener="#{pinDestinatariosBacking.resetSelectedSubasunto()}"/>

                                <p:column headerText="Subasuntos" >
                                    <h:outputText value="#{subasunto.nombre}"/>
                                </p:column> 
                                <f:facet name="footer">#{pinDestinatariosBacking.selectedAsunto.sublista.miembros.size()} subasuntos disponibles</f:facet>
                            </p:dataTable>
                        </p:panelGrid>


                        <p:panelGrid columns="1" styleClass="miembros">
                            <p:orderList id="destinos" value="#{pinDestinatariosBacking.listaDestinos}" 
                                         var="destino"
                                         itemValue="#{destino}" controlsLocation="none" responsive="true"
                                         converter="GenMiembroConverter" styleClass="selectedMiembro">
                                <f:facet name="caption">Destinatarios predefinidos</f:facet>
                                <p:column style="width: 95%">
                                    <h:outputText value="#{destino.nombre}" />
                                </p:column>                                
                                <p:column style="width: 5%">
                                    <h:graphicImage rendered="#{destino.lista.codigo eq Constants.DESTINO_JEFATURA}" styleClass="fa fa-home" title="Jefatura" />
                                    <h:graphicImage rendered="#{destino.lista.codigo eq Constants.DESTINO_AYUNTAMIENTO}" styleClass="fa fa-building-o" title="Ayuntamiento"/>  
                                    <h:graphicImage rendered="#{destino.lista.codigo eq Constants.DESTINO_EXTERNO}" styleClass="fa fa-building" title="Organismo externo"/>
                                </p:column>   
                            </p:orderList>

                            <p:panelGrid id="editDestinos" columns="3" styleClass="nopadding2" style="margin-left: -3px" >                                
                                <p:commandLink id="bnEditDestinos" 
                                               update=":fEditDestinos :fMain:editDestinos" 
                                               oncomplete="PF('dlgEditDestinatarios').show()" 
                                               process="@this" disabled="#{pinDestinatariosBacking.selectedSubasunto eq null}"
                                               title="Pulse para asignar destinos predefinidos al asunto seleccionado" >
                                    <i class="fa fa-pencil fa-lg" />
                                </p:commandLink>

                                <p:ajaxStatus>
                                    <f:facet name="start"><h:graphicImage value="/resources/images/loading.gif" style="margin-bottom:-4px"/></f:facet>
                                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                                </p:ajaxStatus>

                            </p:panelGrid>
                        </p:panelGrid>
                    </p:panelGrid>                                        
                </p:panel>
            </h:form>    

            <!-- Dialog box para modificar el elemento seleccionado -->
            <ui:include src="./dialogs/destinatarios/dlgEditDestinatarios.xhtml" />
        </h:body>
    </ui:define>
</ui:composition>