<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/templates/template1.xhtml" >          
    <ui:define name="appData">
        <h:body onload="miembros()">
            <h:form id="fMain"> 
                <p:panel header="Gestión listas" style="margin:2em 0;" >
                    <p:panelGrid columns="2" columnClasses="arriba,arriba" styleClass="noborder">                      
                        <p:panelGrid columns="1">
                            <p:dataTable id="listas" widgetVar="wvListas" var="lista" style="width:30em;min-height: 315px" 
                                         scrollable="true" scrollHeight="250" 
                                         emptyMessage="No se encontraron registros"
                                         selectionMode="single" selection="#{pinListasBacking.selectedLista}" 
                                         rowKey="#{lista.idLista}"
                                         editable="true" value="#{pinListasBacking.listas}">
                                <p:ajax update="@form" event="rowSelect"  listener="#{pinListasBacking.resetSelectedMiembro()}"/>
                                <p:ajax update="@form" event="rowUnselect"  listener="#{pinListasBacking.resetSelectedLista()}"/>

                                <p:column headerText="Listas" filterBy="#{lista.descripcion}" filterMatchMode="contains" filterStyle="height: 2em; float: right">
                                    <h:outputText value="#{lista.descripcion}"/>
                                </p:column> 
                                <f:facet name="footer">#{pinListasBacking.listas.size()} listas</f:facet>
                            </p:dataTable>
                            <p:panelGrid columns="5" styleClass="nopadding" >
                                <p:commandLink id="bnRefreshLists" 
                                               process="@form" update="@form"
                                               actionListener="#{pinListasBacking.refreshListas}"
                                               onclick="PF('wvListas').clearFilters()"
                                               title="Pulse para recargar el contenido de las listas." >
                                    <i class="fa fa-refresh fa-lg" />
                                </p:commandLink>
                            </p:panelGrid>
                            <p:panel styleClass="noborder nopadding" style="width:30em">
                                <p:outputLabel value="Las listas son elementos básicos de la configuración de la aplicación y no pueden ser modificadas o eliminadas. Tampoco se puede añadir ninguna. Lo que sí se puede hacer es editar el contenido de cada una de ellas."/>
                            </p:panel>
                        </p:panelGrid>

                        <p:panelGrid columns="1" styleClass="miembros">
                            <p:orderList id="miembros" value="#{pinListasBacking.selectedLista.miembros}" var="miembro"
                                         itemValue="#{miembro}" controlsLocation="right" 
                                         converter="PinMiembroConverter" 
                                         moveBottomLabel="Mover al final" moveTopLabel="Mover al principio"
                                         moveDownLabel="Bajar un puesto" moveUpLabel="Subir un puesto"
                                         styleClass="selectedMiembro">
                                <p:column style="width: 95%">
                                    <h:outputText value="#{miembro.nombre}" />
                                </p:column>
                                <p:column style="width: 5%">
                                    <h:outputText value="#{miembro.valor}" />
                                </p:column>
                                <p:ajax event="unselect" update="editMiembros" listener="#{pinListasBacking.resetSelectedMiembro()}" />
                            </p:orderList>

                            <p:panelGrid id="editMiembros" columns="8" styleClass="nopadding2" style="margin-left: -3px" >
                                <p:commandLink id="bnAcceptReordering" 
                                               process="@form" disabled="#{pinListasBacking.selectedLista.miembros.size()==0}"
                                               actionListener="#{pinListasBacking.reorderSelectedLista}"
                                               update=":fMain:editMiembros" 
                                               title="Pulse para grabar la reordenación de la lista." >
                                    <i class="fa fa-floppy-o fa-lg" />
                                </p:commandLink>
                                <p:commandLink id="bnAddMiembro"
                                               update=":fAddMiembro :fMain:editMiembros" 
                                               oncomplete="PF('dlgAddMiembro').show()" 
                                               process="@this" disabled="#{pinListasBacking.selectedLista.descripcion == null or not pinListasBacking.selectedLista.editable}"
                                               actionListener="#{pinListasBacking.newMiembro}"
                                               title="Pulse para añadir un nuevo elemento a la lista seleccionada." >
                                    <i class="fa fa-plus fa-lg" />
                                </p:commandLink>
                                <p:commandLink id="bnEditMiembro" 
                                               update=":fEditMiembro :fMain:editMiembros" 
                                               oncomplete="PF('dlgEditMiembro').show()" 
                                               process="@this" disabled="#{pinListasBacking.selectedMiembro  == null or  not pinListasBacking.selectedLista.editable}"
                                               title="Pulse para editar el elemento seleccionado." >
                                    <i class="fa fa-pencil fa-lg" />
                                </p:commandLink>
                                <p:commandLink id="bnDeleteMiembro"  
                                               update=":fDeleteMiembro :fMain:editMiembros"
                                               oncomplete="PF('dlgDeleteMiembro').show()" 
                                               process="@this" disabled="#{pinListasBacking.selectedMiembro == null or not pinListasBacking.selectedLista.editable}"
                                               title="Pulse para eliminar el elemento seleccionado de su lista." >
                                    <i class="fa fa-trash fa-lg" />
                                </p:commandLink>
                                <p:ajaxStatus>
                                    <f:facet name="start"><h:graphicImage value="/resources/images/loading.gif" style="margin-bottom:-4px"/></f:facet>
                                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                                </p:ajaxStatus>
                                <h:outputText value="Los valores de esta lista no son editables" rendered="#{not pinListasBacking.selectedLista.editable}"/>
                                <p:tooltip for="editMiembros" style="width: 20em"
                                           value="De la lista seleccionada dependen otras listas, lo que impide que se le añadan más elementos o se eliminen los que ya tiene. Sin embargo, sí puede modificar el nombre o reordenar los existentes. " />

                                <!-- Puesto que p:orderList carece de un método para marcar en el lado servidor qué
                                elemento está seleccionado, es necesario usar p:remoteCommand para simularlo.
                                El método asociado al actionListener se dispara automáticamente cada vez que se selecciona
                                un elemento del orderList de miembros (más información en la definición del método).
                                Ojo con la ejecución del método javascript miembros() en el evento onload del body-->
                                <p:remoteCommand name="setMiembro" actionListener="#{pinListasBacking.setMiembro}" update=":fEditMiembro :fMain:editMiembros"  />

                            </p:panelGrid>
                        </p:panelGrid>
                    </p:panelGrid>                                        
                </p:panel>
            </h:form>    

            <!-- Dialog box para añadir un elemento de la lista seleccionada -->
            <ui:include src="./dialogs/listas/dlgAddMiembro.xhtml" />
            <!-- Dialog box para la confirmación de la eliminación de un elemento de la lista seleccionada -->
            <ui:include src="./dialogs/listas/dlgDeleteMiembro.xhtml" />
            <!-- Dialog box para modificar el elemento seleccionado -->
            <ui:include src="./dialogs/listas/dlgEditMiembro.xhtml" />
        </h:body>
    </ui:define>
</ui:composition>