<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/templates/template1.xhtml" >          
    <ui:define name="appData">

        <h:body >
            <h:form id="fMain" style="height: 65em;"> 
                <p:panelGrid columns="1" styleClass="noborder" style="margin: 1em auto; width: 50em;">  
                    <p:outputLabel value="Mensaje" for="txtMensaje" />
                    <p:inputTextarea id="txtMensaje" value="#{pinMensajeriaBacking.mensaje}" cols="80" rows="20" >
                        <p:ajax event="keyup" update="btnEnviar"/>
                    </p:inputTextarea>
                    <p:panelGrid columns="3" styleClass="noborder"> 
                        <p:commandButton id="btnEnviar" value="Enviar"
                                         actionListener="#{pinMensajeriaBacking.send}"
                                         disabled="#{pinMensajeriaBacking.mensaje.length() lt 10}" 
                                         title="El mensaje será enviado a todos los usuarios conectados"/>
                        <p:commandButton value="Limpiar" 
                                         actionListener="#{pinMensajeriaBacking.clean}" 
                                         update="@form" 
                                         title="Limpia el contendio del mensaje actual"/>
                        <p:ajaxStatus style="height: 20px">
                            <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                            <f:facet name="complete"><h:outputText value=""/></f:facet>
                        </p:ajaxStatus>
                    </p:panelGrid>
                </p:panelGrid>
            </h:form>  

        </h:body>
    </ui:define>
</ui:composition>