<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/template1.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">           
    <ui:define name="appData">
        <script type="text/javascript">
            function start() {
                PF('dlgPreparandoZip').show();
            }

            function stop() {
                PF('dlgPreparandoZip').hide();
            }
        </script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAD5nMObbgwCOQVy8NBXnVCvn61Enn0DD0" type="text/javascript"></script>
        <script type="text/javascript" src="#{externalContext.requestContextPath}/resources/javascript/jquery.scannerdetection.js"></script>
        <script type="text/javascript">
            $(document).scannerDetection({
                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
                endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
                ignoreIfFocusOn: '.scanOff',
                onKeyDetect: function (event) {
//                    console.log(event.which + " --> " + String.fromCharCode(event.which));
                    if (event.which === 13) {
                        return;
                    }
                    return false;
                },
                onComplete: function (barcode, qty) {

                    $('#scanInput').val(barcode);
                    remoteCommand();
                }
            });
        </script>

        <h:form id="fMain">   
            <p:panel id="partePanel" header="Gestión de Informes" style="width:65rem;margin:1rem auto;" >
                <p:panelGrid columns="2" styleClass="noborder" columnClasses="arriba noborder nopadding,arriba noborder nopadding">

                    <p:panelGrid id="panelPrincipal" columns="1"  >                      
                        <p:panelGrid columns="3" columnClasses="nopadding,nopadding,nopadding">
                            <p:panelGrid columns="1" style="height: 4rem;" columnClasses="nopadding" >
                                <p:panelGrid columns="2" columnClasses="nopadding izquierda t5rem, nopadding derecha t12rem" style="margin-bottom: 0.3rem">
                                    <p:outputLabel id="tipoInforme" value="#{pinParteBacking.tipoInforme}" style="width: 5rem;" /> 
                                    <p:outputLabel value="#{pinParteBacking.selectedParte.idParte gt 0 ? pinParteBacking.selectedParte.unidad.nombre : ''}" style="width: 12.5rem;color:blue;" />
                                </p:panelGrid>
                                <p:inputText id="numParte" label="Número parte" 
                                             value="#{pinParteBacking.selectedParte.numParteFormateado}"
                                             readonly="true" styleClass="centro"
                                             style="height: 2rem;width: 17rem;font-size: x-large;"/>
                            </p:panelGrid>

                            <p:panelGrid columns="1" style="height: 7rem;margin-left:0.8rem" columnClasses="nopadding" >
                                <p:outputLabel value="F. Registro" for="fechaRegistro" style="margin-bottom: 0.3rem"/>
                                <p:calendar id="fechaRegistro" label="Fecha Registro"
                                            value="#{empty pinParteBacking.selectedParteChecked ? '' : pinParteBacking.selectedParte.fechaRegistro}"
                                            readonly="true" locale="es"
                                            showOn="none" size="16"
                                            title="Fecha de registro del parte"
                                            pattern="dd-MM-yyyy HH:mm"/>

                                <p:outputLabel value="F. Suceso" for="fechaSuceso" style="margin-bottom: 0.3rem"/>
                                <p:calendar id="fechaSuceso" label="Fecha Suceso"
                                            value="#{pinParteBacking.selectedParte.fechaSuceso}"
                                            readonly="true" locale="es"
                                            showOn="none" size="16"
                                            title="Fecha de hecho referenciado en el parte"
                                            pattern="dd-MM-yyyy HH:mm"/>
                            </p:panelGrid>

                            <p:panelGrid columns="1" >
                                <p:outputLabel value="Actuantes" for="actuantes" style="margin-bottom: 0.3rem"/>
                                <p:orderList id="actuantes" value="#{pinParteBacking.selectedParte.actuantes}" 
                                             var="actuante" controlsLocation="none" converter="PinActuanteConverter"
                                             itemLabel="#{actuante.categoria.nombre} #{actuante.indicativo}" itemValue="#{actuante}" 
                                             styleClass="agentes" />
                            </p:panelGrid>

                        </p:panelGrid>

                        <p:outputLabel value="Orden de servicio" for="ordenServicio"/>
                        <p:inputText id="orden" label="Orden de servicio" style="width: 17rem;margin-bottom: 0.6rem"
                                     value="#{pinParteBacking.selectedParte.ordenServicio.referenciaInternaFormateada}"
                                     readonly="true"/>

                        <p:outputLabel value="Lugar" for="lugar"/>
                        <p:inputText id="lugar" label="Lugar" style="width: 37rem;margin-bottom: 0.6rem"
                                     value="#{pinParteBacking.selectedParte.lugar}" readonly="true"/>

                        <p:outputLabel value="Asunto" for="asunto"/>
                        <p:inputText id="asunto" label="Asunto" style="width: 37rem;margin-bottom: 0.6rem"
                                     value="#{pinParteBacking.selectedParte.asuntoCompleto}"
                                     readonly="true"/>

                        <p:outputLabel value="Contenido" for="contenido" />
                        <p:inputTextarea id="contenido" label="Contenido del parte"
                                         value="#{pinParteBacking.selectedParte.informe}"
                                         style="width: 37rem;"
                                         cols="85" rows="7" readonly="true" autoResize="false"  scrollHeight="5"/>

                        <p:panelGrid columns="2" columnClasses="nopadding">
                            <p:outputLabel value="Estado" for="estado"/>
                            <p:inputText id="estado" label="Estado del parte"
                                         value="#{pinParteBacking.selectedParte.idParte gt 0 ? pinParteBacking.selectedParte.estadoActual.estado.nombre : Constants.EMPTY_STR}"
                                         style="width: 34rem;background-color: salmon;color:white"
                                         readonly="true"/>
                        </p:panelGrid>                         
                    </p:panelGrid>

                    <p:gmap center="#{pinParteBacking.center}" 
                            zoom="#{pinParteBacking.zoom}"  type="MAP" style="height: 30rem; min-width: 23rem;margin-top: 0.9rem;padding-left: 0;" 
                            model="#{pinParteBacking.mapModel}" navigationControl="true">
                        <p:ajax event="overlaySelect" listener="#{pinParteBacking.onMarkerSelect}" />
                        <p:gmapInfoWindow id="infoWindow">
                            <p:outputPanel style="text-align: left; display: block; margin: auto">
                                <h:outputText value="Accidente #{pinParteBacking.selectedParte.numeroParte}" style='font-size: xx-small'/>
                                <br/>
                                <h:outputText value="Asunto: #{pinParteBacking.selectedParte.asuntoCompleto}" style='font-size: xx-small'/>
                                <br/>
                                <h:outputText value="Actuante: #{pinParteBacking.selectedParte.actuantes.toString()}" style='font-size: xx-small'/>                                
                            </p:outputPanel>
                        </p:gmapInfoWindow>
                    </p:gmap>

                </p:panelGrid>
            </p:panel>

            <p:panelGrid columns="1" styleClass="noborder" style="width: 10rem; margin: 1rem auto;">        
                <p:panelGrid id="botones"  columns="20" styleClass="border">
                    <p:commandLink title="Abrir un parte o informe por su número" styleClass="fa fa-folder-open-o"
                                   disabled="#{!user.consultas}"
                                   update="abrirParte"
                                   style="font-size:1rem"
                                   actionListener="#{pinParteBacking.resetPatronBusqueda()}"
                                   oncomplete="PF('dlgAbrirParte').show();"/>

                    <p:commandLink title="Buscar" styleClass="fa fa-search"
                                   disabled="#{!user.consultas}"
                                   style="font-size:1rem"
                                   oncomplete="PF('dlgBuscarParte').show();"/>

                    <p:commandLink title="Recargar última búsqueda" styleClass="fa fa-refresh"
                                   disabled="#{!user.consultas}"
                                   update=":fMain:partePanel :fMain:tParte"
                                   style="font-size:1rem"
                                   actionListener="#{pinParteBacking.search(false, true, false)}"/>

                    <p:commandLink title="Modificar el documento seleccionado" styleClass="fa fa-pencil"
                                   disabled="#{!pinParteBacking.canEdit}"  
                                   update=":fMain:partePanel :fMain:tParte :editarParte"  
                                   actionListener="#{pinParteBacking.makeDraggable()}" 
                                   style="font-size:1rem"                                
                                   oncomplete="PF('dlgEditarParte').show();" />

                    <p:commandLink disabled="#{!pinParteBacking.canDelete}" 
                                   oncomplete="PF('dlgBorrarParte').show();" update=":borrarParte"
                                   styleClass="fa fa-trash"  
                                   style="font-size:1rem"
                                   title="Anular el documento seleccionado" />

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink disabled="#{!pinParteBacking.canPrint}"  
                                   styleClass="fa fa-print" 
                                   title="Imprimir el documento seleccionado" 
                                   update="verParte"
                                   style="font-size:1rem"
                                   actionListener="#{pinParteBacking.generateReport()}"
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();" />

                    <p:commandLink title="Descargar documentos asociados adjuntos" styleClass="fa fa-download"
                                   disabled="#{empty pinParteBacking.selectedParte.adjuntos}" 
                                   style="font-size:1rem"
                                   onclick="PrimeFaces.monitorDownload(start, stop);"
                                   ajax="false"> <!-- Es necesario deshabilitar ajax porque fileDownload requiere un refresco de la página completo -->
                        <p:fileDownload value="#{pinParteBacking.zipFile}" />
                    </p:commandLink>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:commandLink styleClass="fa fa-sitemap" 
                                   title="Ver destinatarios del parte y situación del mismo en cada uno" 
                                   update="destinatarios"
                                   style="font-size:1rem"
                                   disabled="#{pinParteBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerDestinatario').show();" />

                    <p:commandLink styleClass="fa fa-clock-o" 
                                   title="Ver historico de visualización/impresión del parte" 
                                   update="historicoImpresion"
                                   style="font-size:1rem"
                                   disabled="#{pinParteBacking.selectedParte.idParte == 0}"
                                   oncomplete="PF('dlgVerHistoricoImpresion').show();" />


                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel rendered="#{!empty pinParteBacking.msgAmbito}" value="ÁMBITO: #{pinParteBacking.msgAmbito}" style="color: red;"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif" height="17"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid> 

                <p:dataTable id="tParte" 
                             var="parte" emptyMessage="Realice una búsqueda para ver documentos" 
                             rowKey="#{parte.idParte}" 
                             selection="#{pinParteBacking.selectedParteChecked}"
                             paginator="true" rows="15" style="min-height: 25rem;"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,15,30,45" paginatorAlwaysVisible="true" paginatorPosition="bottom" 
                             value="#{pinParteBacking.lazyResultadoBusqueda}" lazy="true"
                             styleClass="myTable" rowIndexVar="rowIndex"
                             rowStyleClass="#{parte.anulado ? 'anulado' : 'normal'}">

                    <p:ajax event="rowSelect" update=":fMain:partePanel :fMain:botones editarParte" listener="#{pinParteBacking.selectRow}"  />
                    <p:ajax event="rowUnselect" update=":fMain:partePanel :fMain:botones editarParte" listener="#{pinParteBacking.selectRow}" />
                    <p:ajax event="rowSelectCheckbox" update=":fMain:partePanel :fMain:botones editarParte" listener="#{pinParteBacking.selectRow}"/>
                    <p:ajax event="rowUnselectCheckbox" update=":fMain:partePanel :fMain:botones editarParte" listener="#{pinParteBacking.selectRow}"/>
                    <p:ajax event="toggleSelect" update=":fMain:partePanel :fMain:botones" listener="#{pinParteBacking.selectRow}" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" selectionMode="multiple" style="width:0.9rem;text-align:center" />
                            <p:column rowspan="2" headerText="" style="width: 5rem" styleClass="centro" />
                            <p:column rowspan="2" headerText="Número" style="width: 8rem" styleClass="centro" />

                            <p:column colspan="2" headerText="Fechas"  style="width: 15rem" />

                            <p:column rowspan="2" headerText="Policía" style="width: 8rem" styleClass="centro" />
                            <p:column rowspan="2" headerText="Asunto" style="width: 15rem" styleClass="izquierda" />
                            <p:column rowspan="2" headerText="Unidad" style="width: 8rem" styleClass="izquierda" />

                            <p:column rowspan="2" headerText="Estado" style="width: 8rem" />
                        </p:row>

                        <p:row>
                            <p:column headerText="Registro" styleClass="centro" />
                            <p:column headerText="Suceso" styleClass="centro" />
                        </p:row>
                    </p:columnGroup>


                    <p:column selectionMode="multiple"  style="width:0.9rem;text-align:center"/>

                    <p:column styleClass="centro">
                        <i style="visibility: #{empty parte.personas ? 'hidden' : 'visible'}"  class="fa fa-user" />
                        <i style="visibility: #{empty parte.objetos ? 'hidden' : 'visible'}; margin-left: 0.3rem;" class="fa fa-soccer-ball-o" />
                        <i style="visibility: #{empty parte.adjuntos ? 'hidden' : 'visible'}; margin-left: 0.3rem;"  class="fa fa-paperclip"/>
                    </p:column>

                    <p:column headerText="Número" sortFunction="#{parte.sortByNumParte}" sortBy="#{parte.numParteFormateado}" style="width: 8rem" styleClass="centro">
                        <h:outputText value="#{parte.numParteFormateado}"  />
                        <p:tooltip for="@(.myTable tr[role=row][data-ri=#{rowIndex}])" value="MOTIVO ANULACIÓN: #{parte.motivoAnulacion}" rendered="#{!empty parte.motivoAnulacion}"/>
                    </p:column>

                    <p:column styleClass="centro">
                        <h:outputText value="#{parte.fechaRegistro}">
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>  

                    <p:column  sortBy="#{parte.fechaSuceso}" style="width: 8rem" styleClass="centro">
                        <h:outputText value="#{parte.fechaSuceso}" >
                            <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                        </h:outputText>
                    </p:column>     

                    <p:column styleClass="centro">
                        <h:outputText value="#{parte.listaActuantes}" />
                    </p:column>  

                    <p:column sortBy="#{parte.asuntoCompleto}" styleClass="izquierda">
                        <h:outputText value="#{parte.asuntoCompleto}" />
                    </p:column>  

                    <p:column sortBy="#{parte.unidad.nombre}" styleClass="izquierda">
                        <h:outputText value="#{parte.unidad.nombre}" />
                    </p:column>  

                    <p:column styleClass="izquierda">
                        <h:outputText value="#{parte.estadoActual.estado.nombre}" />
                    </p:column>  

                </p:dataTable>
            </p:panelGrid>
        </h:form>

        <!-- Dialog-box para la apertura de partes e informes -->
        <ui:include src="dialogs/gestionar/dlgAbrirParte.xhtml" />

        <!-- Dialog-box para las búsquedas de partes -->
        <ui:include src="dialogs/gestionar/dlgBuscar.xhtml" />

        <!-- Dialog-box para editar un parte-->
        <ui:include src="dialogs/gestionar/dlgEditar.xhtml" />

        <!-- Dialog-box para eliminar partes-->
        <ui:include src="dialogs/gestionar/dlgBorrar.xhtml" />   

        <!-- Dialog-box para ver historico de impresion-->
        <ui:include src="dialogs/gestionar/dlgVerHistoricoImpresion.xhtml" /> 

        <!-- Dialog-box para ver destinatarios y situaciones del parte-->
        <ui:include src="dialogs/gestionar/dlgVerDestinatario.xhtml" /> 

        <!-- Dialog-box para imprimir partes-->
        <ui:include src="dialogs/gestionar/dlgImprimiendo.xhtml" /> 
        <ui:include src="dialogs/gestionar/dlgVerParte.xhtml" /> 
        <ui:include src="dialogs/gestionar/dlgVerImagen.xhtml" /> 
        <ui:include src="dialogs/gestionar/dlgVerOrdenServicio.xhtml" /> 

        <!-- Dialog-box para añadir un nuevo actuante-->
        <ui:include src="dialogs/gestionar/dlgAnadirActuante.xhtml" />

        <!-- Dialog-box para añadir un nuevo destinatario-->
        <ui:include src="dialogs/gestionar/dlgEditDestinatarios.xhtml" />

        <!-- Dialog-box para añadir un nuevo documento adjunto-->
        <ui:include src="dialogs/gestionar/dlgAnadirAdjunto.xhtml" />
        <ui:include src="dialogs/gestionar/dlgUploadingFile.xhtml" />

        <!-- Dialog-box para añadir una reseña de persona-->
        <ui:include src="dialogs/gestionar/dlgAnadirPersona.xhtml" />

        <!-- Dialog-box para añadir un nuevo objeto-->
        <ui:include src="dialogs/gestionar/dlgAnadirObjeto.xhtml" />

        <!-- Dialog-box para las búsquedas de vías -->
        <ui:include src="dialogs/gestionar/dlgBuscarVia.xhtml" />       
        <ui:include src="dialogs/gestionar/dlgSeleccionarCoordenadas.xhtml" />

        <!-- Dialog-box para confirmar envío parte -->
        <ui:include src="dialogs/gestionar/dlgEnviarParte.xhtml" /> 

        <ui:include src="dialogs/gestionar/dlgPreparandoZip.xhtml" /> 
    </ui:define>

</ui:composition> 