<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:o="http://omnifaces.org/ui">           
    <ui:define name="appData">
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAD5nMObbgwCOQVy8NBXnVCvn61Enn0DD0" type="text/javascript"></script>

        <p:panelGrid  columns="1" style="width: 78rem;margin:0.4rem auto;" styleClass="noborder" >   

            <h:form id="fEditarParte" prependId="false">
                <o:commandScript name="onload" actionListener="#{pinParteBacking.setPaginaActual('informe')}" autorun="true" render="panelPrincipal"/>
                <p:panel id="editarParte" header="Nuevo Informe - #{user.unidad.nombre}" style="width:73.5rem;margin:0.5rem auto;" >
                    <ui:include  src="dialogs/formAltaParte.xhtml"  />
                </p:panel> 

                <p:separator/>

                    <p:panelGrid id='botones' columns="2"  styleClass="nopadding barraBotones" columnClasses="float_izquierda, float_derecha">
                        <p:panelGrid columns="5" >
                            <p:commandButton id="bnGrabar" value="Grabar borrador" icon="fa fa-save" 
                                             actionListener="#{pinParteBacking.saveBorrador(false)}" 
                                             title="Guardar el parte como borrador sin ser enviado a la oficina"
                                             update="numParte bnImprimir" 
                                             disabled="#{!pinParteBacking.canSave  or pinParteBacking.selectedParte.listoTramitar}"/>  

                            <p:commandButton id="bnGrabarNuevo" value="Enviar a oficiona" icon="fa fa-send-o" 
                                             actionListener="#{pinParteBacking.saveParteyNuevo}"                                          
                                             title="Registra el parte y lo remite a la oficina para su tramitación"
                                             update="fEditarParte msgRegistro" 
                                             oncomplete="PF('dlgMensajeRegistro').show();"
                                             disabled="#{!pinParteBacking.canSave}"/>  

                            <p:spacer width="5" />

                            <p:commandButton id="bnImprimir" value="Imprimir" 
                                             icon="fa fa-print" 
                                             title="Ver una vista previa del formulario para archivarlo y/o imprimirlo." 
                                             actionListener="#{pinParteBacking.generateReport()}" 
                                             disabled="#{pinParteBacking.selectedParte.numeroParte eq null}"
                                             process="@this"
                                             onclick="PF('dlgImprimiendo').show();" 
                                             oncomplete="PF('dlgImprimiendo').hide();"
                                             onerror="PF('dlgImprimiendo').hide();" />

                            <p:ajaxStatus>
                                <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                                <f:facet name="complete"><h:outputText value=""/></f:facet>
                            </p:ajaxStatus>
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <p:commandButton value="Nuevo parte" 
                                             icon="fa fa-paint-brush" 
                                             update="fEditarParte" 
                                             title="Limpia los datos del formulario."
                                             actionListener="#{pinParteBacking.resetNuevoParte}" 
                                             process="@this">
                                <p:resetInput target="@this" />
                            </p:commandButton>
                        </p:panelGrid>
                    </p:panelGrid>

            </h:form>
        </p:panelGrid>

        <!-- Dialog-box para imprimir partes y órdens de trabajo-->
        <ui:include src="dialogs/gestionar/dlgImprimiendo.xhtml" />         
        <ui:include src="dialogs/gestionar/dlgVerOrdenServicio.xhtml" />     
        <ui:include src="dialogs/gestionar/dlgVerOrdenYPartes.xhtml" /> 
        <ui:include src="dialogs/gestionar/dlgVerParte.xhtml" /> 

        <ui:include src="dialogs/dlgMensajeRegistro.xhtml" /> 

        <!-- Dialog-box para añadir un nuevo actuante-->
        <ui:include src="dialogs/gestionar/dlgAnadirActuante.xhtml" />

        <!-- Dialog-box para añadir un nuevo destinatario-->
        <ui:include src="dialogs/gestionar/dlgEditDestinatarios.xhtml" />

        <!-- Dialog-box para añadir un nuevo documento adjunto-->
        <ui:include src="dialogs/gestionar/dlgAnadirAdjunto.xhtml" />
        <ui:include src="dialogs/gestionar/dlgUploadingFile.xhtml" />

        <!-- Dialog-box para añadir una reseña de persona-->
        <ui:include src="dialogs/gestionar/dlgAnadirPersona.xhtml" />

        <!-- Dialog-box para añadir un nuevo objeto-->
        <ui:include src="dialogs/gestionar/dlgAnadirObjeto.xhtml" />

        <!-- Dialog-box para las búsquedas de vías -->
        <ui:include src="dialogs/gestionar/dlgBuscarVia.xhtml" />       
        <ui:include src="dialogs/gestionar/dlgSeleccionarCoordenadas.xhtml" />
    </ui:define>
</ui:composition> 