<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template1.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">           
    <ui:define name="appData">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAD5nMObbgwCOQVy8NBXnVCvn61Enn0DD0" type="text/javascript"></script>        

        <h:form id="fMain" >
            <p:defaultCommand target="btnBuscar" />

            <p:panel id="controles" header="Búsqueda geográfica" style="margin-top: 0.5rem;" styleClass="largefont">
                <h:panelGrid columns="20" style="margin:1.1rem 0 0 0;" cellpadding="5">                  
                    <p:outputLabel for="tipo" value="Tipo búsqueda" />
                    <p:selectOneMenu id="tipo" 
                                     value="#{pinMapaBacking.tipoBusqueda}"
                                     immediate="true" >
                        <f:validateRequired disabled="true" />
                        <p:ajax event="change" update="controles dialog" immediate="true" />
                        <f:selectItem itemLabel="Distancia" itemValue="#{Constants.BUSQUEDA_DISTANCIA}" />
                        <f:selectItem itemLabel="Vecinos más cercanos" itemValue="#{Constants.BUSQUEDA_VECINOS}" />   
                    </p:selectOneMenu>

                    <h:panelGrid id="sliderDistancia" columns="3" rendered="#{pinMapaBacking.tipoBusqueda eq Constants.BUSQUEDA_DISTANCIA}">                       
                        <p:slider for="edtDistancia" minValue="20" maxValue="1500" style="width: 8rem;" />
                        <p:inputNumber id="edtDistancia" value="#{pinMapaBacking.distanciaBusqueda}" size="4" decimalPlaces="0" minValue="20" maxValue="1500"/>
                        <p:outputLabel value="metros" />
                    </h:panelGrid>

                    <h:panelGrid id="sliderVecinos" columns="3" rendered="#{pinMapaBacking.tipoBusqueda eq Constants.BUSQUEDA_VECINOS}" >                       
                        <p:slider for="edtVecinos" minValue="0" maxValue="100" style="width: 8rem;" />
                        <p:inputNumber id="edtVecinos" value="#{pinMapaBacking.numVecinos}" size="3" decimalPlaces="0" minValue="0" maxValue="100"/>
                        <p:outputLabel value="sucesos más cercanos" />
                    </h:panelGrid>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <p:outputLabel for="origen" value="Origen" />
                    <p:selectOneMenu id="origen" 
                                     style="width: 5rem"
                                     value="#{pinMapaBacking.origen}" >
                        <p:ajax event="change" update="controles" listener="#{pinMapaBacking.resetMap()}" immediate="true" />
                        <f:selectItem itemLabel="Parte" itemValue="#{Constants.ORIGEN_PARTE}" />
                        <f:selectItem itemLabel="Informe" itemValue="#{Constants.ORIGEN_INFORME}" />
                        <f:selectItem itemLabel="Ordenanza" itemValue="#{Constants.ORIGEN_ORDENANZA}" />
                        <f:selectItem itemLabel="Punto" itemValue="#{Constants.ORIGEN_PUNTO}" />                 
                    </p:selectOneMenu>

                    <p:outputLabel value="Marque un punto en el mapa para indicar el origen de la búsqueda" rendered="#{pinMapaBacking.origen eq Constants.ORIGEN_PUNTO}" />

                    <h:panelGrid columns="4"  cellpadding="5" rendered="#{pinMapaBacking.origen ne Constants.ORIGEN_PUNTO}" >
                        <p:outputLabel for="edtAtestado" value="Número" />
                        <p:inputNumber id="edtAtestado" 
                                       value="#{pinMapaBacking.parteNum}" 
                                       emptyValue="empty" size="6"  
                                       decimalPlaces="0" 
                                       title="Introduzca el número de parte o informe" >
                            <f:validateLength minimum="1" maximum="5" />
                            <p:ajax event="keyup" update="btnBuscar"/>
                        </p:inputNumber>

                        <p:outputLabel for="agno" value="Año"/>
                        <p:selectOneMenu id="agno" label="Año"
                                         value="#{pinMapaBacking.agnoParte}" 
                                         style="width:3rem;" >
                            <f:validateRequired disabled="true" />
                            <f:selectItems value="#{pinMapaBacking.years}" var="agno"  itemLabel="#{agno}" itemValue="#{agno}"/>

                        </p:selectOneMenu>
                    </h:panelGrid>

                    <p:spacer width="1" height="15" styleClass="vertical-spacer" />

                    <h:panelGrid columns="4"  cellpadding="5" >
                        <p:outputLabel value="Entre años" />
                        <p:selectOneMenu id="agnoInicio" label="Año inicio"
                                         value="#{pinMapaBacking.agnoInicio}"
                                         style="width:3rem;" >
                            <f:selectItems value="#{pinMapaBacking.years}" itemLabel="#{agnoInicio}" var="agnoInicio" itemValue="#{agnoInicio}"/>
                        </p:selectOneMenu>

                        <p:outputLabel value="y"/>
                        <p:selectOneMenu id="agnoFin" label="Año"
                                         value="#{pinMapaBacking.agnoFin}" 
                                         style="width:3rem;" >
                            <f:validateRequired disabled="true" />
                            <f:selectItems value="#{pinMapaBacking.years}" itemLabel="#{agnoFin}" var="agnoFin" itemValue="#{agnoFin}"/>
                        </p:selectOneMenu>
                    </h:panelGrid>

                    <p:commandLink id="btnBuscar" title="Buscar" 
                                   actionListener="#{pinMapaBacking.seekData()}"
                                   disabled="#{((pinMapaBacking.origen eq Constants.ORIGEN_PARTE or pinMapaBacking.origen eq Constants.ORIGEN_INFORME or pinMapaBacking.origen eq Constants.ORIGEN_ORDENANZA) and (pinMapaBacking.parteNum eq Constants.EMPTY_STR)) or
                                               ((pinMapaBacking.origen eq Constants.ORIGEN_PUNTO)  and (pinMapaBacking.selectedLat eq 0))}" 
                                   update="map btnImprimir btnSelectorCapas dialogSeleccionCapas" 
                                   onclick="PF('dlgSeleccionCapas').hide();PF('dlgEfectuandoConsulta').show();" 
                                   onsuccess="PF('dlgEfectuandoConsulta').hide();"
                                   onerror="PF('dlgEfectuandoConsulta').hide();">
                        <i class="fa fa-search" style="font-size:1.4em" />
                    </p:commandLink>

                    <p:commandLink id="btnImprimir" title="Imprimir" 
                                   actionListener="#{pinMapaBacking.printReport()}"
                                   disabled="#{pinMapaBacking.searchResult.size() le 1}"                                    
                                   onclick="PF('dlgImprimiendo').show();"
                                   oncomplete="PF('dlgImprimiendo').hide();"
                                   onerror="PF('dlgImprimiendo').hide();"
                                   update="map"  >
                        <i class="fa fa-print" style="font-size:1.2rem"/>
                    </p:commandLink>


                    <p:outputLabel value="Mostrar selector de capas" style="width: 15rem"/>
                    <p:inputSwitch id="btnSelectorCapas" onLabel="Sí" value="#{pinMapaBacking.verSelectorCapas}" offLabel="No" >
                        <p:ajax listener="#{pinMapaBacking.onSelectorCapasChange()}"  update="dialogSeleccionCapas" process="@this" />
                    </p:inputSwitch>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>

                </h:panelGrid>

                <p:separator style="margin:0.5rem auto 0.9rem auto; width: 99%;"/>

                 <p:gmap id="map"
                        center="#{pinMapaBacking.center}" zoom="#{pinMapaBacking.zoom}" 
                        fitBounds="false" 
                        type="MAP" style="height: 60rem; width: 99%; margin:auto;" 
                        model="#{pinMapaBacking.mapModel}" navigationControl="true"
                        rendered="#{pinMapaBacking.mapModel ne null}">
                    <p:ajax event="overlaySelect" listener="#{pinMapaBacking.onMarkerSelect}" />
                    <p:ajax event="pointSelect" listener="#{pinMapaBacking.onPointSelect}" update="btnBuscar map"/>
                    <p:ajax event="stateChange" listener="#{pinMapaBacking.onStateChange}" />
                    <p:gmapInfoWindow id="infoWindow">
                        <p:panelGrid columns="1" styleClass="noborder nopaddign" style="text-align: left; display: block; margin: auto">
                            <h:outputText value="#{pinMapaBacking.parteInfo[0]}" style='font-size: xx-small; width: 10rem;'/>
                            <h:outputText value="#{pinMapaBacking.parteInfo[1]}" style='font-size: xx-small; width: 10rem;'/>
                            <h:outputText value="#{pinMapaBacking.parteInfo[2]}" style='font-size: xx-small; width: 10rem;'/>
                            <h:outputText value="#{pinMapaBacking.parteInfo[3]}" style='font-size: xx-small; width: 10rem;'/>
                            <h:outputText value="#{pinMapaBacking.parteInfo[4]}" style='font-size: xx-small; width: 10rem;'/>
                            <h:outputText value="#{pinMapaBacking.parteInfo[5]}" style='font-size: xx-small; width: 10rem;'/>
                        </p:panelGrid>
                    </p:gmapInfoWindow>
                </p:gmap>
            </p:panel>

        </h:form>

        <!--         Dialog-box avisando que se está efectuando la consulta -->
        <ui:include src="dialogs/mapa/dlgEfectuandoConsulta.xhtml" />

        <!--          Dialog-box para selección de capas de datos -->
        <ui:include src="dialogs/mapa/dlgSeleccionCapas.xhtml" />

        <!--         Dialog-box ver informe -->
        <ui:include src="dialogs/mapa/dlgVerParte.xhtml" />
        <ui:include src="dialogs/mapa/dlgImprimiendo.xhtml" />

    </ui:define>
</ui:composition> 