<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="anadirActuante" widgetVar="dlgAnadirActuante" 
              modal="true" resizable="false" dynamic="true"
              header="Nuevo actuante" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" width="400">

        <h:form id="fNuevoActuante">  
            <p:panelGrid columns="2" style="height: 50px">
            <h:outputLabel value="Indicativo"/>
            <p:autoComplete id="persona" 
                            value="#{pinParteBacking.selectedPersona}" size="35"
                            completeMethod="#{pinParteBacking.searchPersona}"
                            queryDelay="500" minQueryLength="2"
                            label="Policía" 
                            var="persona" itemValue="#{persona}"                     
                            itemLabel="#{persona.plantillaList[0].indicativo} #{persona.apellido1} #{persona.apellido2} #{persona.nombre}"
                            forceSelection="true" required="true">

                <p:ajax event="itemSelect" update="bnAnadir"/>
                <f:facet name="itemtip">
                    <h:panelGrid columns="1" cellpadding="1" width="110px">                                        
                        <f:facet name="header">
                            <h:graphicImage value="#{pinParteBacking.personaPhoto}" height="100"/><br/>
                            <h:outputText value="#{persona.plantillaList[0].indicativo}"/><br/>
                            <h:outputText value="#{persona.nombre}" /><br/>
                            <h:outputText value="#{persona.apellido1}"/><br/>
                            <h:outputText value="#{persona.apellido2}"/>
                        </f:facet>
                    </h:panelGrid>
                </f:facet>
            </p:autoComplete>
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 immediate="true" process="@this" 
                                 oncomplete="PF('dlgAnadirActuante').hide();" 
                                 update="fEditarOrdenanza @form" actionListener="#{pinParteBacking.resetSelectedPersona()}" />
                <p:commandButton id='bnAnadir' value="Aceptar" icon="fa fa-user-plus" 
                                 action="#{pinParteBacking.addActuante}" 
                                 disabled="#{pinParteBacking.selectedPersona eq null}"
                                 oncomplete="PF('dlgAnadirActuante').hide();" 
                                 update="fEditarOrdenanza @form" />  
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

