<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="abrirOrdenanza" widgetVar="dlgAbrirOrdenanza" 
              modal="true" resizable="false" dynamic="true"
              header="Abrir" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="false" focus="scanInput">

        <h:form id="formAbrirOrdenanza" prependId="false">  
            <p:defaultCommand target="btnAbrirOrdenanza"/>  

            <p:remoteCommand name="remoteCommand" process="@form" update="fMain:ordenanzaPanel :fMain:tOrdenanza" oncomplete="PF('dlgAbrirOrdenanza').hide()" actionListener="#{pinParteBacking.abrir()}" />

            <p:panelGrid columns="3"  style="border:0.1rem solid lightgray;" columnClasses="nomargin,nomargin,nomargin">  
                <p:panelGrid columns="1" styleClass="noborder" style="margin:0;">  
                    <p:tooltip for="numParteA" style="width:190px;" value="Número de parte o informe a consultar" />
                    <p:outputLabel value="Número" />
                    <p:inputNumber id="numParteA" widgetVar="numParteA" label="Número parte/informe" 
                                   value="#{pinParteBacking.patronBusqueda.numeroParte}" 
                                   decimalPlaces="0" maxValue="99999" size="5"  thousandSeparator=""
                                   styleClass="centro scanOff" style="height: 32px;font-size: large;">
                        <p:ajax disabled="true" />
                        <p:ajax event='keyup' delay="100" update="btnAbrirOrdenanza" />
                    </p:inputNumber>
                </p:panelGrid>

                <p:panelGrid columns="1" styleClass="noborder" style="margin:0px;"> 
                    <p:tooltip for="agno" style="width:190px;" value="Año del parte a consultar según su fecha de registro" />
                    <p:outputLabel value="Año" /> 
                    <p:selectOneMenu id="agno" widgetVar="agno" value="#{pinParteBacking.agno}" styleClass="scanOff" style="width:80px; height: 32px;font-size: large;">
                        <f:selectItems value="#{pinParteBacking.availableYears}" var="agno" itemValue="#{agno}" itemLabel="#{agno}" />
                    </p:selectOneMenu>
                </p:panelGrid>
            </p:panelGrid>

            <p:panelGrid columns="2"  styleClass="noborder nomargin" >
                <p:outputLabel for="scanInput">
                    <p:graphicImage library="images" name="barcode.png" height="32" />
                </p:outputLabel>
                <p:inputText id="scanInput" widgetVar="scanInput" value="#{pinParteBacking.scanInput}" size="24" />
            </p:panelGrid>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="btnCerrar" value="Cerrar" icon="fa fa-sign-out" 
                                 immediate="true"  title="Cierra esta ventana de diálogo"  
                                 oncomplete="PF('dlgAbrirOrdenanza').hide();" 
                                 update="@form"
                                 actionListener="#{pinParteBacking.resetPatronBusqueda()}"/>
                <p:commandButton id="btnAbrirOrdenanza" widgetVar="btnAbrirOrdenanza" value="Abrir" icon="fa fa-folder-open-o" 
                                 title="Abrir la reseña de Ordenanza indicada"
                                 oncomplete="PF('dlgAbrirOrdenanza').hide();"  
                                 actionListener="#{pinParteBacking.abrir()}"
                                 update="fMain:ordenanzaPanel :fMain:tOrdenanza" 
                                 disabled="#{pinParteBacking.patronBusqueda.numeroParte eq null}"/>
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 