<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="editarOrdenanza" widgetVar="dlgEditarOrdenanza" 
              modal="true" resizable="false" dynamic="true"
              header="#{pinParteBacking.accion} Ordenanza - #{pinParteBacking.selectedParte.unidad.nombre}" showEffect="slide" 
              hideEffect="slide" styleClass="noborder"
              closable="false" focus=":fEditarOrdenanza:ordenanza">

        <h:form id="fEditarOrdenanza" prependId="false">  
            <p:defaultCommand target="bnGrabar"/>

            <ui:include src="../formAltaOrdenanza.xhtml" />

            <p:separator/>

            <p:panelGrid id='botones' columns="2" styleClass="nopadding" columnClasses="float_izquierda, float_derecha" style="width:100em;">
                <p:panelGrid columns="6">
                    <p:commandButton value="Cancelar y salir" icon="fa fa-sign-out" 
                                     process="@this" 
                                     title="Cerrar el formulario descartando los datos introducidos"
                                     oncomplete="PF('dlgEditarOrdenanza').hide();" 
                                     update="fEditarOrdenanza :fMain:panelPrincipal" />

                    <p:commandButton id="bnGrabar" value="Grabar" icon="fa fa-save" 
                                     actionListener="#{pinParteBacking.saveBorrador(true)}" 
                                     title="Guardar el parte como borrador sin ser enviado a la oficina"
                                     update=":fMain:ordenanzaPanel :fMain:tOrdenanza fAnadirAdjunto fEditarOrdenanza" 
                                     disabled="#{!pinParteBacking.canSaveOrdenanza}"/>  

                    <p:spacer width="5" />

                    <p:commandButton value="Imprimir" 
                                     icon="fa fa-print" 
                                     title="Ver una vista previa de la reseña para archivarlo y/o imprimirlo."
                                     update="fEditarOrdenanza" 
                                     actionListener="#{pinParteBacking.generateReport()}" 
                                     disabled="#{pinParteBacking.selectedParte.numeroParte eq null}"
                                     onclick="PF('dlgImprimiendoParte').show();" 
                                     oncomplete="PF('dlgImprimiendoParte').hide();"
                                     onerror="PF('dlgImprimiendoParte').hide();" 
                                     process="@this"/>

                    <p:ajaxStatus>
                        <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                        <f:facet name="complete"><h:outputText value=""/></f:facet>
                    </p:ajaxStatus>
                </p:panelGrid>

                <p:panelGrid columns="1">
                    <p:commandButton value="Nueva ordenanza" 
                                     icon="fa fa-paint-brush" 
                                     update=":fMain:ordenanzaPanel :fMain:tOrdenanza :fEditarOrdenanza" 
                                     title="Limpia los datos del formulario."
                                     actionListener="#{pinParteBacking.crearOrdenanza()}" 
                                     process="@this">
                        <p:resetInput target="@this" />
                    </p:commandButton>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

