<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"> 

    <p:dialog id="seleccionarCoordenadas" widgetVar="dlgSeleccionarCoordenadas" 
              modal="true" resizable="false" dynamic="true"
              header="Seleccionar coordenadas" showEffect="fade" 
              hideEffect="fade" styleClass="noborder"
              closable="true">
        <h:form id="fSeleccionarCoordenadas" prependId="false">  
            <p:spacer height="5"/>
            <p:panel style="width: 550px;">
                <h:outputText value="El marcador mostrado indica aproximadamente el centro de la vía seleccionada. Por favor, ajuste 
                              el punto exacto del suceso haciendo click en el mismo y  arrastrándolo hasta el lugar deseado. Después, 
                              pulse el botón [Aceptar]. Recuerde que posteriormente aún podrá modificar esta ubicación." />
            </p:panel>
            <p:spacer height="5"/>   
            <p:gmap id="viaMap"
                    center="#{pinParteBacking.center}" 
                    zoom="#{pinParteBacking.zoom}" type="MAP" style="height: 350px; width: 550px;" 
                    model="#{pinParteBacking.mapModel}" navigationControl="true" >
                <p:ajax event="overlaySelect" listener="#{pinParteBacking.onMarkerSelect}" />
                <p:ajax event="pointSelect" listener="#{pinParteBacking.onPointSelect}" update="viaMap"/>
                <p:ajax event="markerDrag" listener="#{pinParteBacking.onMarkerDrag}" update="viaMap" />
                <p:ajax event="stateChange" listener="#{pinParteBacking.onStateChange}" />
            </p:gmap>
            <p:spacer height="5"/>

            <p:panel style="max-width: 550px;">
                <h:outputText value="Tenga en consideración que la correcta ubicación del lugar del hecho informado es primordial 
                              para la posterior localización del mismo en el caso de intervenciones de los servicios ajenos
                              que se puedan requerir." style="color:red;" />
            </p:panel>

            <p:separator/>

            <p:panelGrid columns="3" styleClass="nopadding">
                <p:commandButton id="bnAceptarCoor" value="Aceptar" icon="fa fa-check" 
                                 title="Añadir la vía seleccionada"
                                 actionListener="#{pinParteBacking.asignarVia(true)}"
                                 update="fEditarOrdenanza"
                                 disabled="#{pinParteBacking.selectedVia eq null}"
                                 oncomplete="PF('dlgSeleccionarCoordenadas').hide();"   />
                <p:ajaxStatus>
                    <f:facet name="start"><h:graphicImage library="images" name="loading.gif"/></f:facet>
                    <f:facet name="complete"><h:outputText value=""/></f:facet>
                </p:ajaxStatus>

            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition> 