<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='historicoImpresion' header="Visualizaciones o Impresiones #{pinParteBacking.selectedParte.numParteFormateado}" widgetVar="dlgVerHistoricoImpresion" showEffect="slide" hideEffect="slide" resizable="false">
        <p:panelGrid columns="1" styleClass="noborder">
            <p:dataTable id="tHistoricoImpresion" styleClass="border"
                         value="#{pinParteBacking.selectedParte.historico}"
                         var="historico" emptyMessage="No hay información disponible" 
                         rowKey="#{historico.idHistorico}" sortBy="#{historico.fecha}"
                         scrollHeight="200" scrollable="true"
                         style="height: 21em; width: 40em">
                <p:column headerText="Fecha" sortBy="#{historico.fecha}" style="width: 10em" styleClass="centro">
                    <h:outputText value="#{historico.fecha}" styleClass="smallfont">
                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Elemento" sortBy="#{historico.elemento}" style="width: 14em" >
                    <h:outputText value="#{historico.elemento}" styleClass="smallfont"/>
                </p:column>

                <p:column headerText="Usuario" sortBy="#{historico.usuario}" style="width: 8em" >
                    <h:outputText value="#{historico.usuario}" styleClass="smallfont"/>
                </p:column>
            </p:dataTable>

            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             onclick="PF('dlgVerHistoricoImpresion').hide();" 
                             immediate="true"/>
        </p:panelGrid>
    </p:dialog>
</ui:composition>



