<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id='situaciones' header="Situaciones de la ordenanza #{pinParteBacking.selectedParte.numParteFormateado}" widgetVar="dlgVerHistorico" showEffect="slide" hideEffect="slide" resizable="false">
        <p:panelGrid columns="1" styleClass="noborder">
            <p:dataTable id="tHistorico" styleClass="border"
                         value="#{pinParteBacking.selectedParte.situaciones}"
                         var="situacion" emptyMessage="No hay información disponible" 
                         rowKey="#{situacion.idSituacion}" sortBy="#{situacion.fecha}"
                         scrollHeight="200" scrollable="true"
                         style="height: 21em; width: 40em">
                <p:column headerText="Fecha" sortBy="#{situacion.fecha}" style="width: 12em" styleClass="centro">
                    <h:outputText value="#{situacion.fecha}" styleClass="smallfont">
                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Situación" sortBy="#{situacion.situacion}" >
                    <h:outputText value="#{situacion.situacion}" styleClass="smallfont" />
                </p:column>

                <p:column headerText="Usuario" sortBy="#{situacion.usuario}" style="width: 10em" >
                    <h:outputText value="#{situacion.usuario}" styleClass="smallfont"/>
                </p:column>
            </p:dataTable>

            <p:commandButton value="Cerrar" icon="fa fa-sign-out" 
                             onclick="PF('dlgVerHistorico').hide();" 
                             immediate="true"/>
        </p:panelGrid>
    </p:dialog>
</ui:composition>



