<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="editDestinatarios" widgetVar="dlgEditDestinatarios" 
              modal="true" resizable="false" 
              header="Asignación de destinatarios" showEffect="slide" 
              hideEffect="slide" dynamic="true" >
        <h:form id="fEditDestinos" styleClass="noborder">  


            <p:panelGrid columns="3" columnClasses="arriba,centro,arriba" styleClass="noborder">                      

                <p:panelGrid columns="1">        
                    <p:panelGrid columns="2" styleClass="noborder">
                        <p:outputLabel value="Ámbito" for="ambito"/>
                        <p:selectOneMenu id="ambito" label="Ámbito"
                                         value="#{pinDestinatariosBacking.origenDestinoDisponible}" 
                                         style="width:235px;" >
                            <f:selectItem itemLabel="Jefatura" itemValue="#{Constants.DESTINO_JEFATURA}"/>
                            <f:selectItem itemLabel="Ayuntamiento" itemValue="#{Constants.DESTINO_AYUNTAMIENTO}"/>
                            <f:selectItem itemLabel="Organismo externo" itemValue="#{Constants.DESTINO_EXTERNO}"/>

                            <p:ajax event="change"  update="destinoDisponible" onstart="PF('wvDestinoDisponible').clearFilters()"/>
                            
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:dataTable id="destinoDisponible" widgetVar="wvDestinoDisponible" var="destinoDisponible" style="width:30em;min-height: 315px" 
                                 scrollable="true" scrollHeight="250" 
                                 emptyMessage="No se encontraron registros"
                                 selectionMode="single" selection="#{pinDestinatariosBacking.selectedDestinatarioDisponible}"
                                 rowKey="#{destinoDisponible.idMiembro}"
                                 value="#{pinDestinatariosBacking.destinosDisponibles}">
                        <p:ajax update="@form" event="rowSelect" />
                        <p:ajax update="@form" event="rowUnselect"  listener="#{pinDestinatariosBacking.resetSelectedDestinatarioDisponible()}"/>

                        <f:facet name="header">Disponibles</f:facet>
                        <p:column  filterBy="#{destinoDisponible.nombre}"  filterMatchMode="contains" filterStyle="height: 2em; float: right">
                            <h:outputText value="#{destinoDisponible.nombre}"/>
                        </p:column> 
                        <f:facet name="footer">#{empty pinDestinatariosBacking.destinosDisponibles ? 0 : pinDestinatariosBacking.destinosDisponibles.size()} destinos posibles</f:facet>
                    </p:dataTable>
                </p:panelGrid>

                <p:panelGrid columns="1" >
                    <p:commandButton icon="fa fa-arrow-right" 
                                     title="Añadir a la lista de asignaciones" 
                                     disabled="#{pinDestinatariosBacking.selectedDestinatarioDisponible eq null}"
                                     update="@form"
                                     actionListener="#{pinDestinatariosBacking.anadirAsignado()}"/>
                    <p:spacer height="3" />
                    <p:commandButton icon="fa fa-arrow-left" 
                                     title="Eliminar de la lista de asignaciones" 
                                     disabled="#{pinDestinatariosBacking.selectedDestinatarioAsignado eq null}" 
                                     update="@form"
                                     actionListener="#{pinDestinatariosBacking.eliminarAsignado()}"/>
                </p:panelGrid>

                <p:panelGrid columns="1">  
                    <p:dataTable id="destinoAsignado" var="destinoAsignado" style="width:30em;min-height: 315px;margin-top:37px" 
                                 scrollable="true" scrollHeight="250" 
                                 emptyMessage="Sin asignación de destino"
                                 selectionMode="single" selection="#{pinDestinatariosBacking.selectedDestinatarioAsignado}"
                                 rowKey="#{destinoAsignado.idMiembro}"
                                 value="#{pinDestinatariosBacking.selectedSubasunto.destinos}">
                        <p:ajax update="@form" event="rowSelect" />
                        <p:ajax update="@form" event="rowUnselect"  listener="#{pinDestinatariosBacking.resetSelectedDestinatarioAsignado()}"/>

                        <f:facet name="header">Asignados</f:facet>
                        <p:column   filterStyle="height: 2em; float: right">
                            <h:outputText value="#{destinoAsignado.nombre}"/>
                        </p:column> 
                        <f:facet name="footer">#{empty pinDestinatariosBacking.selectedSubasunto.destinos ? 0 : pinDestinatariosBacking.selectedSubasunto.destinos.size()} destinos asignados</f:facet>
                    </p:dataTable>
                </p:panelGrid>
            </p:panelGrid>   

            <p:separator/>
            <p:panelGrid columns="3">
                <p:commandButton value="Cancelar" icon="fa fa-sign-out" 
                                 onclick="PF('dlgEditDestinatarios').hide();" immediate="true"
                                 actionListener="#{pinDestinatariosBacking.resetDestinos()}"
                                 update=":fMain" />
                <p:commandButton value="Guardar los cambios" icon="fa fa-save" 
                                 actionListener="#{pinDestinatariosBacking.modifyDestinos()}" 
                                 update=":fMain" 
                                 oncomplete="PF('dlgEditDestinatarios').hide()"/>  
                <p:ajaxStatus>
                    <f:facet name="start">
                        <h:graphicImage value="/resources/images/loading.gif"/>
                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value=""/>
                    </f:facet>
                </p:ajaxStatus>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>    

