<?xml version='1.0' encoding='UTF-8' ?> 

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:h="http://java.sun.com/jsf/html"
                template="/resources/templates/template1.xhtml">  
    <ui:define name="appData">
        <h:panelGrid columns="1" styleClass="panelCentrado centro">
            <h:outputLabel value="#{user.unidad.nombre}" styleClass="tituloUnidad"/>
            <p:graphicImage library="images" name="fondo.jpg"/>            
        </h:panelGrid>
    </ui:define>
</ui:composition>        
