<?xml version='1.0' encoding='UTF-8' ?> 

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/template0.xhtml">  
    <ui:define name="content">
        <h:form id="fLogin" prependId="false">
            <p:focus for="user"/>

            <p:panel styleClass="centro sombra login" header="Identificación" style="width:20rem;" >
                <h:panelGrid columns="3" styleClass="izquierda panelCentrado2" style="margin:0.5rem">
                    <h:outputLabel value="Usuario" for="user"/>
                    <p:spacer width="5"/>
                    <p:inputText id="user" label="Usuario" 
                                 value="#{loginBacking.sessionUser.id.usuario}" required="true"
                                 style="width: 13rem;margin-bottom: 0.3rem"/>

                    <h:outputLabel value="Contraseña" for="password"/>
                    <p:spacer width="5"/>
                    <p:password id="password" label="Contraseña" value="#{loginBacking.password}" 
                                required="true" style="width: 13rem;margin-bottom: 0.3rem" autocomplete="true"/>

                    <h:outputLabel value="Dominio" for="dominio"/>
                    <p:spacer width="5"/>
                    <p:inputText id="dominio" label="Dominio" value="#{loginBacking.sessionUser.dominio}" 
                                 required="true" style="width: 13rem;margin-bottom: 0.3rem"/>
                </h:panelGrid>
                
                <p:separator style="margin: 0.3rem !important"/>
                
                <h:panelGrid columns="1" styleClass="panelCentrado2" columnClasses="t250,ancho_fijo">
                    <p:commandButton id="bnLogin" value="Acceder" action="#{loginBacking.login}" 
                                     icon="fa fa-key"/>                   
                </h:panelGrid>
                
                <p:ajaxStatus onstart="PF('dlgAjaxStatus').show()" oncomplete="PF('dlgAjaxStatus').hide()" onerror="PF('dlgAjaxStatus').hide()"/>
                <p:messages closable="true" showDetail="true" showSummary="false">
                    <p:autoUpdate />
                </p:messages>
            </p:panel>    
        </h:form>
    </ui:define>
</ui:composition>
