<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/template0.xhtml"
                xmlns:p="http://primefaces.org/ui">           

    <ui:define name="content">
        <h:form id="fMain" style="min-height: 45em"> 
            <p:panelGrid columns="1" style="margin:9rem auto; width: 60%; text-align: center" styleClass="noborder">                
                <p:outputLabel value="Navegador no soportado" style="font-size: xx-large" />                                  
                <p:outputLabel value="Esta aplicación requiere el uso de Firefox o Chrome" style="font-size: large" />
                <p:spacer height="20" />
                <p:panelGrid columns="2" style="margin:0.3rem auto; width: 60%; text-align: center" styleClass="centro">
                    <p:graphicImage library="images" name="firefox.png" width="150"/>              
                    <p:graphicImage library="images" name="chrome.png" width="250"/>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition> 